gsui-drum,
gsui-drumcut {
	position: absolute;
	width: 1em;
}
gsui-drum {
	height: 66%;
}
gsui-drumcut {
	container: gsuiDrumcut / inline-size;
	bottom: 1px;
	height: calc( 34% - 2px );
}

/* .......................................................................... */
.gsuiDrum-in,
.gsuiDrumcut-in {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	border-radius: 3px;
	border-top: 2px solid #ffffff4f;
	border-bottom: 2px solid #0000001f;
	border-right: 1px solid #00000033;
	background-color: var( --gsuiDrums-drum-bg );
}
.gsuiDrumcut-in {
	font-size: 10px;
	background-color: var( --gsuiDrums-drumcut-bg );
}
.gsuiDrumcut-in .gsuiIcon {
	opacity: .6;
}

/* .......................................................................... */
.gsuiDrum-prop {
	position: relative;
	width: 100%;
	height: 3px;
	background-color: var( --gsuiDrums-drumprop-bg );
	transition: .1s height;
}
.gsuiDrums-lineOpen[ data-prop="pan" ] .gsuiDrum-prop[ data-value="pan" ],
.gsuiDrums-lineOpen[ data-prop="gain" ] .gsuiDrum-prop[ data-value="gain" ],
.gsuiDrums-lineOpen[ data-prop="detune" ] .gsuiDrum-prop[ data-value="detune" ] {
	height: 6px;
}
.gsuiDrum-prop + .gsuiDrum-prop {
	margin-top: 2px;
}
.gsuiDrum-propValue {
	position: absolute;
	height: 100%;
	background-color: var( --gsuiDrums-drumprop-color );
}

/* .......................................................................... */
@container gsuiDrumcut ( max-width: 14px ) {
	.gsuiDrumcut-in .gsuiIcon {
		display: none;
	}
}
