gsui-keys {
	--gsuiKeys-firstOctave: 0;
	--gsuiKeys-nbOctaves: 0;
	--gsui-gradientDeg: 90deg;
	display: block;
	position: relative;
	height: 100%;
	z-index: 0;
	counter-reset: octave calc( var( --gsuiKeys-firstOctave ) + var( --gsuiKeys-nbOctaves ) );;
	user-select: none;
	-webkit-user-select: none;
}
gsui-keys[ orient="vertical" ] {
	height: calc( var( --gsuiKeys-nbOctaves ) * 12em );
}
gsui-keys[ orient="horizontal" ] {
	--gsui-gradientDeg: 180deg;
	width: calc( var( --gsuiKeys-nbOctaves ) * 12em );
}

/* .......................................................................... */
gsui-keys,
.gsuiKey {
	background-image: linear-gradient(
		var( --gsui-gradientDeg ),
		var( --gsuiKeys-whiteKey-gradA ),
		var( --gsuiKeys-whiteKey-gradB )
	);
}

/* .......................................................................... */
.gsuiKey .gsuiKey-row {
	display: none;
}
.gsuiKey-row {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 1em;
}
.gsuiKeyBlack-row {
	background-color: var( --gsuiKeys-blackRow-bg );
}
.gsuiKey-row:hover { background-color: var( --gsuiKeys-whiteRow-hover-bg ); }
.gsuiKeyBlack-row:hover { background-color: var( --gsuiKeys-blackRow-hover-bg ); }
.gsuiKey-row > div {
	position: absolute;
	inset: 0;
}

/* .......................................................................... */
.gsuiKey-row[ data-key="0" ],
.gsuiKey-row[ data-key="5" ],
gsui-keys[ orient="vertical" ] .gsuiKey[ data-key="0" ]:not( :last-child ),
gsui-keys[ orient="vertical" ] .gsuiKey[ data-key="5" ] {
	border-bottom: 1px solid #0003;
}
gsui-keys[ orient="horizontal" ] .gsuiKey[ data-key="0" ]:not( :last-child ),
gsui-keys[ orient="horizontal" ] .gsuiKey[ data-key="5" ] {
	border-left: 1px solid #0003;
}

/* .......................................................................... */
.gsuiKey {
	box-sizing: border-box;
	position: absolute;
}
gsui-keys[ orient="vertical" ] .gsuiKey {
	inset: auto 0;
	top: calc( var( --gsuiKeys-key-id ) * 1em );
	height: 1.5em;
}
gsui-keys[ orient="horizontal" ] .gsuiKey {
	inset: 0 auto;
	right: calc( var( --gsuiKeys-key-id ) * 1em );
	width: 1.5em;
}
.gsuiKeyBlack {
	position: absolute;
	z-index: 1;
	background-image: linear-gradient(
		var( --gsui-gradientDeg ),
		var( --gsuiKeys-blackKey-gradA ),
		var( --gsuiKeys-blackKey-gradB )
	);
}
gsui-keys[ orient="vertical" ] .gsuiKeyBlack {
	width: 65%;
	height: 1em;
	border-radius: 0 .1em .1em 0;
}
gsui-keys[ orient="horizontal" ] .gsuiKeyBlack {
	width: 1em;
	height: 65%;
	border-radius: 0 0 .1em .1em;
}
.gsuiKey[ data-key="0" ] {
	filter: brightness( .9 );
}
.gsuiKey[ data-key="0" ]::after {
	counter-increment: octave -1;
	content: "C" counter( octave );
	position: absolute;
	right: .25em;
	bottom: 2px;
	color: #000;
	font-size: calc( 6px + .25em );
	font-family: monospace;
}
.gsuiKey-root[ data-key="0" ]::after {
	color: var( --gsuiKeys-whiteKey-gradB );
	padding: 0 2px;
	border-radius: 3px;
	background-color: var( --gsuiKeys-rootKey );
}
.gsuiKey-root.gsui-active::after {
	color: var( --gsuiKeys-rootKey );
	background-color: var( --gsuiKeys-whiteKey-gradB );
}
gsui-keys[ orient="horizontal" ] .gsuiKey[ data-key="0" ]::after {
	left: .35em;
	right: auto;
}
.gsuiKey.gsui-active {
	background-image: linear-gradient(
		var( --gsui-gradientDeg ),
		var( --gsuiKeys-activeKey-gradA ),
		var( --gsuiKeys-activeKey-gradB )
	);
}

gsui-keys[ orient="vertical" ] .gsuiKey[ data-key="9" ],
gsui-keys[ orient="vertical" ] .gsuiKey[ data-key="7" ],
gsui-keys[ orient="vertical" ] .gsuiKey[ data-key="2" ] {
	height: 2em;
}
gsui-keys[ orient="horizontal" ] .gsuiKey[ data-key="9" ],
gsui-keys[ orient="horizontal" ] .gsuiKey[ data-key="7" ],
gsui-keys[ orient="horizontal" ] .gsuiKey[ data-key="2" ] {
	width: 2em;
}
.gsuiKey[ data-key="9" ],
.gsuiKey[ data-key="7" ],
.gsuiKey[ data-key="5" ],
.gsuiKey[ data-key="2" ],
.gsuiKey[ data-key="0" ] {
	margin-top: -.5em;
}
gsui-keys[ orient="horizontal" ] .gsuiKey[ data-key="9" ],
gsui-keys[ orient="horizontal" ] .gsuiKey[ data-key="7" ],
gsui-keys[ orient="horizontal" ] .gsuiKey[ data-key="5" ],
gsui-keys[ orient="horizontal" ] .gsuiKey[ data-key="2" ],
gsui-keys[ orient="horizontal" ] .gsuiKey[ data-key="0" ] {
	margin-top: 0;
	margin-right: -.5em;
}
