:root {
	--gsuiKeys-keyNotation: "do";
}

gsui-keys {
	--gsuiKeys-firstOctave: 0;
	--gsuiKeys-nbOctaves: 0;
	display: block;
	position: relative;
	touch-action: none;
	height: 100%;
	z-index: 0;
	counter-reset: octave calc( var( --gsuiKeys-firstOctave ) + var( --gsuiKeys-nbOctaves ) );

	&[ orient="vertical" ] {
		--gsuiKeys-gradientDeg: 90deg;
		height: calc( var( --gsuiKeys-nbOctaves ) * 12em );
	}
	&[ orient="horizontal" ] {
		--gsuiKeys-gradientDeg: 180deg;
		width: calc( var( --gsuiKeys-nbOctaves ) * 12em );
	}
}

/* .......................................................................... */
gsui-keys,
.gsuiKeys-key {
	background-image: linear-gradient(
		var( --gsuiKeys-gradientDeg ),
		var( --gsuiKeys-whiteKey-gradA ),
		var( --gsuiKeys-whiteKey-gradB )
	);
}

/* .......................................................................... */
.gsuiKeys-key .gsuiKeys-row {
	display: none;
}
.gsuiKeys-row {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 1em;
}
.gsuiKeys-rowBlack {
	background-color: var( --gsuiKeys-blackRow-bg );
}
.gsuiKeys-row > div {
	position: absolute;
	inset: 0;
}
gsui-pianoroll:has( .gsuiBlocksManager-selection-hidden ) .gsuiKeys-row:hover { background-color: var( --gsuiKeys-whiteRow-hover-bg ); }
gsui-pianoroll:has( .gsuiBlocksManager-selection-hidden ) .gsuiKeys-rowBlack:hover { background-color: var( --gsuiKeys-blackRow-hover-bg ); }

/* .......................................................................... */
.gsuiKeys-row[ data-key="0" ],
.gsuiKeys-row[ data-key="5" ],
gsui-keys[ orient="vertical" ] .gsuiKeys-key[ data-key="0" ]:not( :last-child ),
gsui-keys[ orient="vertical" ] .gsuiKeys-key[ data-key="5" ] {
	border-bottom: 1px solid #0003;
}
gsui-keys[ orient="horizontal" ] .gsuiKeys-key[ data-key="0" ]:not( :last-child ),
gsui-keys[ orient="horizontal" ] .gsuiKeys-key[ data-key="5" ] {
	border-left: 1px solid #0003;
}

/* .......................................................................... */
.gsuiKeys-key {
	box-sizing: border-box;
	position: absolute;

	gsui-keys[ orient="vertical" ] & {
		inset: auto 0;
		top: calc( var( --gsuiKeys-key-id ) * 1em );
		height: 1.5em;
	}
	gsui-keys[ orient="horizontal" ] & {
		inset: 0 auto;
		right: calc( var( --gsuiKeys-key-id ) * 1em );
		width: 1.5em;
	}
}
.gsuiKeys-keyBlack {
	position: absolute;
	z-index: 1;
	background-image: linear-gradient(
		var( --gsuiKeys-gradientDeg ),
		var( --gsuiKeys-blackKey-gradA ),
		var( --gsuiKeys-blackKey-gradB )
	);

	gsui-keys[ orient="vertical" ] & {
		width: 65%;
		height: 1em;
		border-radius: 0 .1em .1em 0;
	}
	gsui-keys[ orient="horizontal" ] & {
		width: 1em;
		height: 65%;
		border-radius: 0 0 .1em .1em;
	}
}
.gsuiKeys-key[ data-key="0" ] {
	filter: brightness( .9 );

	&::after {
		counter-increment: octave -1;
		content: var( --gsuiKeys-keyNotation ) "·" counter( octave );
		position: absolute;
		right: .25em;
		bottom: 2px;
		color: #000;
		font-size: calc( 6px + .25em );
		font-family: monospace;

		gsui-keys[ orient="horizontal" ] & {
			left: .35em;
			right: auto;
		}
	}
}
.gsuiKeys-rootKey[ data-key="0" ]::after {
	color: var( --gsuiKeys-whiteKey-gradB );
	padding: 0 2px;
	border-radius: 3px;
	background-color: var( --gsuiKeys-rootKey );
}
.gsuiKeys-rootKey.gsui-active::after {
	color: var( --gsuiKeys-rootKey );
	background-color: var( --gsuiKeys-whiteKey-gradB );
}
.gsuiKeys-key.gsui-active {
	background-image: linear-gradient(
		var( --gsuiKeys-gradientDeg ),
		var( --gsuiKeys-activeKey-gradA ),
		var( --gsuiKeys-activeKey-gradB )
	);
}

gsui-keys[ orient="vertical" ] .gsuiKeys-key[ data-key="9" ],
gsui-keys[ orient="vertical" ] .gsuiKeys-key[ data-key="7" ],
gsui-keys[ orient="vertical" ] .gsuiKeys-key[ data-key="2" ] {
	height: 2em;
}
gsui-keys[ orient="horizontal" ] .gsuiKeys-key[ data-key="9" ],
gsui-keys[ orient="horizontal" ] .gsuiKeys-key[ data-key="7" ],
gsui-keys[ orient="horizontal" ] .gsuiKeys-key[ data-key="2" ] {
	width: 2em;
}
.gsuiKeys-key[ data-key="9" ],
.gsuiKeys-key[ data-key="7" ],
.gsuiKeys-key[ data-key="5" ],
.gsuiKeys-key[ data-key="2" ],
.gsuiKeys-key[ data-key="0" ] {
	margin-top: -.5em;
}
gsui-keys[ orient="horizontal" ] .gsuiKeys-key[ data-key="9" ],
gsui-keys[ orient="horizontal" ] .gsuiKeys-key[ data-key="7" ],
gsui-keys[ orient="horizontal" ] .gsuiKeys-key[ data-key="5" ],
gsui-keys[ orient="horizontal" ] .gsuiKeys-key[ data-key="2" ],
gsui-keys[ orient="horizontal" ] .gsuiKeys-key[ data-key="0" ] {
	margin-top: 0;
	margin-right: -.5em;
}
