.gsuiKeys {
	display: block;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
}

.gsuiKeys,
.gsuiKey {
	background-image: linear-gradient(
		90deg,
		var( --gsuiKeys-whiteKey-gradA ),
		var( --gsuiKeys-whiteKey-gradB ) );
}

.gsuiKey .gsuiKey-row {
	display: none;
}
.gsuiKey-row {
	position: absolute;
	box-sizing: border-box;
	z-index: 0;
	width: 100%;
	height: 1em;
}
.gsuiKeyBlack-row {
	background-color: var( --gsuiKeys-blackRow-bg );
}
.gsuiKey-row:hover { background-color: var( --gsuiKeys-whiteRow-hover-bg ); }
.gsuiKeyBlack-row:hover { background-color: var( --gsuiKeys-blackRow-hover-bg ); }

.gsuiKey[ data-key="0" ],
.gsuiKey[ data-key="5" ],
.gsuiKey-row[ data-key="0" ],
.gsuiKey-row[ data-key="5" ] {
	border-bottom: 1px solid #0003;
}
.gsuiKey-row > div {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.gsuiKey {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	height: 1.5em;
}
.gsuiKeyBlack {
	position: absolute;
	z-index: 1;
	width: 65%;
	height: 1em;
	border-radius: 0 .1em .1em 0;
	background-image: linear-gradient(
		90deg,
		var( --gsuiKeys-blackKey-gradA ),
		var( --gsuiKeys-blackKey-gradB )
	);
}
.gsuiKey[ data-key="0" ] {
	filter: brightness( .9 );
}
.gsuiKey[ data-key="0" ]::after {
	counter-increment: octave -1;
	content: "C" counter( octave );
	position: absolute;
	right: .25em;
	bottom: 0;
	color: #000;
	font-size: calc( 6px + .25em );
	font-family: monospace;
}
.gsuiKey.gsui-active {
	background-image: linear-gradient(
		90deg,
		var( --gsuiKeys-activeKey-gradA ),
		var( --gsuiKeys-activeKey-gradB )
	);
}

.gsuiKey:last-child {
	border-bottom: 0;
}
.gsuiKey[ data-key="9" ],
.gsuiKey[ data-key="7" ],
.gsuiKey[ data-key="2" ] {
	height: 2em;
}
.gsuiKey[ data-key="9" ],
.gsuiKey[ data-key="7" ],
.gsuiKey[ data-key="5" ],
.gsuiKey[ data-key="2" ],
.gsuiKey[ data-key="0" ] {
	margin-top: -.5em;
}
