:root {
	--gsuiDragline-color: #fff;
	--gsuiDragline-dotSize: 8px;
	--gsuiDragline-lineSize: 4px;
}

/* ................................................................ */
.gsuiDragline {
	position: absolute;
	max-width: 0;
	max-height: 0;
	color: var( --gsuiDragline-color );
}
.gsuiDragline-dragging,
.gsuiDragline-dragging .gsuiDragline-to {
	pointer-events: none;
}

/* ................................................................ */
.gsuiDragline-main {
	--gsui-lineDir: to top left;
	--gsui-w: calc( var( --gsuiDragline-lineSize ) / 2 );

	position: absolute;
	min-width: var( --gsuiDragline-lineSize );
	min-height: var( --gsuiDragline-lineSize );
	pointer-events: none;
	background-color: rgba( 100, 100, 200, .2 );
	background-image: linear-gradient( var( --gsui-lineDir ),
		transparent 0%,
		transparent calc( 50% - 1px - var( --gsui-w ) ),
		currentColor calc( 50% - var( --gsui-w ) ),
		currentColor calc( 50% + var( --gsui-w ) ),
		transparent calc( 50% + 1px + var( --gsui-w ) ),
		transparent 100% );
}
.gsuiDragline-down.gsuiDragline-right,
.gsuiDragline-main:not( .gsuiDragline-down ):not( .gsuiDragline-right ) {
	--gsui-lineDir: to top right;
}

/* ................................................................ */
.gsuiDragline-to {
	position: absolute;
	width: var( --gsuiDragline-dotSize );
	height: var( --gsuiDragline-dotSize );
	margin: calc( var( --gsuiDragline-dotSize ) / -2 );
	cursor: pointer;
	border-radius: 50%;
	pointer-events: all;
	background-color: currentColor;
}
.gsuiDragline-down .gsuiDragline-to { bottom: 0; }
.gsuiDragline-right .gsuiDragline-to { right: 0; }
.gsuiDragline-main:not( .gsuiDragline-down ) .gsuiDragline-to { top: 0; }
.gsuiDragline-main:not( .gsuiDragline-right ) .gsuiDragline-to { left: 0; }

/* ................................................................ */
.gsuiDragline-drop {
	position: relative;
	max-width: 0;
	max-height: 0;
}
.gsuiDragline-drop::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	background-color: var( --gsuiDragline-color );
	opacity: .8;
	transition: .1s;
	transition-property: width, height, margin, transform, opacity;
}
.gsuiDragline-dropActive::before {
	width: var( --gsuiDragline-dotSize );
	height: var( --gsuiDragline-dotSize );
	margin: calc( var( --gsuiDragline-dotSize ) / -2 );
	cursor: pointer;
	border-radius: 50%;
}
.gsuiDragline-dropActive:hover::before {
	opacity: .3;
	transform: scale( 2 );
}
