gsui-envelope {
	display: grid;
	height: 100%;
	box-sizing: border-box;
	padding: 6px;
	grid-gap: 6px;
	grid-template:
		"attack hold  decay sustain release" 28px
		"graph  graph graph graph   graph  " 1fr
		/1fr    1fr   1fr   1fr     1fr;
	font-family: var( --gsui-font );
	background-color: var( --gsui-item-bg );
	--gsuiEnvelope-wave-off: #777;
	--gsuiEnvelope-ctrls-color: var( --gsui-col-gain );
}
gsui-envelope[ type="detune" ] {
	--gsuiEnvelope-ctrls-color: var( --gsui-col-detune );
	grid-template:
		"attack hold  decay sustain release" 28px
		"graph  graph graph graph   graph  " 1fr
		"amp    amp   .     .       .      " 8px
		/1fr    1fr   1fr   1fr     1fr;
}

/* .......................................................................... */
.gsuiEnvelope-prop {
	display: flex;
	flex-direction: column;
	--gsuiSlider-lineColor: var( --gsuiEnvelope-ctrls-color );
}
.gsuiEnvelope-prop[ data-prop="amp" ]     { grid-area: amp }
.gsuiEnvelope-prop[ data-prop="attack" ]  { grid-area: attack }
.gsuiEnvelope-prop[ data-prop="hold" ]    { grid-area: hold }
.gsuiEnvelope-prop[ data-prop="decay" ]   { grid-area: decay }
.gsuiEnvelope-prop[ data-prop="sustain" ] { grid-area: sustain }
.gsuiEnvelope-prop[ data-prop="release" ] { grid-area: release }

/* .......................................................................... */
.gsuiEnvelope-propLabel {
	display: flex;
	align-self: center;
	align-items: baseline;
	height: 20px;
	font-size: 12px;
	opacity: .5;
}
.gsuiEnvelope-propLabel span:first-child {
	font-size: 10px;
}
.gsuiEnvelope-propValue::before {
	content: "·";
	margin: 0 2px;
}
.gsuiEnvelope-propValue {
	font-family: var( --gsui-font-number );
}
.gsuiEnvelope-propContent {
	flex: 1;
	position: relative;
}
gsui-envelope gsui-slider {
	height: 8px;
}
gsui-envelope .gsuiSlider-eventCatcher {
	top: -26px;
	bottom: -6px;
}

/* .......................................................................... */
gsui-envelope[ type="gain" ] .gsuiEnvelope-prop[ data-prop="amp" ] {
	display: none;
}
.gsuiEnvelope-prop[ data-prop="amp" ] {
	flex-direction: row;
	align-items: center;
	gap: 8px;
}
.gsuiEnvelope-prop[ data-prop="amp" ] .gsuiEnvelope-propLabel {
	height: auto;
}
.gsuiEnvelope-prop[ data-prop="amp" ] .gsuiEnvelope-propValue {
	width: 24px;
}
.gsuiEnvelope-prop[ data-prop="amp" ] .gsuiSlider-eventCatcher {
	inset: -6px;
}

/* .......................................................................... */
.gsuiEnvelope-graph {
	grid-area: graph;
	position: relative;
	overflow: hidden;
	min-height: 44px;
	border-radius: 4px;
	background-color: var( --gsui-screen-graph );
}
gsui-envelope gsui-envelope-graph {
	position: absolute;
	inset: 2px 0 0;
	color: var( --gsuiEnvelope-wave-off );
}
gsui-envelope[ toggle ] gsui-envelope-graph {
	color: var( --gsuiEnvelope-ctrls-color );
}
