gsui-envelope {
	display: block;
	height: 100%;
	font-family: var( --gsui-font );
	background-color: var( --gsui-item-bg );
	--gsuiEnvelope-nbProps: 5;
	--gsuiEnvelope-wave-col: var( --gsui-slider-col-disabled );
	--gsuiEnvelope-ctrls-color: var( --gsui-col-gain );
	--gsuiSlider-lineColor: var( --gsuiEnvelope-ctrls-color );
	--gsuiBeatlines-lines: var( --gsuiEnvelope-wave-col );
}
gsui-envelope[ toggle ] {
	--gsuiEnvelope-wave-col: var( --gsuiEnvelope-ctrls-color );
}
gsui-envelope[ env="detune" ] {
	--gsuiEnvelope-ctrls-color: var( --gsui-col-detune );
	--gsuiEnvelope-nbProps: 6;
}
gsui-envelope[ env="lowpass" ] {
	--gsuiEnvelope-ctrls-color: var( --gsui-col-lowpass );
	--gsuiEnvelope-nbProps: 6;
}

/* .......................................................................... */
.gsuiEnvelope-in {
	display: flex;
	height: 100%;
	min-height: calc( var( --gsuiEnvelope-nbProps ) * ( 18px + 2px ) - 2px + 2 * 6px );
	gap: 6px;
	padding: 6px;
	box-sizing: border-box;
}

/* .......................................................................... */
.gsuiEnvelope-props {
	display: flex;
	flex-direction: column;
	gap: 2px
}
.gsuiEnvelope-prop {
	display: flex;
	align-items: center;
	gap: 8px;
}

/* .......................................................................... */
.gsuiEnvelope-propLabel {
	display: flex;
	align-self: center;
	align-items: baseline;
	font-size: 12px;
	opacity: .5;
}
.gsuiEnvelope-propLabel span:first-child {
	width: 38px;
	font-weight: bold;
}
.gsuiEnvelope-propValue {
	font-family: var( --gsui-font-number );
	padding: 0 4px;
	width: 28px;
	text-align: end;
	border: 2px solid #0005;
	border-radius: 4px;
	background-color: #0004;
}
.gsuiEnvelope-propContent {
	flex: 1;
	position: relative;
	min-width: 32px;
}
gsui-envelope gsui-slider {
	height: 8px;
}
gsui-envelope .gsuiSlider-eventCatcher {
	top: -2px;
	bottom: -2px;
}

/* .......................................................................... */
gsui-envelope:not( [ env="detune" ] ) .gsuiEnvelope-prop[ data-prop="amp" ],
gsui-envelope:not( [ env="lowpass" ] ) .gsuiEnvelope-prop[ data-prop="q" ] {
	display: none;
}
.gsuiEnvelope-prop[ data-prop="amp" ],
.gsuiEnvelope-prop[ data-prop="q" ] {
	flex-direction: row;
	align-items: center;
	gap: 8px;
}
.gsuiEnvelope-prop[ data-prop="amp" ] .gsuiEnvelope-propLabel,
.gsuiEnvelope-prop[ data-prop="q" ] .gsuiEnvelope-propLabel {
	height: auto;
}
.gsuiEnvelope-prop[ data-prop="amp" ] .gsuiSlider-eventCatcher,
.gsuiEnvelope-prop[ data-prop="q" ] .gsuiSlider-eventCatcher {
	inset: -6px;
}

/* .......................................................................... */
.gsuiEnvelope-graph {
	flex: 1;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	background-color: var( --gsui-screen-graph );
}
gsui-envelope gsui-envelope-graph {
	position: absolute;
	inset: 2px 0 0;
	color: var( --gsuiEnvelope-wave-col );
}
