gsui-envelope {
	container: gsui-envelope-query / size;
	box-sizing: border-box;
	display: block;
	height: 100%;
	min-width: 144px;
	font-family: var( --gsui-font );
	border-top: var( --gsui-item-brdtop );
	border-bottom: var( --gsui-item-brdbottom );
	background-color: var( --gsui-item-bg );
	--gsuiEnvelope-previews: none;
	--gsuiEnvelope-wave-col: var( --gsui-slider-col-disabled );
	--gsuiEnvelope-ctrls-color: var( --gsui-col-gain );
	--gsuiSlider-lineColor: var( --gsuiEnvelope-ctrls-color );

	&[ toggle ] {
		--gsuiEnvelope-previews: block;
		--gsuiEnvelope-wave-col: var( --gsuiEnvelope-ctrls-color );
	}
	&[ env="detune" ] {
		--gsuiEnvelope-ctrls-color: var( --gsui-col-detune );
	}
	&[ env="lowpass" ] {
		--gsuiEnvelope-ctrls-color: var( --gsui-col-lowpass );
	}
}

/* .......................................................................... */
.gsuiEnvelope-in {
	display: flex;
	height: 100%;
	gap: 6px;
	padding: 6px;
	box-sizing: border-box;
}

/* .......................................................................... */
.gsuiEnvelope-props {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 2px;
	flex: 1;

	> * {
		display: flex;
		align-items: center;
		height: 18px;
		gap: 6px;
		font-size: 12px;

		gsui-envelope:not( [ env="detune" ] ) &[ data-prop="amp" ],
		gsui-envelope:not( [ env="lowpass" ] ) &[ data-prop="q" ] {
			display: none;
		}
	}
	gs-label {
		min-width: 32px;
	}
	gs-output {
		min-width: 44px;
	}
	gsui-slider {
		flex: 1;
		height: 8px;
		min-width: 40px;
	}
	.gsuiSlider-eventCatcher {
		top: -6px;
		bottom: -6px;
		left: -52px;
	}
}

/* .......................................................................... */
.gsuiEnvelope-graph {
	flex: 2;
	position: relative;
	border-radius: 4px;
	background-color: var( --gsui-screen-graph );

	gsui-beatlines {
		border-radius: inherit;
	}
	gsui-envelope-graph {
		position: absolute;
		overflow: hidden;
		inset: 2px 0 0;
		border-radius: inherit;
		color: var( --gsuiEnvelope-wave-col );
	}
}
.gsuiEnvelope-keyPreviews {
	display: var( --gsuiEnvelope-previews );
	position: absolute;
	inset: 2px 0 0;

	* {
		position: absolute;
		width: 10px;
		height: 10px;
		margin: -5px 0 0 -5px;
		border-radius: 50%;
		background-color: var( --gsuiEnvelope-ctrls-color );
	}
}

/* .......................................................................... */
@container gsui-envelope-query ( orientation: portrait ) OR ( ( max-width: 340px ) AND ( min-height: 160px ) ) {
	.gsuiEnvelope-in {
		flex-direction: column;
	}
}
