.gsuiBeatLines {
	fill: #000;
	color: #ff5;
}
.gsuiBeatLines rect {
	fill: inherit;
}
.gsuiBeatLines .gsui-step { opacity: .2; }
.gsuiBeatLines .gsui-beat { opacity: .5; }
.gsuiBeatLines .gsui-measure { opacity: .6; }
.gsuiBeatLines .gsui-currentTime {
	fill: currentColor;
	stroke: currentColor;
	stroke-opacity: .1;
	stroke-width: 5px;
}
