.gsuiBlocksManager {
	--gsuiBlocksManager-timeline-height: 32px;
	--gsuiBlocksManager-selection-bgColor: #b226;
	--gsuiBlocksManager-selection-borderColor: #f44;
	--gsuiBlocksManager-blockColor: rgba( var( --gsui-rgb-pattern ), .8 );
	--gsuiBlocksManager-blockSelectedColor: rgba( var( --gsui-rgb-patternSelected ), .8 );
}

/* .......................................................................... */
.gsuiBlocksManager-selection {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	z-index: 2;
	border: 2px solid var( --gsuiBlocksManager-selection-borderColor );
	border-radius: 4px;
	background-color: var( --gsuiBlocksManager-selection-bgColor );
	transition: .2s;
	transition-property: opacity, visibility;
}
.gsuiBlocksManager-selection-hidden {
	opacity: 0;
	visibility: hidden;
}

/* .......................................................................... */
.gsuiBlocksManager-block {
	position: absolute;
	z-index: 1;
	height: 100%;
	background-color: var( --gsuiBlocksManager-blockColor );
	transition: .1s;
	transition-property: opacity, background-color;
}
.gsuiBlocksManager-block-selected {
	--gsuiBlocksManager-blockColor: var( --gsuiBlocksManager-blockSelectedColor );
}
.gsuiBlocksManager-block-hidden {
	z-index: 0;
	opacity: .3;
}
.gsuiBlocksManager-block-crop {
	position: absolute;
	z-index: 2;
	width: 50%;
	height: 100%;
	max-width: 8px;
	border-radius: inherit;
	background-color: #000;
	opacity: 0;
	transition: .1s opacity;
}
.gsuiBlocksManager-block-cropA {
	left: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.gsuiBlocksManager-block-cropB {
	right: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.gsuiBlocksManager-block:hover .gsuiBlocksManager-block-crop,
.gsuiBlocksManager-block.gsui-hover .gsuiBlocksManager-block-crop {
	opacity: .12;
}
.gsuiBlocksManager-block .gsuiBlocksManager-block-crop:hover,
.gsuiBlocksManager-block .gsuiBlocksManager-block-crop.gsui-hover {
	opacity: .25;
}
