.gsuiToggle {
	--radius: 8px;
	--border: 1px solid rgba( 255, 255, 255, .25 );
	--color: #222;
	--color-on: #87bd42;
	--boxshadow: 0 2px 1px rgba( 0, 0, 0, .3 );
	--boxshadow-on: 0 0 10px #87bd42;
	--dur: .2s;

	position: relative;
	font-size: var( --radius );
	cursor: pointer;
}

.gsuiToggle .gsui-circle {
	position: absolute;
	box-sizing: border-box;
	width: 1em;
	height: 1em;
	top: 50%;
	left: 50%;
	margin: -.5em 0 0 -.5em;
	border-radius: 50%;
	border: var( --border );
	box-shadow: var( --boxshadow );
	background: var( --color );
	transition: var( --dur );
	transition-property: background, box-shadow;
}

.gsuiToggle .gsui-on {
	box-shadow: var( --boxshadow-on );
	background: var( --color-on );
}
