gsui-help-link {
	display: none;
	font-size: 14px;

	[ gsuihelplink-show ] & {
		display: block;
	}
	a::before,
	a::after {
		color: var( --gsuiHelpLink-txt );
	}
	a:hover::before {
		color: currentColor;
	}
}
