gsui-help-link {
	display: none;
	font-size: 14px;

	[ gsuihelplink-show ] & {
		display: block;
	}
	.gsuiIcon {
		color: var( --gsuiHelpLink-txt );
	}
	&:hover .gsuiIcon {
		color: currentColor;
	}
}
