gsui-patterns {
	--gsuiPatterns-pattern-h: 42px;
	--gsuiPatterns-pattern-head-h: 20px;
	--gsuiPatterns-pattern-grip-w: 14px;
	display: block;
	height: 100%;
}

/* .......................................................................... */
#gsuiPatterns-infoPopupContent {
	label {
		display: flex;
		align-self: start;
		align-items: center;
		height: 32px;
		cursor: pointer;
	}
	.gsuiIcon {
		width: 20px;
		margin-left: .4ch;
		margin-right: .8ch;
	}
	input[ name="bpm" ] {
		margin-left: 8px;
		width: 8ch;
	}
	input[ name="name" ] {
		width: 214px;
	}
	span + span {
		margin-left: 8px;
	}
	input[ value="loop" ]:not( :checked ) ~ span:last-of-type,
	input[ value="loop" ]:not( :checked ) ~ input[ name="bpm" ] {
		opacity: .4;
	}
}

/* .......................................................................... */
.gsuiPatterns-panel {
	display: flex;
	flex-direction: column;
	min-height: 26px;

	&:first-child {
		min-height: 24px;
	}
	&[ data-type="buffers" ],
	&[ data-type="drums" ],
	&[ data-type="slices" ] { height: 20% }
	&[ data-type="keys" ] { height: 25% }
	&[ data-type="automations" ] { height: 15% }
}

/* .......................................................................... */
.gsuiPatterns-panel-menu {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 24px;
	min-height: 24px;
	gap: 4px;
	padding: 0 6px;
	font-size: 11px;
	background-color: var( --gsui-head2-bg );

	.gsuiPatterns-panel:not( :first-child ) & {
		height: 26px;
		min-height: 26px;
		border-top: 2px solid #fff4;
	}
}
.gsuiPatterns-panel-icon,
.gsuiPatterns-panel-title {
	line-height: 1;
	opacity: .7;
}
.gsuiPatterns-panel-title {
	font-weight: bold;
}

/* .......................................................................... */
.gsuiPatterns-panel-list-wrap {
	position: relative;
	flex: 1;
}
.gsuiPatterns-panel-list {
	overflow: auto;
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
}

/* .......................................................................... */
.gsuiPatterns-btnSolid {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 14px;
	padding: 0 4px;
	border-radius: 3px;
	font-weight: bold;
	text-align: start;
	background-color: var( --gsuiPatterns-panel-btnSolid-bg );
	transition: filter .2s;

	&:focus,
	&:hover {
		filter: brightness( 1.1 );
	}
	&[ data-action="newSlices" ] { color: var( --gsuiPatterns-newSlicesBtn-color ) }
	&[ data-action="newSynth" ] { color: var( --gsuiPatterns-newSynthBtn-color ) }
	&[ data-action="newDrums" ] { color: var( --gsuiPatterns-newDrumsBtn-color ) }
	.gsuiPatterns-panel-menu & {
		width: 16px;
	}
}
.gsuiPatterns-btnIcon {
	pointer-events: none;
}
.gsuiPatterns-btnText {
	margin-left: 4px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	pointer-events: none;
}

/* .......................................................................... */
.gsuiPatterns-placeholder {
	display: none;
	overflow: hidden;
	height: 100%;
	padding: 0 10px;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	font-weight: bold;
	opacity: 0;
	transition: .3s;
	transition-property: opacity;

	.gsuiPatterns-placeholderToCheck &:only-child,
	.gsuiPatterns-placeholderToCheck:empty + & {
		display: flex;
		opacity: .4;
	}
}
