.gsuiPatterns-pattern {
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	flex-direction: column;
	height: var( --gsuiPatterns-pattern-h );
	color: var( --gsuiPatterns-pattern-color );
	font-size: 11px;
	border-bottom: 2px solid transparent;
	background-color: var( --gsuiPatterns-pattern-bg );
	transition:
		margin-top .3s,
		background-color .1s;
}
.gsuiPatterns-pattern-selected {
	--gsuiPatterns-pattern-bg: var( --gsuiPatterns-pattern-selected-bg );
	--gsuiPatterns-pattern-color: var( --gsuiPatterns-pattern-selected-color );
	--gsuiPatterns-pattern-head-bg: var( --gsuiPatterns-pattern-head-selected-bg );
}

/* .......................................................................... */
.gsuiPatterns-pattern-grip {
	position: absolute;
	inset: 0;
	width: calc( var( --gsuiPatterns-pattern-grip-w ) - 2px );
	cursor: grab;
	text-align: center;
	line-height: var( --gsuiPatterns-pattern-h );
	background-color: var( --gsuiPatterns-pattern-head-bg );
}

/* .......................................................................... */
.gsuiPatterns-pattern-btn {
	width: 20px;
	border: 0;
	outline: 0;
	padding: 0;
	opacity: .7;
	color: inherit;
	cursor: pointer;
	background: none;
	transition: .1s opacity;
}
.gsuiPatterns-pattern-btn:focus,
.gsuiPatterns-pattern-btn:hover {
	opacity: 1;
}

/* .......................................................................... */
.gsuiPatterns-pattern-head {
	display: flex;
	box-sizing: border-box;
	position: absolute;
	inset: 0 0 auto var( --gsuiPatterns-pattern-grip-w );
	height: var( --gsuiPatterns-pattern-head-h );
	line-height: var( --gsuiPatterns-pattern-head-h );
	background-color: var( --gsuiPatterns-pattern-head-bg );
	transition: inherit;
}
.gsuiPatterns-pattern-info {
	flex: 1;
	display: flex;
	align-items: center;
	padding: 0 6px;
	overflow: hidden;
}
.gsuiPatterns-pattern-btnInfo {
	width: 1em;
	font-size: 14px;
	margin-right: 8px;
}
.gsuiPatterns-pattern-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
}
.gsuiPatterns-pattern-name:empty::after {
	content: "Untitled";
	font-style: italic;
	opacity: .5;
}
.gsuiPatterns-pattern-dest {
	background-color: var( --gsuiPatterns-pattern-dest-bg );
}
.gsuiPatterns-pattern-dest:hover,
.gsuiPatterns-pattern-dest:focus {
	color: var( --gsuiPatterns-pattern-bg );
	background-color: var( --gsuiPatterns-pattern-color );
}

/* .......................................................................... */
.gsuiPatterns-pattern-content,
.gsuiPatterns-pattern-placeholder {
	position: absolute;
	inset: var( --gsuiPatterns-pattern-head-h ) 0 0 var( --gsuiPatterns-pattern-grip-w );
	pointer-events: none;
}
.gsuiPatterns-pattern-svg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	opacity: .8;
	fill: currentColor;
}

/* .......................................................................... */
.gsuiPatterns-pattern-placeholder {
	display: none;
	align-items: center;
	font-size: 14px;
	opacity: .5;
}
.gsuiPatterns-pattern[ data-missing ] .gsuiPatterns-pattern-placeholder {
	display: flex;
}
.gsuiPatterns-pattern-placeholderIcon {
	margin: 0 8px;
}
.gsuiPatterns-pattern-placeholderText {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	user-select: none;
}
