gsui-fx-delay {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	gap: 8px;
	height: 100%;
	min-width: 160px;
	min-height: 110px;
	padding: 8px;

	gs-label {
		width: 29px;
	}
}

/* .......................................................................... */
.gsuiEffect-param-row[ data-prop="time" ] { --gsuiSlider-lineColor: var( --gsui-col-time ) }
.gsuiEffect-param-row[ data-prop="gain" ] { --gsuiSlider-lineColor: var( --gsui-col-gain ) }
.gsuiEffect-param-row[ data-prop="pan" ] { --gsuiSlider-lineColor: var( --gsui-col-pan ) }

/* .......................................................................... */
.gsuiEffect-param-row[ data-prop="time" ] output::after {
	content: " b";
}
.gsuiEffect-param-row[ data-prop="pan" ] output::after,
.gsuiEffect-param-row[ data-prop="gain" ] output::after {
	content: " %";
}

/* .......................................................................... */
.gsuiFxDelay-graph {
	position: relative;
	overflow: hidden;
	flex: 1;
	border-radius: 6px;
	background-color: var( --gsui-screen-graph );
}
.gsuiFxDelay-graph-lines {
	position: absolute;
	inset: 0;
}
.gsuiFxDelay-graph-line {
	position: absolute;
	top: calc( 50% - 1px );
	width: 100%;
	height: 2px;
	background-color: currentColor;
	opacity: .2;
}
.gsuiFxDelay-graph-source,
.gsuiFxDelay-graph-echo {
	position: absolute;
	top: 50%;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	margin-left: -5px;
	border-radius: 50%;
	background-color: currentColor;
}
