gsui-fx-delay {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	height: 100%;
	padding: 8px;
	background-color: var( --gsuiFxDelay-bg );
	--gsuiSlider-lineColor: var( --gsuiFxDelay-slider );
	--gsuiSlider-lineBgColor: var( --gsuiFxDelay-slider-bg );
}

.gsuiFxDelay-param {
	display: flex;
	align-items: center;
	gap: 8px;
}

.gsuiFxDelay-param::before {
	width: 30px;
	font-size: 12px;
	font-weight: bold;
}
.gsuiFxDelay-param[ data-prop="time" ]::before {
	content: "time";
}
.gsuiFxDelay-param[ data-prop="gain" ]::before {
	content: "gain";
}
.gsuiFxDelay-param[ data-prop="pan" ]::before {
	content: "pan";
}

.gsuiFxDelay-param gsui-slider {
	flex: 1;
	height: 10px;
	min-width: 16px;
}
.gsuiFxDelay-param-value {
	width: 30px;
	font-size: 13px;
	font-family: var( --gsui-font-number );
}
