gsui-fx-delay {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	gap: 8px;
	height: 100%;
	padding: 8px;
	--gsuiSlider-lineColor: var( --gsuiFxDelay-slider );
}

/* .......................................................................... */
.gsuiFxDelay-param {
	display: flex;
	align-items: center;
	gap: 8px;
}

/* .......................................................................... */
.gsuiFxDelay-param::before {
	width: 30px;
	font-size: 12px;
	font-weight: bold;
}
.gsuiFxDelay-param[ data-prop="time" ]::before {
	content: "time";
}
.gsuiFxDelay-param[ data-prop="gain" ]::before {
	content: "gain";
}
.gsuiFxDelay-param[ data-prop="pan" ]::before {
	content: "pan";
}

/* .......................................................................... */
.gsuiFxDelay-param gsui-slider {
	flex: 1;
	height: 10px;
	min-width: 16px;
}
.gsuiFxDelay-param[ data-prop="time" ] gsui-slider {
	--gsuiSlider-lineColor: var( --gsui-col-time );
}
.gsuiFxDelay-param[ data-prop="gain" ] gsui-slider {
	--gsuiSlider-lineColor: var( --gsui-col-gain );
}
.gsuiFxDelay-param[ data-prop="pan" ] gsui-slider {
	--gsuiSlider-lineColor: var( --gsui-col-pan );
}

/* .......................................................................... */
.gsuiFxDelay-param-value {
	width: 30px;
	font-size: 13px;
	font-family: var( --gsui-font-number );
}

/* .......................................................................... */
.gsuiFxDelay-graph {
	position: relative;
	overflow: hidden;
	flex: 1;
	border-radius: 6px;
	background-color: var( --gsuiFxDelay-graph-bg );
}
.gsuiFxDelay-graph-lines {
	position: absolute;
	inset: 0;
}
.gsuiFxDelay-graph-line {
	position: absolute;
	top: calc( 50% - 1px );
	width: 100%;
	height: 2px;
	background-color: currentColor;
	opacity: .2;
}
.gsuiFxDelay-graph-source,
.gsuiFxDelay-graph-echo {
	position: absolute;
	top: 50%;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	margin-left: -5px;
	border-radius: 50%;
	background-color: currentColor;
}
