.gsuiTimeline2 {
	--gsuiTimeline2-bg: #222;
	--gsuiTimeline2-color: #fff;
	--gsuiTimeline2-loop-bg: #656586;
	--gsuiTimeline2-lines-bg: #ffffff07;
	--gsuiTimeline2-cursor-fill: #fff;
	--gsuiTimeline2-loopBorder-bg: #fff;
}
