:root {
	--gsuiPopup-dur: .2s;
	--gsuiPopup-bg: #555;
	--gsuiPopup-btn-bg: #999;
	--gsuiPopup-btnOk-bg: #67a;
	--gsuiPopup-radius: 4px;
	--gsuiPopup-padding: 10px;
	--gsuiPopup-minWidth: 250px;
	--gsuiPopup-header-bg: #333;
	--gsuiPopup-header-fontSize: 16px;
	--gsuiPopup-body-fontSize: 14px;
	--gsuiPopup-overlay-bg: rgba( 0, 0, 0, .6 );
}

#gsuiPopup {
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2147483647;
	color: #fff;
	background-color: var( --gsuiPopup-overlay-bg );
	transition: var( --gsuiPopup-dur );
	transition-property: visibility, opacity;
}
#gsuiPopup:not( .gsuiPopup-show ) {
	opacity: 0;
	visibility: hidden;
}

#gsuiPopupWindow {
	overflow: hidden;
	min-width: var( --gsuiPopup-minWidth );
	border-radius: var( --gsuiPopup-radius );
	background-color: var( --gsuiPopup-bg );
	box-shadow: 0 0 50px #000;
}
.gsuiPopup-noCancel #gsuiPopupCancel,
.gsuiPopup-noText #gsuiPopupInputText {
	display: none;
}

#gsuiPopupHead {
	padding: var( --gsuiPopup-padding );
	font-size: var( --gsuiPopup-header-fontSize );
	background-color: var( --gsuiPopup-header-bg );
}
#gsuiPopupBody {
	font-size: var( --gsuiPopup-body-fontSize );
	padding: var( --gsuiPopup-padding );
}
#gsuiPopupContent:not( :empty ) + #gsuiPopupMessage,
#gsuiPopupContent:not( :empty ) ~ input {
	display: none;
}

#gsuiPopupInputText,
#gsuiPopupBtns input {
	padding: .6em 1.25em;
	border: 0;
	border-radius: 2px;
}
#gsuiPopupInputText {
	box-sizing: border-box;
	margin-top: var( --gsuiPopup-padding );
	padding: .6em;
	width: 100%;
	font-size: 18px;
}
#gsuiPopupBtns {
	margin-top: var( --gsuiPopup-padding );
	text-align: center;
}
#gsuiPopupBtns input {
	color: #fff;
	font-weight: bold;
	font-family: inherit;
	background-color: var( --gsuiPopup-btn-bg );
	cursor: pointer;
}
#gsuiPopupBtns input + input {
	margin-left: var( --gsuiPopup-padding );
}
#gsuiPopupBtns #gsuiPopupOk {
	background-color: var( --gsuiPopup-btnOk-bg );
}
#gsuiPopupWindow input[ type="text" ] {
	color: #fff;
	background-color: rgba( 255, 255, 255, .1 );
}
