#gsuiPopup {
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2147483647;
	color: #fff;
	background-color: var( --gsuiPopup-overlay-bg );
	backdrop-filter: blur( 10px );
	transition: var( --gsuiPopup-dur );
	transition-property: visibility, opacity;
}
#gsuiPopup:not( .gsuiPopup-show ) {
	opacity: 0;
	visibility: hidden;
}

#gsuiPopupWindow {
	overflow: hidden;
	min-width: var( --gsuiPopup-minWidth );
	border-radius: var( --gsuiPopup-radius );
	background-color: var( --gsuiPopup-bg );
	outline: 0;
	box-shadow: 0 0 50px #000;
}
#gsuiPopupWindow:focus {
	box-shadow:
		0 0 1px 2px #69b,
		0 0 50px #000;
}
.gsuiPopup-noCancel #gsuiPopupCancel,
.gsuiPopup-noText #gsuiPopupInputText {
	display: none;
}

#gsuiPopupHead {
	padding: var( --gsuiPopup-padding );
	font-size: var( --gsuiPopup-header-fontSize );
	background-color: var( --gsuiPopup-header-bg );
}
#gsuiPopupBody {
	font-size: var( --gsuiPopup-body-fontSize );
	padding: var( --gsuiPopup-padding );
}
#gsuiPopupContent:not( :empty ) + #gsuiPopupMessage,
#gsuiPopupContent:not( :empty ) ~ input {
	display: none;
}

#gsuiPopupInputText,
#gsuiPopupBtns input {
	padding: .6em 1.25em;
	border: 0;
	border-radius: 2px;
}
#gsuiPopupWindow input,
#gsuiPopupWindow select {
	outline: 0;
}
#gsuiPopupWindow input:focus,
#gsuiPopupWindow select:focus {
	box-shadow: 0 0 1px 2px #69b;
}
#gsuiPopupInputText {
	box-sizing: border-box;
	margin-top: var( --gsuiPopup-padding );
	padding: .6em;
	width: 100%;
	font-size: 18px;
}
#gsuiPopupBtns {
	margin-top: var( --gsuiPopup-padding );
	text-align: center;
}
#gsuiPopupBtns input {
	color: #fff;
	font-weight: bold;
	font-family: inherit;
	background-color: var( --gsuiPopup-btn-bg );
	cursor: pointer;
}
#gsuiPopupBtns input + input {
	margin-left: var( --gsuiPopup-padding );
}
#gsuiPopupBtns #gsuiPopupOk {
	background-color: var( --gsuiPopup-btnOk-bg );
}
#gsuiPopupWindow input[ type="text" ] {
	color: #fff;
	background-color: rgba( 255, 255, 255, .1 );
}
