gsui-popup {
	--gsuiPopup-bg: #555;
	--gsuiPopup-header-bg: #333;
}

/* .......................................................................... */
.gsuiPopup-window {
	min-width: 250px;
	border: 0;
	outline: 0;
	padding: 0;
	border-radius: 4px;
	background-color: var( --gsuiPopup-bg );
	box-shadow: 0 0 50px #000;

	&:focus-within {
		box-shadow:
			0 0 1px 2px #69b,
			0 0 50px #000;
	}
	&::backdrop {
		backdrop-filter: none;
		transition: backdrop-filter .2s;
	}
	&:open::backdrop {
		backdrop-filter: brightness( .5 ) grayscale( 1 ) blur( 2px );

		@starting-style {
			backdrop-filter: none;
		}
	}
}

/* .......................................................................... */
.gsuiPopup-head {
	padding: 10px;
	font-size: 16px;
	background-color: var( --gsuiPopup-header-bg );
}
.gsuiPopup-body {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	font-size: 14px;
}
.gsuiPopup-noCancel .gsuiPopup-cancel,
.gsuiPopup-noText .gsuiPopup-inputText,
.gsuiPopup-content:not( :empty ) + .gsuiPopup-message,
.gsuiPopup-content:not( :empty ) ~ input,
.gsuiPopup-content:empty,
.gsuiPopup-message:empty {
	display: none;
}
.gsuiPopup-window input,
.gsuiPopup-window select {
	outline: 0;

	&:focus {
		box-shadow: 0 0 1px 2px #69b;
	}
}
.gsuiPopup-inputText {
	box-sizing: border-box;
	border: 0;
	border-radius: 4px;
	padding: 8px;
	width: 100%;
	font-size: 14px;
	height: 32px;
}

/* .......................................................................... */
.gsuiPopup-content a {
	color: #9df;
	text-decoration: none;
}
.gsuiPopup-content a:not( [ class*="gsui" ] ):hover {
	text-decoration: underline;
}
.gsuiPopup-content fieldset {
	display: flex;
	flex-direction: column;
	border: 2px solid #444;
	border-radius: 4px;
	margin: 0;
}
.gsuiPopup-content legend {
	font-size: 12px;
	opacity: .5;
}
.gsuiPopup-content input[ type="checkbox" ],
.gsuiPopup-content input[ type="radio" ] {
	margin: 0 8px 0 0;
}
.gsuiPopup-content input[ type="range" ] {
	min-width: 0;
}

/* .......................................................................... */
.gsuiPopup-row {
	display: flex;
	align-items: center;
	font-size: 14px;
	padding: 4px;
	gap: 6px;
}
.gsuiPopup-row + .gsuiPopup-row {
	margin-top: 6px;
}
.gsuiPopup-row-title {
	flex: 1;
	font-size: 13px;
}
.gsuiPopup-row-values,
.gsuiPopup-row-values label {
	display: flex;
	align-items: center;
	font-family: var( --gsui-font-monospace );
	gap: .6ch;
}
.gsuiPopup-row-values label {
	cursor: pointer;
}
