#gsuiPopup {
	--dur: .2s;
	--dark-bg: rgba( 0, 0, 0, .6 );
	--bg: #555;
	--btn-bg: #999;
	--btn-ok-bg: #67a;
	--padding: 10px;
	--min-width: 250px;
	--radius: 4px;
	--header-bg: #333;

	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2147483647;
	color: #fff;
	background-color: var( --dark-bg );
	transition: var( --dur );
	transition-property: visibility, opacity;
}
#gsuiPopup:not( .gsuiPopup-show ) {
	opacity: 0;
	visibility: hidden;
}

#gsuiPopupWindow {
	overflow: hidden;
	min-width: var( --min-width );
	border-radius: var( --radius );
	background-color: var( --bg );
	box-shadow: 0 0 50px #000;
}
.gsuiPopup-noCancel #gsuiPopupCancel,
.gsuiPopup-noText #gsuiPopupInputText {
	display: none;
}

#gsuiPopupHead {
	padding: var( --padding );
	background-color: var( --header-bg );
}
#gsuiPopupBody {
	padding: var( --padding );
}
#gsuiPopupContent:not( :empty ) + #gsuiPopupMessage,
#gsuiPopupContent:not( :empty ) ~ input {
	display: none;
}

#gsuiPopupInputText,
#gsuiPopupBtns input {
	padding: .6em 1.25em;
	border: 0;
	border-radius: 2px;
}
#gsuiPopupInputText {
	box-sizing: border-box;
	margin-top: var( --padding );
	padding: .6em;
	width: 100%;
	font-size: 18px;
}
#gsuiPopupBtns {
	margin-top: var( --padding );
	text-align: center;
}
#gsuiPopupBtns input {
	color: #fff;
	font-weight: bold;
	font-family: inherit;
	background-color: var( --btn-bg );
	cursor: pointer;
}
#gsuiPopupBtns input + input {
	margin-left: var( --padding );
}
#gsuiPopupBtns #gsuiPopupOk {
	background-color: var( --btn-ok-bg );
}
#gsuiPopupWindow input[ type="text" ] {
	color: #fff;
	background-color: rgba( 255, 255, 255, .1 );
}
