body {
	color: var( --gsui-txt );
}

* {
	scrollbar-width: none;
}

html:has( gsui-daw ) {
	user-select: none;
}
*[ inert ] {
	pointer-events: none;
}

/* .......................................................................... */
button, select {
	user-select: none;
}
:where( button, select ):not( :disabled ) {
	cursor: pointer;
}

/* .......................................................................... */
.gsui-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
