body[ data-skin="white" ] {
	color-scheme: light;
	--gsui-txt: #222;
	--gsui-ovl-1: #0000000b;
	/* ................................ */
	--gsui-col-pan: #f69;
	--gsui-col-gain: #77d;
	--gsui-col-time: #f77;
	--gsui-col-detune: #111;
	--gsui-col-unison: #f95;
	--gsui-col-lowpass: #d96;
	--gsui-col-highpass: #d96;
	/* ................................ */
	--gsui-col-currentTimeCursor: #000;
	/* ................................ */
	--gsui-col-pattern: #5ac;
	--gsui-col-pattern8: #77dc;
	--gsui-col-pattern2: #77d4;
	--gsui-col-patternSelected: #f88;
	--gsui-col-patternSelected8: #0009;
	/* ................................ */
	--gsui-app-bg: #fff;
	--gsui-head1-bg: #e4e4e4;
	--gsui-head2-bg: #ddd;
	--gsui-head3-bg: #c9c9c9;
	--gsui-head3-brd: #999;
	--gsui-win-brd: #999;
	--gsui-win-brd-foc: #77d;
	--gsui-win-close: #ba5d5d;
	/* ................................ */
	--gsui-screen-spectrum: #000;
	--gsui-screen-spectrum-filter: invert( 1 ) hue-rotate( 320deg );
	--gsui-screen-graph: #d8d8d8;
	/* ................................ */
	--gsui-btn-openWin-bg: #0002;
	--gsui-btn-openWin-open-bg: #a7357e;
	--gsui-btn-playPause-bg: #8841bd;
	--gsui-btn-default-bg: #0002;
	--gsui-btn-cmp-bg: #8841bd;
	--gsui-btn-cmp-readonly-bg: #f97777;
	--gsui-btn-history-bg: #bbb;
	--gsui-btn-export-txt: #ad2c51;
	--gsui-btn-about-txt: #ad2c51;
	--gsui-btn-help-txt: #f9c;
	--gsui-main-currentTime-bg: #fff9;
	--gsui-main-currentTime-lineColor: #ab7ad0;
	--gsui-main-currentTime-lineBgColor: #0003;
	--gsui-clock-bg: #fff9;
	--gsui-timewin-bg: #abe2f0;
	--gsui-timeline-bg: #fff;
	--gsui-timeline-loop-bg: #c87e9a;
	--gsui-items-bg: #ddd;
	--gsui-item-bg: #eee;
	--gsui-item-brdtop: 2px solid #fff1;
	--gsui-item-brdbottom: 2px solid #0000003b;
	--gsui-item-more-bg: #fff2;
	--gsui-item-bg-disabled: #aaa;
	--gsui-item-bg-selected: #fff;
	--gsui-toggle-on: #77d;
	--gsui-toggle-off: #222;
	/* ................................ */
	--gsui-slider-bg: #aaa;
	--gsui-slider-col-disabled: #555;
	--gsuiSlider-lineColor: #000;
	--gsuiSlider-lineColor-disabled: var( --gsui-slider-col-disabled );
	--gsuiSlider-lineBgColor: var( --gsui-slider-bg );
	/* ................................ */
	--gsuiLibrary-bg: #bef;
	--gsuiLibrary-sample-fav: #03f;
	--gsuiLibrary-sample-hover-bg: #0001;
	/* ................................ */
	--gsuiKeys-blackRow-bg: #0000001a;
	--gsuiKeys-blackRow-hover-bg: #00000026;
	--gsuiKeys-whiteRow-hover-bg: #ffffff26;
	--gsuiKeys-blackKey-gradA: #111;
	--gsuiKeys-blackKey-gradB: #444;
	--gsuiKeys-whiteKey-gradA: #ccc;
	--gsuiKeys-whiteKey-gradB: #eee;
	--gsuiKeys-activeKey-gradA: #353b52;
	--gsuiKeys-activeKey-gradB: #7886bd;
	--gsuiKeys-rootKey: #c143a4;
	/* ................................ */
	--gsuiPatterns-panel-btnSolid-bg: #444;
	--gsuiPatterns-newSlicesBtn-color: #e29d8a;
	--gsuiPatterns-newSynthBtn-color: #a5d6a7;
	--gsuiPatterns-newDrumsBtn-color: #81d4fa;
	--gsuiPatterns-synth-bg: #528754;
	--gsuiPatterns-synth-color: #222;
	--gsuiPatterns-synth-selected-color: #444;
	--gsuiPatterns-synth-expand-bg: #0000001a;
	--gsuiPatterns-synth-selected-bg: #66bb6a;
	--gsuiPatterns-synth-namehover-color: #7b7;
	--gsuiPatterns-synth-patterns-bg: #0006;
	--gsuiPatterns-synth-dest-bg: #0000001a;
	--gsuiPatterns-synth-placeholder-color: #fff6;
	--gsuiPatterns-synth-placeholder-bg: #0003;
	--gsuiPatterns-pattern-bg: #334;
	--gsuiPatterns-pattern-color: var( --gsui-col-pattern );
	--gsuiPatterns-pattern-selected-bg: var( --gsui-col-pattern );
	--gsuiPatterns-pattern-selected-color: #223;
	--gsuiPatterns-pattern-head-bg: #0003;
	--gsuiPatterns-pattern-head-selected-bg: #fff3;
	--gsuiPatterns-pattern-dest-bg: #fff1;
	/* ................................ */
	--gsuiSlicer-bg: #666;
	--gsuiSlicer-color: #fff;
	--gsuiSlicer-slicers-bg: #47475c;
	--gsuiSlicer-source-bg: #334;
	--gsuiSlicer-source-wave: var( --gsui-col-pattern );
	--gsuiSlicer-preview-wave-border: #fff2;
	--gsuiSlicer-preview-wave-hl-bg: #fff1;
	--gsuiSlicer-slice-bg: #44c4;
	--gsuiSlicer-slice-hl-bg: #77f4;
	--gsuiSlicer-slice-border: #32325a;
	/* ................................ */
	--gsuiDrumrow-border: #0002;
	--gsuiDrumrow-color: #fff;
	--gsuiDrumrow-grip-bg: #0001;
	/* ................................ */
	--gsuiDrums-drum-bg: var( --gsui-col-pattern8 );
	--gsuiDrums-drumprop-bg: #0002;
	--gsuiDrums-drumprop-color: #0004;
	--gsuiDrums-drumcut-bg: #d46;
	--gsuiDrums-line-border: #2e4145;
	--gsuiDrums-line-mute-bg: #0003;
	--gsuiDrums-loop-bg: #000;
	--gsuiDrums-drumHover-border: var( --gsui-col-pattern );
	--gsuiDrums-drumHover-bg: var( --gsui-col-pattern2 );
}
