body {
	color-scheme: dark;
	color: #fff;
	--gsui-ovl-1: #ffffff08;
	--gsui-col-pan: #ae9ce5;
	--gsui-col-pan-l: #faa;
	--gsui-col-pan-r: #aaf;
	--gsui-col-gain: #ff9;
	--gsui-col-time: #f77;
	--gsui-col-detune: #fff;
	--gsui-col-unison: #f95;
	--gsui-col-lowpass: #d96;
	--gsui-col-currentTimeCursor: #ff9;
	--gsui-col-pattern: #5ac;
	--gsui-col-pattern8: #5acb;
	--gsui-col-pattern2: #5ac4;
	--gsui-col-patternSelected: #f88;
	--gsui-col-patternSelected8: #f88b;
	--gsui-app-bg: #222;
	--gsui-app-head-bg: #444;
	--gsui-win-head-bg: #595959;
	--gsui-win-head2-bg: #3a3a3a;
	--gsui-win-head2-brd: #323232;
	--gsui-win-brd: #3a3a3a;
	--gsui-win-brd-foc: #689acb;
	--gsui-win-close: #ba5d5d;
	--gsui-screen-spectrum: #000;
	--gsui-clock-bg: #222;
	--gsui-timewin-bg: #456168;
	--gsui-timeline-bg: #222;
	--gsui-timeline-loop-bg: #656586;
	--gsui-items-bg: #474747;
	--gsui-item-bg: #5c5c5c;
	--gsui-item-more-bg: #fff2;
	--gsui-item-bg-disabled: #505050;
	--gsui-item-bg-selected: #616161;
	--gsui-toggle-on: #ffa;
	--gsui-toggle-off: #222;
	--gsui-slider-bg: #0003;
	--gsui-slider-bg-opaque: #444;
	--gsuiSlider-lineBgColor: var( --gsui-slider-bg );
}

* {
	scrollbar-width: thin;
	scrollbar-color: #ddd #222;
}
::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-track { background-color: #222; }
::-webkit-scrollbar-thumb { background-color: #aaa; }

html {
	user-select: none;
}
