body {
	color: var( --gsui-txt );
}

* {
	scrollbar-width: none;
}

html:has( gsui-daw ) {
	user-select: none;
}
*[ inert ] {
	pointer-events: none;
}

/* .......................................................................... */
:where( button, select ) {
	border: 0;
	outline: 0;
	padding: 0;
	font: inherit;
	color: inherit;
	background: none;
	user-select: none;

	&:not( :disabled ) {
		cursor: pointer;
	}
}

/* .......................................................................... */
.gsui-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
