.gsuiDropdown {
	--bg-color: #555;
	--brd-color: #333;
	--brd: 2px solid var( --brd-color );
	z-index: 2;
	position: absolute;
	box-sizing: border-box;
	display: flex;
	border-radius: 6px;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0 4px 10px 5px #0003;
	transition: .2s;
	transition-property: opacity, visibility;
}
.gsuiDropdown[ data-open ] {
	opacity: 1;
	visibility: visible;
}

/* .......................................................................... */
.gsuiDropdown-content {
	position: relative;
	width: 100%;
	padding: 4px;
	border: var( --brd );
	border-radius: inherit;
	background-color: var( --bg-color );
}

/* .......................................................................... */
.gsuiDropdown-arrow {
	content: "";
	position: absolute;
	box-sizing: border-box;
	top: -3px;
	left: 50%;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	margin-left: -4px;
	border: var( --brd );
	border-right: 0;
	border-bottom: 0;
	border-radius: 2px 0 0 0;
	background-color: var( --bg-color );
	background-color: var( --brd-color );
	transform: rotate( 45deg );
}
.gsuiDropdown[ data-dir^="top" ] .gsuiDropdown-arrow {
	transform: rotate( 225deg );
}
