gsui-scratch {
	position: relative;
	overflow: hidden;
	height: 64px;
	margin-top: 8px;
	border-radius: 6px;
	background-color: #112;
	box-shadow: inset 0 0 10px #000;
	cursor: var( --gsuiCursor-grab );

	svg {
		position: absolute;
		width: 100%;
		height: 100%;
		stroke: #fff;
		stroke-width: 1px;
		stroke-linejoin: round;
		fill: #fff5;
	}
}

gsui-scratch-0line {
	position: absolute;
	inset: 50% 0;
	border-top: 1px solid #0015;
}

gsui-scratch-timeline {
	position: absolute;
	inset: 0 50%;
	border-left: 2px solid #fffd;
}
