gsui-pianoroll {
	display: flex;
	height: 100%;
	--gsuiDragline-dotSize: 10px;
	--gsuiDragline-dotRad: 2px;
	--gsuiDragline-lineSize: 3px;
}
gsui-pianoroll:focus {
	outline: 1px solid var( --gsuiBlocksManager-blockColor );
}

/* .......................................................................... */
gsui-pianoroll gsui-keys {
	font-size: var( --gsuiTimewindow-lineH );
}
gsui-pianoroll .gsuiTimewindow-rows {
	font-size: var( --gsuiTimewindow-lineH );
}
gsui-pianoroll .gsuiKeys-row > div {
	font-size: var( --gsuiTimewindow-pxperbeat );
}
gsui-pianoroll gsui-prop-select {
	position: absolute;
	inset: 0;
	padding: 6px 0;
}

/* .......................................................................... */
gsui-pianoroll .gsuiBlocksManager-block {
	border-radius: 2px;
}
