.gsuiPianoroll-block {
	--gsuiDragline-color: var( --gsuiBlocksManager-blockColor );
}
.gsuiPianoroll-block::after {
	content: attr( data-key );
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	width: 16px;
	max-width: 100%;
	height: 100%;
	color: #000;
	font-size: 11px;
	font-weight: bold;
	opacity: .4;
	pointer-events: none;
}

/* .......................................................................... */
.gsuiPianoroll-block .gsuiDragline {
	top: 50%;
	right: 0;
}

/* .......................................................................... */
.gsuiPianoroll-block .gsuiDragline-drop {
	top: 50%;
	left: 0;
}
.gsuiPianoroll-block .gsuiDragline-drop::before {
	left: 0;
}
.gsuiPianoroll-block .gsuiDragline-dropActive::before {
	left: -4px;
}

/* .gsuiDragline-to */
/* .......................................................................... */
.gsuiPianoroll-block:not( :hover ):not( .gsui-hover ) .gsuiDragline:not( .gsuiDragline-dragging ) .gsuiDragline-to {
	background-color: transparent;
}
.gsuiPianoroll-block:hover      .gsuiDragline:not( .gsuiDragline-linked ) .gsuiDragline-to,
.gsuiPianoroll-block.gsui-hover .gsuiDragline:not( .gsuiDragline-linked ) .gsuiDragline-to {
	transform: translateX( 2px );
}
.gsuiPianoroll-block:hover      .gsuiDragline-linked .gsuiDragline-to,
.gsuiPianoroll-block.gsui-hover .gsuiDragline-linked .gsuiDragline-to {
	transform: translateX( -2px );
}
