.gsuiPianoroll-block {
	container: gsuiPianorollBlock / size;
	--gsuiDragline-color: var( --gsuiBlocksManager-blockColor );
}

/* .......................................................................... */
.gsuiPianoroll-block-key {
	position: absolute;
	display: flex;
	align-items: center;
	left: 4px;
	height: 100%;
	color: #000;
	font-size: 11px;
	font-weight: bold;
	opacity: .4;
	user-select: none;
	pointer-events: none;
}

/* .......................................................................... */
.gsuiPianoroll-block .gsuiDragline {
	top: 50%;
	right: 0;
}

/* .......................................................................... */
.gsuiPianoroll-block .gsuiDragline-drop {
	top: 50%;
	left: 0;
}
.gsuiPianoroll-block .gsuiDragline-drop::before {
	left: 0;
}
.gsuiPianoroll-block .gsuiDragline-dropActive::before {
	left: -4px;
}

/* .......................................................................... */
.gsuiPianoroll-block:not( :hover ):not( .gsui-hover ) .gsuiDragline:not( .gsuiDragline-dragging ) .gsuiDragline-to {
	background-color: transparent;
}
.gsuiPianoroll-block:hover      .gsuiDragline:not( .gsuiDragline-linked ) .gsuiDragline-to,
.gsuiPianoroll-block.gsui-hover .gsuiDragline:not( .gsuiDragline-linked ) .gsuiDragline-to {
	transform: translateX( 2px );
}
.gsuiPianoroll-block:hover      .gsuiDragline-linked .gsuiDragline-to,
.gsuiPianoroll-block.gsui-hover .gsuiDragline-linked .gsuiDragline-to {
	transform: translateX( -2px );
}

/* .......................................................................... */
@container gsuiPianorollBlock ( max-width: 24px ) {
	.gsuiPianoroll-block-key {
		display: none;
	}
}
@container gsuiPianorollBlock ( max-height: 14px ) {
	.gsuiPianoroll-block-key {
		font-size: 10px;
	}
}
