gsui-pianoroll {
	display: flex;
	height: 100%;
	--gsuiDragline-dotSize: 10px;
	--gsuiDragline-dotRad: 2px;
	--gsuiDragline-lineSize: 3px;
}
gsui-pianoroll:focus {
	outline: 1px solid var( --gsuiBlocksManager-blockColor );
}

/* .......................................................................... */
gsui-pianoroll gsui-keys {
	font-size: var( --gsuiTimewindow-lineH );
}
gsui-pianoroll .gsuiTimewindow-rows {
	font-size: var( --gsuiTimewindow-lineH );
}
gsui-pianoroll .gsuiKey-row > div {
	font-size: var( --gsuiTimewindow-pxperbeat );
}

/* .......................................................................... */
gsui-pianoroll .gsuiBlocksManager-block {
	border-radius: 2px;
}

/* .......................................................................... */
gsui-pianoroll .gsuiTimewindow-panelContentDown {
	display: flex;
	align-items: center;
	justify-content: center;
}
.gsuiPianoroll-slidersSelect {
	border: 0;
	outline: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
	font-size: 11px;
	user-select: none;
	border-radius: 4px;
	background-color: #fff2;
	scrollbar-width: none;
	opacity: .5;
	transition: .1s opacity;
}
.gsuiPianoroll-slidersSelect::-webkit-scrollbar {
	display: none;
}
.gsuiPianoroll-slidersSelect:focus,
.gsuiPianoroll-slidersSelect:hover {
	opacity: 1;
}
.gsuiPianoroll-slidersSelect option {
	padding: 1px 4px;
}
.gsuiPianoroll-slidersSelect option::after {
	content: attr( data-number );
	margin-left: 1ch;
	font-size: 14px;
	font-weight: bold;
	font-family: var( --gsui-font-number );
}
.gsuiPianoroll-slidersSelect option[ value^="gainLFO" ]::after {
	content: "x" attr( data-number );
}
.gsuiPianoroll-slidersSelect option:not( [ data-number ] )::after {
	content: "";
}
