gsui-buffer-view {
	display: block;
	height: 100%;
	--gsui-bv-col-l: #c13333;
	--gsui-bv-col-r: #3524ff;

	gsui-bv-in {
		display: flex;
		height: 100%;
		flex-direction: column;

		svg {
			position: absolute;
			width: 100%;
			height: 100%;
			pointer-events: none;

			path {
				color: var( --gsui-bv-col-l );
				fill: currentColor;
				mix-blend-mode: exclusion;

				& + path {
					color: var( --gsui-bv-col-r );
				}
			}
		}
	}

	gsui-bv-body {
		position: relative;
		flex: 4;
		cursor: var( --gsuiCursor-grab );
		touch-action: none;
	}

	gsui-bv-selection {
		overflow: hidden;
		position: absolute;
		box-sizing: border-box;
		inset: 0 auto;
		background-color: #f553;
		backdrop-filter: sepia( .8 );
		pointer-events: none;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 2px;
			background-color: #f446;
		}
		&::before { inset: 0 auto 0 0 }
		&::after { inset: 0 0 0 auto }
	}

	gsui-bv-minimap {
		position: relative;
		overflow: hidden;
		flex: 1;
		background-color: #0002;
		cursor: var( --gsuiCursor-grab );
		touch-action: none;

		gsui-bv-selection {
			opacity: .5;
		}
	}

	gsui-bv-minimap-view {
		position: absolute;
		inset: 0;
		z-index: 0;
		min-width: 4px;
		cursor: var( --gsuiCursor-grab );
		touch-action: none;

		&::before,
		&::after {
			content: "";
			position: absolute;
			inset: 0 100% 0 -100000px;
			background-color: #000a;
			pointer-events: none;
		}
		&::after {
			left: 100%;
			right: -100000px;
		}
		[ data-prop="map-start" ] { left: -4px; cursor: var( --gsuiCursor-w-resize ); }
		[ data-prop="map-end" ] { right: -4px; cursor: var( --gsuiCursor-e-resize ); }
		[ data-prop ] {
			position: absolute;
			z-index: 1;
			width: calc( min( 20px, 20% ) + 4px );
			height: 100%;
		}
	}
}
