gsui-slidergroup {
	display: block;
	position: relative;
	overflow: hidden;
	height: 100%;
	z-index: 0;
}
.gsuiSliderGroup-slidersWrap {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	overflow: auto;
	scrollbar-width: none;
}
.gsuiSliderGroup-slidersWrap::-webkit-scrollbar {
	display: none;
}
.gsuiSliderGroup-sliders {
	position: absolute;
	width: 1000000px;
	height: 100%;
	user-select: none;
}

/* .......................................................................... */
.gsuiSliderGroup-slider {
	position: absolute;
	overflow: hidden;
	top: 0;
	bottom: 0;
	cursor: pointer;
}
.gsuiSliderGroup-slider::before {
	content: "";
	position: absolute;
	height: 100%;
	width: var( --gsuiSliderGroup-slider-width );
	background-color: var( --gsuiSliderGroup-slider-bg );
}
.gsuiSliderGroup-slidersSelected .gsuiSliderGroup-slider:not( .gsuiSliderGroup-sliderSelected ) {
	pointer-events: none;
}
.gsuiSliderGroup-sliderInner {
	position: absolute;
	width: var( --gsuiSliderGroup-slider-width );
	color: var( --gsuiSliderGroup-slider-color );
	background-color: currentColor;
}
.gsuiSliderGroup-sliderSelected .gsuiSliderGroup-sliderInner {
	color: var( --gsuiSliderGroup-slider-color-selected );
}
.gsuiSliderGroup-sliderInner::after {
	content: "";
	position: absolute;
	box-sizing: border-box;
	width: 1000000px;
	height: 100%;
	border: 0 solid;
	border-width: 1px 0 0;
}
.gsuiSliderGroup-sliderInnerDown::after {
	border-width: 0 0 1px;
}

/* .......................................................................... */
.gsuiSliderGroup-loop,
.gsuiSliderGroup-currentTime {
	position: absolute;
	z-index: 2147483647;
	top: 0;
	bottom: 0;
	pointer-events: none;
}
.gsuiSliderGroup-defaultValue {
	position: absolute;
	left: 0;
	right: 0;
	border-top: 1px dotted var( --gsuiSliderGroup-defaultValue-color );
	pointer-events: none;
}
.gsuiSliderGroup-currentTime {
	width: 2px;
	margin-left: -1px;
	background-color: var( --gsuiSliderGroup-currentTime-color );
}
gsui-slidergroup[ currenttime="0" ] .gsuiSliderGroup-currentTime {
	display: none;
}
.gsuiSliderGroup-loop {
	background-color: transparent;
	transition: .2s background-color;
}
.gsuiSliderGroup-loopA { left: 0; }
.gsuiSliderGroup-loopB { right: 0; }
.gsuiSliderGroup-loopOn {
	background-color: var( --gsuiSliderGroup-loop-color );
}
