gsui-slidergroup {
	--gsuiSliderGroup-currentTime-color: var( --gsui-col-currentTimeCursor );
	--gsuiSliderGroup-defaultValue-color: #0004;
	--gsuiSliderGroup-slider-width: 6px;
	--gsuiSliderGroup-slider-bg: #0002;
	--gsuiSliderGroup-slider-color: rgba( var( --gsui-rgb-pattern ), .8 );
	--gsuiSliderGroup-slider-color-selected: rgba( var( --gsui-rgb-patternSelected ), .8 );
	--gsuiSliderGroup-loop-color: #0004;
}
