.gsuiSliderGroup {
	--gsuiSliderGroup-currentTime-color: #ff9;
	--gsuiSliderGroup-slider-width: 6px;
	--gsuiSliderGroup-slider-bg: #0002;
	--gsuiSliderGroup-slider-color: var( --gsuiBlocksManager-blockColor );
	--gsuiSliderGroup-slider-color-selected: var( --gsuiBlocksManager-blockSelectedColor );
	--gsuiSliderGroup-loop-color: #0004;
}
