gsui-tempo {
	position: relative;

	/* .......................................................................... */
	> button {
		display: flex;
		align-items: center;
		gap: 6px;
		height: 28px;
		border: 0;
		border-radius: 4px;
		padding: 0 6px;
		white-space: nowrap;
		font-family: var( --gsui-font-number );
		background-color: var( --gsui-clock-bg );
	}
}

/* .......................................................................... */
.gsuiTempo-timeDivision {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: 8px;
	font-size: 12px;
	line-height: 0;
	pointer-events: none;
}
.gsuiTempo-bpm {
	display: flex;
	align-items: baseline;
	gap: 2px;
	font-size: 18px;
	pointer-events: none;

	&::after {
		content: "bpm";
		font-size: 12px;
		opacity: .5;
	}
}

/* .......................................................................... */
.gsuiTempo-popup {
	display: flex;
	flex-direction: column;
	gap: 8px;

	> * {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 6px;
		height: 24px;

		&:last-child {
			margin-top: 4px;

			button {
				width: 100%;
				height: 100%;
				border: 0;
				border-radius: 4px;
				padding: 0 10px;
				font: inherit;
				font-size: 12px;
				font-weight: 600;
				background-color: var( --gsui-btn-playPause-bg );
			}
		}
	}
	label {
		font-size: 12px;
	}
	input {
		align-self: end;
		width: 100px;
		height: 100%;
		outline: 0;
		border: 0;
		border-radius: 4px;
		padding: 0 6px;
		font-size: 18px;
		font-family: var( --gsui-font-number );
		background-color: #0004;

		&:hover {
			background-color: #0005;
		}
		&:focus {
			background-color: #0007;
		}
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

.gsuiTempo-popup-bpm {
	label::after {
		content: "(Beats Per Minute)";
		font-size: .8em;
		opacity: .5;
	}
	div {
		display: flex;
		gap: 8px;
		height: 100%;
	}
	input {
		width: calc( 100px - 24px - 8px );
	}
	button {
		display: flex;
		height: 100%;
		width: 24px;
		outline: 0;
		border: 0;
		border-radius: 4px;
		font-size: 12px;
		background-color: #0004;

		&:focus-visible,
		&:hover {
			background-color: #0005;
		}
		&:active {
			background-color: #0007;
		}
	}
}
