.gsuiTrack,
.gsuiTrack-row {
	--head-bg: #444;
	--head-bg-mute: #393939;
	--body-bg-mute: rgba( 0, 0, 0, .25 );
	--text-color: #eee;
	--border-top-color: rgba( 255, 255, 255, .07 );
	--border-bottom-color: rgba( 0, 0, 0, .4 );

	box-sizing: border-box;
	display: flex;
	height: 1em;
	border: 0 solid;
	border-width: 1px 0;
	border-top-color: var( --border-top-color );
	border-bottom-color: var( --border-bottom-color );
	background-color: var( --head-bg );
	transition: background-color .2s;
}
.gsuiTrack-row {
	display: block;
	background-color: transparent;
}
.gsuiTrack-row > div {
	position: relative;
	height: 100%;
}
.gsuiTrack .gsuiToggle {
	--radius: 6px;
	min-width: 24px;
}
.gsuiTrack .gsuiSpanEditable {
	flex: 1;
	padding-right: 10px;
	font-size: 14px;
	color: var( --text-color );
}

.gsuiTrack.gsui-mute {
	background-color: var( --head-bg-mute );
}
.gsuiTrack-row.gsui-mute {
	background-color: var( --body-bg-mute );
}
.gsuiTrack.gsui-mute .gsuiSpanEditable {
	opacity: .5;
}
