.gsuiPanels-x,
.gsuiPanels-y {
	display: flex;
	height: 100%;
}
.gsuiPanels-y {
	flex-direction: column;
}
.gsuiPanels-x > div:not( .gsuiPanels-extend ),
.gsuiPanels-y > div:not( .gsuiPanels-extend ) {
	position: relative;
	box-sizing: border-box;
}
.gsuiPanels-x > div + div:not( .gsuiPanels-extend ) { border-left: 4px solid var( --gsuiPanels-border ); }
.gsuiPanels-y > div + div:not( .gsuiPanels-extend ) { border-top: 4px solid var( --gsuiPanels-border ); }

/* .gsuiPanels-extend ------------------------------------------------------- */
.gsuiPanels-extend {
	position: absolute;
	top: -2px;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color .2s;
}
.gsuiPanels-extend.gsui-hover,
.gsuiPanels-extend:hover {
	background-color: var( --gsuiPanels-extendColor );
}
.gsuiPanels-x > div > .gsuiPanels-extend {
	cursor: col-resize;
	width: 4px;
	margin-left: -2px;
}
.gsuiPanels-y > div > .gsuiPanels-extend {
	cursor: row-resize;
	height: 4px;
	margin-top: -2px;
}
