:root {
	--gsuiPanels-bdSize: 1px;
	--gsuiPanels-bdColor: #222;
	--gsuiPanels-extendSize: 5px;
	--gsuiPanels-extendColor: #888;
}

/* .gsuiPanels ------------------------------- */
/* ------------------------------------------- */
.gsuiPanels {
	display: flex;
	height: 100%;
}
.gsuiPanels.gsui-noselect {
	cursor: default;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.gsuiPanels.gsui-axeY {
	flex-direction: column;
}

/* .gsuiPanels > .gsui-panel ----------------- */
/* ------------------------------------------- */
.gsuiPanels > .gsui-panel {
	box-sizing: border-box;
	position: relative;
	border: 0 solid var( --gsuiPanels-bdColor );
}
.gsuiPanels.gsui-axeX > .gsui-panel {
	min-height: 100%;
	max-height: 100%;
	border-left-width: var( --gsuiPanels-bdSize );
}
.gsuiPanels.gsui-axeY > .gsui-panel {
	min-width: 100%;
	max-width: 100%;
	border-top-width: var( --gsuiPanels-bdSize );
}
.gsuiPanels > .gsui-panel:first-child {
	border: none;
}

/* .gsuiPanels > .gsui-panel > .gsui-extend -- */
/* ------------------------------------------- */
.gsuiPanels > .gsui-panel > .gsui-extend {
	position: absolute;
	z-index: 1;
	transition: background .2s;
}
.gsuiPanels.gsui-axeX > .gsui-panel > .gsui-extend {
	height: 100%;
	width: var( --gsuiPanels-extendSize );
	right: calc( ( var( --gsuiPanels-extendSize ) - var( --gsuiPanels-bdSize ) )
		/ -2 - var( --gsuiPanels-bdSize ) );
}
.gsuiPanels.gsui-axeY > .gsui-panel > .gsui-extend {
	width: 100%;
	height: var( --gsuiPanels-extendSize );
	bottom: calc( ( var( --gsuiPanels-extendSize ) - var( --gsuiPanels-bdSize ) )
		/ -2 - var( --gsuiPanels-bdSize ) );
}
.gsuiPanels > .gsui-panel:last-child > .gsui-extend {
	display: none;
}
.gsuiPanels > .gsui-panel > .gsui-extend.gsui-hover,
.gsuiPanels > .gsui-panel > .gsui-extend:hover {
	background-color: var( --gsuiPanels-extendColor );
}
