gsui-panels {
	position: relative;
	overflow: hidden;
	display: flex;
	width: 100%;
	height: 100%;

	&[ dir="y" ] {
		flex-direction: column;
	}
}

/* .......................................................................... */
.gsuiPanels-panel {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

/* .......................................................................... */
.gsuiPanels-extend {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: background-color .2s;

	gsui-panels[ dir="x" ] > * > & {
		top: 0;
		left: -2px;
		width: 4px;
		cursor: col-resize;
	}
	gsui-panels[ dir="y" ] > * > & {
		left: 0;
		top: -2px;
		height: 4px;
		cursor: row-resize;
	}
}
