gsui-toggle {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 8px;
	outline: 0;
	cursor: pointer;
	color: var( --gsui-toggle-on );
	transition: color .25s;

	&[ off ] {
		color: var( --gsui-toggle-off );
	}
}
