gsui-track {
	box-sizing: border-box;
	display: flex;
	height: 100%;
	border-top: 2px solid #ffffff11;
	border-bottom: 2px solid #0000003b;
	background-color: var( --gsui-item-bg );
}
gsui-track,
.gsuiTrack-row {
	transition: .2s background-color;
}
gsui-track[ mute ] {
	border: 0;
	background-color: var( --gsui-item-bg-disabled );
}

/* .......................................................................... */
.gsuiTrack-row {
	position: relative;
	z-index: 0;
	height: var( --gsuiTimewindow-lineH );
}
.gsuiTrack-row::before {
	content: "";
	position: absolute;
	inset: 0;
	border-top: 2px solid #ffffff0b;
	border-bottom: 2px solid #00000026;
}
.gsuiTrack-row.gsui-mute {
	border: 0;
	background-color: #00000012;
}
.gsuiTrack-row > div {
	position: absolute;
	inset: 0;
	font-size: var( --gsuiTimewindow-pxperbeat );
}
.gsuiTrack-row.gsui-mute > div {
	top: 0;
}

/* .......................................................................... */
gsui-track gsui-toggle {
	min-width: 24px;
}
.gsuiTrack-nameWrap {
	position: relative;
	flex: 1;
}
.gsuiTrack-name {
	box-sizing: border-box;
	position: absolute;
	inset: 0;
	width: 100%;
	border: 0;
	outline: 0;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
	font-family: inherit;
	text-overflow: ellipsis;
	color: inherit;
	cursor: default;
	background: none;
	user-select: none;
}
gsui-track[ mute ] .gsuiTrack-name {
	opacity: .5;
}
.gsuiTrack-name:focus {
	font-weight: normal;
}
.gsuiTrack-name::placeholder {
	color: inherit;
	font-style: italic;
	font-weight: normal;
	opacity: .3;
}
.gsuiTrack-name:focus::placeholder {
	color: transparent;
}
