:root {
	--gsuiTrack-duration: .2s;
	--gsuiTrack-hsl-h: 0;
	--gsuiTrack-hsl-s: 0%;
	--gsuiTrack-hsl-l: 27%;
	--gsuiTrack-color: #ff0;
	--gsuiTrack-toggle-bg: #f64;
	--gsuiTrack-toggleOff-bg: #2af;
}

.gsuiTrack,
.gsuiTrack-row {
	box-sizing: border-box;
	display: flex;
	height: 1em;
}
.gsuiTrack,
.gsuiTrack-row,
.gsuiTrack-toggle::before {
	transition: var( --gsuiTrack-duration ) background-color;
}
.gsuiTrack {
	background-color: hsl(
		var( --gsuiTrack-hsl-h ),
		var( --gsuiTrack-hsl-s ),
		calc( var( --gsuiTrack-hsl-l ) + var( --rel-l, 0% ) ) );
}
.gsuiTrack:nth-child( even ) {
	--rel-l: -1.7%;
}
.gsuiTrack.gsui-mute {
	--rel-l: -5%;
	--gsuiTrack-toggle-bg: var( --gsuiTrack-toggleOff-bg );
}
.gsuiTrack.gsui-mute:nth-child( even ) {
	--rel-l: -5.5%;
}

/* .......................................................................... */
.gsuiTrack-row {
	position: relative;
	display: block;
	background-color: rgba( 0, 0, 0, var( --rel-a, 0 ) );
}
.gsuiTrack-row:nth-child( even ) {
	--rel-a: .06;
}
.gsuiTrack-row.gsui-mute {
	--rel-a: .25;
}
.gsuiTrack-row.gsui-mute:nth-child( even ) {
	--rel-a: .29;
}
.gsuiTrack-row > div {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

/* .......................................................................... */
.gsuiTrack-toggle {
	cursor: pointer;
	display: flex;
	min-width: 24px;
	align-items: center;
	justify-content: center;
}
.gsuiTrack-toggle::before {
	content: "";
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: var( --gsuiTrack-toggle-bg );
}
.gsuiTrack-nameWrap {
	position: relative;
	flex: 1;
}
.gsuiTrack-name {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border: 0;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
	font-family: inherit;
	text-overflow: ellipsis;
	color: var( --gsuiTrack-color );
	cursor: default;
	background-color: transparent;
}
.gsui-mute .gsuiTrack-name {
	opacity: .5;
}
.gsuiTrack-name:focus {
	font-weight: normal;
}
.gsuiTrack-name::placeholder {
	color: inherit;
	font-style: italic;
	font-weight: normal;
	opacity: .3;
}
.gsuiTrack-name:focus::placeholder {
	color: transparent;
}
