.gsuiTrack {
	display: flex;
	height: var( --gsuiTimewindow-lineH );
	background-color: hsl(
		var( --gsuiTrack-hsl-h ),
		var( --gsuiTrack-hsl-s ),
		calc( var( --gsuiTrack-hsl-l ) + var( --rel-l, 0% ) ) );
}
.gsuiTrack,
.gsuiTrack-row,
.gsuiTrack-toggle::before {
	transition: .2s background-color;
}
.gsuiTrack:nth-child( even ) {
	--rel-l: -1.7%;
}
.gsuiTrack.gsui-mute {
	--rel-l: -5%;
	--gsuiTrack-toggle-bg: var( --gsuiTrack-toggleOff-bg );
}
.gsuiTrack.gsui-mute:nth-child( even ) {
	--rel-l: -5.5%;
}

/* .......................................................................... */
.gsuiTrack-row {
	position: relative;
	z-index: 0;
	height: var( --gsuiTimewindow-lineH );
	background-color: rgba( 0, 0, 0, var( --rel-a, 0 ) );
}
.gsuiTrack-row:nth-child( even ) {
	--rel-a: .06;
}
.gsuiTrack-row.gsui-mute {
	--rel-a: .25;
}
.gsuiTrack-row.gsui-mute:nth-child( even ) {
	--rel-a: .29;
}
.gsuiTrack-row > div {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	font-size: var( --gsuiTimewindow-pxperbeat );
}

/* .......................................................................... */
.gsuiTrack-toggle {
	cursor: pointer;
	display: flex;
	border: 0;
	outline: 0;
	padding: 0;
	min-width: 24px;
	align-items: center;
	justify-content: center;
	color: var( --gsuiTrack-toggle-bg );
	font-size: 8px;
	background: none;
}
.gsuiTrack-nameWrap {
	position: relative;
	flex: 1;
}
.gsuiTrack-name {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
	font-family: inherit;
	text-overflow: ellipsis;
	color: var( --gsuiTrack-color );
	cursor: default;
	background: none;
	user-select: none;
}
.gsui-mute .gsuiTrack-name {
	opacity: .5;
}
.gsuiTrack-name:focus {
	font-weight: normal;
}
.gsuiTrack-name::placeholder {
	color: inherit;
	font-style: italic;
	font-weight: normal;
	opacity: .3;
}
.gsuiTrack-name:focus::placeholder {
	color: transparent;
}
