.gsuiKeys {
	position: relative;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.gsuiKey-row {
	box-sizing: border-box;
	height: 1em;
}
.gsuiKey-row.gsui-rowBlack {
	background-color: rgba( 0, 0, 0, .1 );
}
.gsuiKey-row.gsui-rowC,
.gsuiKey-row.gsui-rowF {
	border-bottom: 1px solid rgba( 0, 0, 0, .2 );
}

.gsuiKey {
	box-sizing: border-box;
	position: relative;
	height: 1.5em;
	background-image: linear-gradient( 90deg, #888, #eee );
	cursor: default;
}
.gsuiKey[ data-key$="#" ] {
	position: absolute;
	z-index: 1;
	width: 65%;
	height: 1em;
	margin-top: -.5em;
	border-radius: 0 .1em .1em 0;
	background-image: linear-gradient( 90deg, #111, #444 );
}
.gsuiKey[ data-key="c" ] {
	background-image: linear-gradient( 90deg, #888, #ccc );
}
.gsuiKey[ data-key="c" ]:after {
	counter-increment: octave -1;
	content: "C" counter( octave );
	position: absolute;
	right: .25em;
	bottom: 0;
	color: #000;
	font-size: calc( 6px + .25em );
	font-family: consolas;
}
.gsuiKey.gsui-active {
	background-image: linear-gradient( 90deg, #353b52, #7886bd );
}

.gsuiKey[ data-key="c" ],
.gsuiKey[ data-key="f" ] {
	border-bottom: 1px solid rgba( 0, 0, 0, .2 );
}
.gsuiKey:last-child {
	border-bottom: 0;
}
.gsuiKey[ data-key="d" ],
.gsuiKey[ data-key="g" ],
.gsuiKey[ data-key="a" ] {
	height: 2em;
}
