.gsuiKeys {
	position: relative;
	width: 40px;
	font-size: 8px;
	/*counter-reset: octave 2;*/
}

.gsuiKey {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 1.5em;
	background-image: linear-gradient( 90deg, #888, #eee );
}
.gsuiKey[ data-key$="#" ] {
	position: absolute;
	z-index: 1;
	width: 65%;
	height: 1em;
	margin-top: -.5em;
	border-radius: 0 .1em .1em 0;
	background-image: linear-gradient( 90deg, #111, #444 );
}
.gsuiKey[ data-key="c" ] {
	background-image: linear-gradient( 90deg, #888, #ddd );
}
.gsuiKey[ data-key="c" ]:after {
	counter-increment: octave -1;
	content: "C" counter( octave );
	position: absolute;
	right: .25em;
	bottom: 0;
	font-size: calc( 6px + .25em );
	font-family: consolas;
}
.gsuiKey[ data-key="c" ],
.gsuiKey[ data-key="f" ] {
	border-bottom: 1px solid rgba( 0, 0, 0, .2 );
}
.gsuiKey:last-child {
	border-bottom: 0;
}
.gsuiKey[ data-key="d" ],
.gsuiKey[ data-key="g" ],
.gsuiKey[ data-key="a" ] {
	height: 2em;
}
