.gsuiSlider {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	user-select: none;
}

.gsuiSlider-disable {
	cursor: not-allowed;
	--gsuiSlider-lineColor: #fff;
}
.gsuiSlider-disable .gsuiSlider-lineColor,
.gsuiSlider-disable .gsuiSlider-svgLineColor {
	opacity: .25;
}

.gsuiSlider-line,
.gsuiSlider-eventCatcher {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.gsuiSlider-input,
.gsuiSlider-linear .gsuiSlider-svg,
.gsuiSlider-circular .gsuiSlider-line {
	display: none;
}

.gsuiSlider-line {
	overflow: hidden;
	border-radius: var( --gsuiSlider-lineRadius, 2px );
	background-color: var( --gsuiSlider-lineBgColor, #000 );
}
.gsuiSlider-lineColor {
	position: absolute;
	background-color: var( --gsuiSlider-lineColor, #fff );
}

.gsuiSlider-svg {
	position: absolute;
	width: 100%;
	height: 100%;
}
.gsuiSlider-svgLine,
.gsuiSlider-svgLineColor {
	fill: none;
	transform-origin: center;
}
.gsuiSlider-svgLine { stroke: var( --gsuiSlider-lineBgColor, #000 ); }
.gsuiSlider-svgLineColor { stroke: var( --gsuiSlider-lineColor, #fff ); }
