gsui-slider {
	--gsuiSlider-lineColor2: var( --gsuiSlider-lineColor );
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	outline: 0;
	touch-action: none;
}
gsui-slider[ disabled ] {
	--gsuiSlider-lineColor2: var( --gsuiSlider-lineColor-disabled );
	cursor: not-allowed;
}

.gsuiSlider-line,
.gsuiSlider-eventCatcher {
	position: absolute;
	inset: 0;
}

.gsuiSlider-linear .gsuiSlider-svg,
.gsuiSlider-circular .gsuiSlider-line {
	display: none;
}

.gsuiSlider-line {
	overflow: hidden;
	border-radius: var( --gsuiSlider-lineRadius, 2px );
	background-color: var( --gsuiSlider-lineBgColor );
}
.gsuiSlider-lineColor {
	position: absolute;
	background-color: var( --gsuiSlider-lineColor2 );
}

.gsuiSlider-svg {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.gsuiSlider-svgLine,
.gsuiSlider-svgLineColor {
	fill: none;
	transform-origin: center;
}
.gsuiSlider-svgLine { stroke: var( --gsuiSlider-lineBgColor ); }
.gsuiSlider-svgLineColor { stroke: var( --gsuiSlider-lineColor2 ); }
