gsui-dotline {
	--gsuiDotline-dotSize: 4px;
	--gsuiDotline-cdotSize: 8px;
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	stroke: currentColor;
	stroke-width: 2px;
	touch-action: none;
}

/* .......................................................................... */
.gsuiDotline-padding {
	position: absolute;
	z-index: 0;
	inset: calc( var( --gsuiDotline-dotSize ) / 2 );
}

/* .......................................................................... */
gsui-dotline svg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
gsui-dotline path {
	fill: none;
}
gsui-dotline gsui-beatlines + gsui-beatlines {
	--gsui-deg: 0deg;
}

/* .......................................................................... */
.gsuiDotline-dot,
.gsuiDotline-cdot {
	position: absolute;
	box-sizing: border-box;
	border-radius: 50%;
	width: var( --w );
	height: var( --w );
	margin:
		calc( var( --w ) / -2 ) 0 0
		calc( var( --w ) / -2 );
}
.gsuiDotline-dot {
	--w: var( --gsuiDotline-dotSize );
	z-index: 2;
	background-color: currentColor;
}
.gsuiDotline-cdot {
	--w: var( --gsuiDotline-cdotSize );
	z-index: 1;
	border: 1px solid;
}
.gsuiDotline-dot::before,
.gsuiDotline-cdot::before {
	content: "";
	position: absolute;
	inset: -4px;
	border-radius: 50%;
}
.gsuiDotline-dot:hover::before,
.gsuiDotline-cdot:hover::before,
.gsuiDotline-dotSelected::before {
	background-color: #fff3;
}
.gsuiDotline-cdot[ data-type="hold" ],
.gsuiDotline-cdot[ data-type="line" ] {
	display: none;
}

.gsuiDotline-cdot:hover {
	--w: 24px;
	border: 0;
	background-color: #000;
}
.gsuiDotline-cdot gsui-slider {
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	--gsuiSlider-lineColor: #fff;
	--gsuiSlider-lineBgColor: #fff1;
}
