:root {
	--gsuiDotline-dotBg: #000;
	--gsuiDotline-dotSize: 8px;
}

gsui-dotline {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	stroke: currentColor;
	stroke-width: 2px;
	touch-action: none;
}

/* .......................................................................... */
.gsuiDotline-padding {
	position: absolute;
	inset: calc( var( --gsuiDotline-dotSize ) / 2 );
}

gsui-dotline svg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
gsui-dotline path {
	fill: none;
}

/* .......................................................................... */
.gsuiDotline-dot,
.gsuiDotline-cdot {
	--w: var( --gsuiDotline-dotSize );
	position: absolute;
	z-index: 1;
	box-sizing: border-box;
	border-radius: 50%;
	border: 2px solid;
	width: var( --w );
	height: var( --w );
	margin:
		calc( var( --w ) / -2 ) 0 0
		calc( var( --w ) / -2 );
}
.gsuiDotline-dot {
	background-color: var( --gsuiDotline-dotBg );
	transition: .2s;
	transition-property: background-color;
}
.gsuiDotline-dot:hover,
.gsuiDotline-dotSelected {
	--gsuiDotline-dotBg: currentColor;
}
.gsuiDotline-cdot {
	--w: calc( var( --gsuiDotline-dotSize ) - 2px );
	display: none;
	border-width: 1px;
}
