.gs-ui-span-editable {
	display: flex;
	align-items: center;
	overflow: hidden;
	color: $c-span-editable;

	span {
		display: inline-block;
		width: 100%;
		color: inherit;
		transition: color $t-transition;
	}
	input {
		display: none;
		box-sizing: border-box;
		width: 100%;
		outline: 0;
		border: 0;
		font-size: 1em;
		color: inherit;
		background: none;
	}

	&.gs-ui--empty {
		span {
			font-style: italic;
			color: $c-span-editable-empty;
		}
	}
	&.gs-ui--editing {
		span {
			display: none;
		}
		input {
			display: block;
		}
	}
}
