gsui-mixer {
	position: relative;
	z-index: 0;
	display: flex;
	height: 100%;
}

/* .......................................................................... */
.gsuiMixer-channels {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 140px;
}
.gsuiMixer-effects {
	display: flex;
	flex-direction: column;
	width: 50%;
	min-width: 250px;
	border-left: 2px solid var( --gsui-win-head2-brd );
}

/* .......................................................................... */
.gsuiMixer-head {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	gap: 6px;
	height: 26px;
	min-height: 26px;
	padding: 2px 6px 0;
	font-size: 10px;
	border-bottom: 2px solid var( --gsui-win-head2-brd );
	background-color: var( --gsui-win-head2-bg );
}
.gsuiMixer-head-title {
	font-weight: bold;
}
