gsui-mixer {
	--gsuiMixer-bg: #444;
	--gsuiMixer-effects-bg: #404040;
	--gsuiMixer-effects-border: #555;
	--gsuiMixer-head-bg: #3a3a3a;
	--gsuiMixer-head-border: #fff1;
	--gsuiMixer-effects-shadow: -6px 0 20px #0003;
}
