:root {
	--btn-outline: 2px solid;
	--btn-outlineColor: rgba( 255, 255, 255, .2 );
	--btn-colorA: hsl( 0, 0%, 61% );
	--btn-colorB: hsl( 0, 0%, 42% );
	--btn-submit-colorA: hsl( 210, 100%, 56% );
	--btn-submit-colorB: hsl( 210, 100%, 40% );
	--btn-danger-colorA: hsl( 0, 68%, 53% );
	--btn-danger-colorB: hsl( 0, 68%, 42% );
}

gsui-com-button {
	--gsuiComButton-brdBottom-w: 3px;
	height: 28px;
	border-radius: 2px;
	user-select: none;
	-webkit-user-select: none;

	&[ loading ],
	&[ disabled ] {
		pointer-events: none;
	}
	&[ type="submit" ] {
		--btn-colorA: var( --btn-submit-colorA );
		--btn-colorB: var( --btn-submit-colorB );
	}
	&[ type="danger" ] {
		--btn-colorA: var( --btn-danger-colorA );
		--btn-colorB: var( --btn-danger-colorB );
	}
	button {
		display: inline-flex;
		position: relative;
		height: 100%;
		padding: 0;
		border-radius: inherit;
	}
	button > div {
		position: relative;
		box-sizing: border-box;
		display: flex;
		height: calc( 100% - var( --gsuiComButton-brdBottom-w ) );
		align-items: center;
		text-align: center;
		gap: .6ch;
		padding: 0 10px;
		border: var( --btn-outline ) transparent;
		border-radius: inherit;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		background-color: var( --btn-colorA );
		box-shadow: 0 var( --gsuiComButton-brdBottom-w ) 0 var( --btn-colorB );
		transition:
			.2s border-color,
			.07s box-shadow,
			.07s translate;
	}
	button:focus > div {
		border-color: var( --btn-outlineColor );
	}
	button:active > div {
		border-color: transparent;
		translate: 0 var( --gsuiComButton-brdBottom-w );
		box-shadow: 0 0 0 var( --btn-colorB );
	}
	&[ disabled ] button > div {
		color: #fff7;
		filter: grayscale( .4 );
	}
	&[ loading ] button > div::before {
		content: "";
		position: absolute;
		inset: 0;
		background: repeating-linear-gradient(
			45deg,
			transparent,
			transparent 10px,
			#0002 10px,
			#0002 20px
		);
		background-size: 28px;
		animation: linear infinite .5s gsuiComButton-loading-anim;
	}
	button > div.rippleEffect-active .rippleEffect-circle {
		transition-duration: .7s;
	}
}

@keyframes gsuiComButton-loading-anim {
	  0% { background-position: 0 }
	100% { background-position: 28px }
}
