:root {
	--btn-outline: 2px solid;
	--btn-outlineColor: rgba( 255, 255, 255, .2 );
	--btn-colorA: hsl( 0, 0%, 61% );
	--btn-colorB: hsl( 0, 0%, 42% );
	--btn-submit-colorA: hsl( 210, 100%, 56% );
	--btn-submit-colorB: hsl( 210, 100%, 40% );
	--btn-danger-colorA: hsl( 0, 68%, 53% );
	--btn-danger-colorB: hsl( 0, 68%, 42% );
}

gsui-com-button {
	--gsuiComButton-brdBottom-w: 3px;
	height: 28px;
	user-select: none;
	-webkit-user-select: none;

	&[ loading ],
	&[ disabled ] {
		pointer-events: none;
	}
	&[ type="submit" ] {
		--btn-colorA: var( --btn-submit-colorA );
		--btn-colorB: var( --btn-submit-colorB );
	}
	&[ type="danger" ] {
		--btn-colorA: var( --btn-danger-colorA );
		--btn-colorB: var( --btn-danger-colorB );
	}
}

/* .......................................................................... */
gsui-com-button button {
	display: inline-flex;
	position: relative;
	box-sizing: border-box;
	align-items: center;
	gap: .6ch;
	height: calc( 100% - var( --gsuiComButton-brdBottom-w ) );
	border: var( --btn-outline ) transparent;
	outline: 0;
	border-radius: 2px;
	padding: 0 10px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	font-family: inherit;
	text-align: center;
	text-decoration: none;
	background-color: var( --btn-colorA );
	box-shadow: 0 var( --gsuiComButton-brdBottom-w ) 0 var( --btn-colorB );
	cursor: pointer;
	transition:
		.2s border-color,
		.07s box-shadow,
		.07s translate;

	&.rippleEffect-active .rippleEffect-circle {
		transition-duration: .7s;
	}
	gsui-com-button:not( [ loading ] ) &:disabled {
		color: #fff9;
	}
	&:focus {
		border-color: var( --btn-outlineColor );
	}
	&:active {
		border-color: transparent;
		translate: 0 var( --gsuiComButton-brdBottom-w );
		box-shadow: 0 0 0 var( --btn-colorB );
	}
	gsui-com-button[ loading ] &::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: repeating-linear-gradient(
			45deg,
			transparent,
			transparent 10px,
			#0002 10px,
			#0002 20px
		);
		background-size: 28px;
		animation: linear infinite .5s gsuiComButton-loading-anim;
	}
}

@keyframes gsuiComButton-loading-anim {
	  0% { background-position: 0 }
	100% { background-position: 28px }
}
