gsui-com-userlink {
	display: inline-flex;
	font-size: 16px;

	div {
		width: 2.062ch;
		height: 2.062ch;
		border-radius: 2px;
		background: #fff6 no-repeat center;
		background-size: cover;
	}
	a {
		display: inline-flex;
		align-items: center;
		gap: .9ch;
		color: var( --gsui-txt ) !important; /* stylelint-disable-line declaration-no-important */

		&:hover b {
			text-decoration: underline;
		}
	}
	span:empty {
		display: none;
	}
	span::before {
		content: "-";
		margin-right: .9ch;
	}
}
