gsui-com-userlink {
	display: inline-flex;

	div {
		width: 22px;
		height: 22px;
		border-radius: 2px;
		background: #fff6 no-repeat center;
		background-size: cover;
	}
	a {
		display: inline-flex;
		align-items: center;
		gap: 10px;
		font-size: 16px;
		color: var( --gsui-txt ) !important; /* stylelint-disable-line declaration-no-important */
		text-decoration: none !important; /* stylelint-disable-line declaration-no-important */

		&:hover b {
			text-decoration: underline;
		}
	}
	span:not( :empty )::before {
		content: "-";
		margin-right: 10px;
	}
}
