.gsuiEQ {
	$spectrum_filter: saturate( 50% );
	$background: linear-gradient( 45deg, #333, #222 );
	$padding: 8px;
	$dBs_width: 21px;
	$marks_size: 10px;

	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 100%;
	padding: $padding;
	padding-right: $padding + $dBs_width;
	font-family: sans-serif;
	background: $background;

	.gsui- {
		&graph {
			position: relative;
			flex: 4;
			background: #000;
		}

		&spectrum,
		&dots {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		&spectrum {
			filter: $spectrum_filter;
		}

		&dB {
			&s {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				position: absolute;
				left: 100%;
				height: 100%;
				margin-left: 3px;
			}

			font-size: $marks_size;
			font-weight: bold;
			color: #888;
			cursor: default;
		}

		&Hz {
			&s {
				display: flex;
				height: 12px;
			}

			display: flex;
			align-items: center;
			justify-content: center;
			font-size: $marks_size;
			font-weight: bold;
			color: #888;
			cursor: default;
			background: #333;

			&:nth-child( odd ) {
				background: #3a3a3a;
			}
		}

		&settings {
			display: flex;
			align-items: center;
			font-family: "Oswald", sans-serif;
			color: #777;
			text-shadow: 1px 1px 0 rgba( #000, .5 );
		}

		&title {
			flex: 1;
			font-size: 38px;
		}
	}
}
