<div class="gsuiEQ">
	<div class="gsui-left">
		<div class="gsui-graph">
			<canvas class="gsui-spectrum"></canvas>
			<div class="gsui-dots"></div>
			<div class="gsui-dBs">
				<div class="gsui-dB" title="+18 dB">+18</div>
				<div class="gsui-dB" title="+6 dB">+6</div>
				<div class="gsui-dB" title="0 dB">0</div>
				<div class="gsui-dB" title="-6 dB">-6</div>
				<div class="gsui-dB" title="-18 dB">-18</div>
			</div>
		</div>
		<div class="gsui-Hzs">
			<div class="gsui-Hz" style="width:  5.5%"></div>
			<div class="gsui-Hz" style="width:  5.0%" title="200 Hz">.2</div>
			<div class="gsui-Hz" style="width:  7.5%" title="500 Hz">.5</div>
			<div class="gsui-Hz" style="width: 12.1%" title="1 kHz">1</div>
			<div class="gsui-Hz" style="width: 25.0%" title="2 kHz">2</div>
			<div class="gsui-Hz" style="width: 24.5%" title="5 kHz">5</div>
			<div class="gsui-Hz" style="flex: 1" title="10 kHz">10</div>
		</div>
		<div class="gsui-settings">
			<span class="gsui-title">EQ</span>
			<label>
				<span class="gsui-bands">bands&nbsp;:</span>
				<input class="gsui-nbBands" type="number" value="7" min="1" max="7"/>
			</label>
		</div>
	</div>
	<div class="gsui-filters"></div>
</div>
