.gsuiIcon {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	writing-mode: initial;
	font-family: "FontAwesome";
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	text-rendering: auto;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	&:not( [ data-spin="on" ] )[ data-icon="" ],
	&:not( [ data-spin="on" ], [ data-icon ] ) {
		display: none;
	}
	&[ data-icon|="cu" ] {
		font-family: "FontAwesomeCustom";
	}
	&[ data-icon|="br" ] {
		font-family: "FontAwesomeBrands";

		&::before {
			display: none;
		}
		&::after {
			content: var( --i );
			opacity: 1;
		}
	}

	/* ...................................................................... */
	&.gsuiIcon.gsuiIcon[ data-spin="on" ] {
		line-height: 1;
		font-family: "FontAwesome";

		&::before {
			content: "\f3f4";
			animation: .7s infinite linear gsuiIcon-spin;
			opacity: 1;
			scale: 1;
		}
		&::after {
			display: inline-block;
			content: "\10f111";
			opacity: .4;
			scale: 1;
		}
	}

	/* ...................................................................... */
	&[ data-icon="br-github"    ] { --i: "\f09b" }
	&[ data-icon="br-codepen"   ] { --i: "\f1cb" }
	&[ data-icon="br-discord"   ] { --i: "\f392" }
	&[ data-icon="br-firefox"   ] { --i: "\e007" }
	&[ data-icon="br-patreon"   ] { --i: "\f3d9" }
	&[ data-icon="br-twitter"   ] { --i: "\f099" }
	&[ data-icon="br-bluesky"   ] { --i: "\f15b" }
	&[ data-icon="br-youtube"   ] { --i: "\f167" }
	&[ data-icon="br-facebook"  ] { --i: "\f09a" }
	&[ data-icon="br-wordpress" ] { --i: "\f411" }

	/* ...................................................................... */
	&[ data-icon="cu-drums"        ] { --i: "\e007" }
	&[ data-icon="cu-waveform"     ] { --i: "\e008" }
	&[ data-icon="cu-search-user"  ] { --i: "\e002" }
	&[ data-icon="cu-search-music" ] { --i: "\e009" }
	&[ data-icon="cu-heart-stroke" ] {
		--i: "\e00a";
		--oa: .2;
		&::before { scale: 1.27 }
		&::after { scale: 1.27 }
	}

	/* ...................................................................... */
	&[ data-icon="plus"  ] { --i: "\f067"; --oa: 1; }
	&[ data-icon="minus" ] { --i: "\f068"; --oa: 1; }
	&[ data-icon="close" ] { --i: "\f00d"; --oa: 1; }

	/* ...................................................................... */
	&[ data-icon="arrow-up"    ] { --i: "\f062" }
	&[ data-icon="arrow-down"  ] { --i: "\f063" }
	&[ data-icon="arrow-left"  ] { --i: "\f355" }
	&[ data-icon="arrow-right" ] { --i: "\f356" }
	&[ data-icon="arrows"      ] { --i: "\f0b2" }
	&[ data-icon="arrows-v"    ] { --i: "\f338" }
	&[ data-icon="arrows-h"    ] { --i: "\f337" }
	&[ data-icon="arrows-h2"   ] { --i: "\f362" }
	&[ data-icon="sync"        ] { --i: "\f2f1" }
	&[ data-icon="undo"        ] { --i: "\f2ea" }
	&[ data-icon="redo"        ] { --i: "\f2f9" }
	&[ data-icon="history"     ] { --i: "\f1da" }

	/* ...................................................................... */
	&[ data-icon="caret-up"    ] { --i: "\f0d8"; --oa: 1; }
	&[ data-icon="caret-down"  ] { --i: "\f0d7"; --oa: 1; }
	&[ data-icon="caret-left"  ] { --i: "\f0d9"; --oa: 1; }
	&[ data-icon="caret-right" ] { --i: "\f0da"; --oa: 1; }
	&[ data-icon="chevron-double-right" ] { --i: "\f324" }

	/* ...................................................................... */
	&[ data-icon="mirror-x"    ] { --i: "\e664" }
	&[ data-icon="mirror-y"    ] { --i: "\e665" }
	&[ data-icon="normalize-y" ] { --i: "\e4ba"; --r: 90deg; }

	/* ...................................................................... */
	&[ data-icon="play"    ] { --i: "\f04b"; --oa: 1; }
	&[ data-icon="stop"    ] { --i: "\f04d"; --oa: 1; }
	&[ data-icon="pause"   ] { --i: "\f04c"; --oa: 1; }
	&[ data-icon="mute"    ] { --i: "\f2e2" }
	&[ data-icon="unmute"  ] { --i: "\f028" }
	&[ data-icon="loop"    ] { --i: "\f364" }
	&[ data-icon="eject"   ] { --i: "\f052" }
	&[ data-icon="reverse" ] { --i: "\f3e5" }
	&[ data-icon="speed"   ] { --i: "\f625"; --ob: 0; --oa: 1; }
	&[ data-icon="clock"   ] { --i: "\f017"; --oa: .3; }

	/* ...................................................................... */
	&[ data-icon="circle"      ] { --i: "\f111"; --oa: 1; }
	&[ data-icon="square"      ] { --i: "\f0c8"; --oa: 1; }
	&[ data-icon="triangle"    ] { --i: "\f2ec"; --oa: 1; }
	&[ data-icon="diamond"     ] { --i: "\f219"; --oa: 1; }
	&[ data-icon="hexagon"     ] { --i: "\f312"; --oa: 1; }
	&[ data-icon="octagon"     ] { --i: "\f306"; --oa: 1; }
	&[ data-icon="heart"       ] { --i: "\f004"; --oa: 1; }
	&[ data-icon="heart-slash" ] { --i: "\e78e" }

	/* ...................................................................... */
	&[ data-icon="amp-guitar" ] { --i: "\f8a1" }
	&[ data-icon="sax-hot"    ] { --i: "\f8db" }
	&[ data-icon="piano"      ] { --i: "\f8d4" }
	&[ data-icon="drum"       ] { --i: "\f569" }
	&[ data-icon="keys"       ] { --i: "\f8d5" }
	&[ data-icon="keyboard"   ] { --i: "\f11c" }

	/* ...................................................................... */
	&[ data-icon="grip-h"     ] { --i: "\f58d" }
	&[ data-icon="grip-v"     ] { --i: "\f58e" }
	&[ data-icon="ellipsis-v" ] { --i: "\f142"; --oa: 1; }

	/* ...................................................................... */
	&[ data-icon="link"   ] { --i: "\f0c1" }
	&[ data-icon="unlink" ] { --i: "\f127" }
	&[ data-icon="cut"    ] { --i: "\f0c4" }
	&[ data-icon="clone"  ] { --i: "\f24d" }
	&[ data-icon="crop"   ] { --i: "\f125" }
	&[ data-icon="erase"  ] { --i: "\f12d" }
	&[ data-icon="search" ] { --i: "\f002" }
	&[ data-icon="save"   ] { --i: "\f0c7"; --ob: .4; --oa: 1; }
	&[ data-icon="render" ] { --i: "\f0e7"; --oa: 1; }
	&[ data-icon="upload" ] { --i: "\f382"; --ob: 0; --oa: 1; }
	&[ data-icon="export" ] { --i: "\f019" }
	&[ data-icon="fork"   ] { --i: "\f126" }
	&[ data-icon="sort"   ] { --i: "\f0dc" }
	&[ data-icon="trash"  ] { --i: "\f1f8" }
	&[ data-icon="trash-restore" ] { --i: "\f895" }

	/* ...................................................................... */
	&[ data-icon="login"    ] { --i: "\f090" }
	&[ data-icon="logout"   ] { --i: "\f08b" }
	&[ data-icon="profile"  ] { --i: "\f2bd" }
	&[ data-icon="musician" ] { --i: "\f8eb" }
	&[ data-icon="users"    ] { --i: "\f0c0" }
	&[ data-icon="follow"   ] { --i: "\f234" }
	&[ data-icon="followed" ] { --i: "\f4fc" }
	&[ data-icon="unfollow" ] { --i: "\f503" }

	/* ...................................................................... */
	&[ data-icon="folder-open"  ] { --i: "\f07c" }
	&[ data-icon="folder-tree"  ] { --i: "\f802" }
	&[ data-icon="file-buffer"  ] { --i: "\f1c7" }
	&[ data-icon="file-export"  ] { --i: "\f56e" }
	&[ data-icon="file-corrupt" ] { --i: "\f877" }
	&[ data-icon="file-music"   ] { --i: "\f8b6" }

	/* ...................................................................... */
	&[ data-icon="expand"   ] { --i: "\f065" }
	&[ data-icon="compress" ] { --i: "\f326" }
	&[ data-icon="restore"  ] { --i: "\f2d2" }
	&[ data-icon="minimize" ] { --i: "\f2d1"; --oa: 1; }
	&[ data-icon="maximize" ] { --i: "\f2d0"; --oa: 0; }

	/* ...................................................................... */
	&[ data-icon="buf-fx"        ] { --i: "\e047" }
	&[ data-icon="buf-drum"      ] { --i: "\f569" }
	&[ data-icon="buf-loop"      ] { --i: "\f534" }
	&[ data-icon="buf-vocal"     ] { --i: "\f8cb" }
	&[ data-icon="buf-undefined" ] { --i: "\f2fd"; --oa: .2; }

	/* ...................................................................... */
	&[ data-icon="mouse"        ] { --i: "\f245"; }
	&[ data-icon="hand-pointer" ] { --i: "\f25a"; --ob: 0; --oa: 1; }

	/* ...................................................................... */
	&[ data-icon="local"   ] { --i: "\f8e6"; --oa: .2; }
	&[ data-icon="cloud"   ] { --i: "\f8ae"; --ob: .2; --oa: 1; }
	&[ data-icon="public"  ] { --i: "\f7a2" }
	&[ data-icon="private" ] { --i: "\f30d" }

	/* ...................................................................... */
	&[ data-icon="radio-btn"         ] { --i: "\f111"; --ob: 0; }
	&[ data-icon="radio-btn-checked" ] { --i: "\f192" }

	/* ...................................................................... */
	&[ data-icon="help"      ] { --i: "\f0fa" }
	&[ data-icon="about"     ] { --i: "\e02f" }
	&[ data-icon="cookie"    ] { --i: "\f563" }
	&[ data-icon="settings"  ] { --i: "\f013" }
	&[ data-icon="changelog" ] { --i: "\f70e" }
	&[ data-icon="magnet"    ] { --i: "\f076" }
	&[ data-icon="bug"       ] { --i: "\f188" }
	&[ data-icon="tint"      ] { --i: "\f043" }
	&[ data-icon="adjust"    ] { --i: "\f042" }
	&[ data-icon="pen"       ] { --i: "\f304" }
	&[ data-icon="eye"       ] { --i: "\f06e" }
	&[ data-icon="list"      ] { --i: "\f0ca" }
	&[ data-icon="smiley"    ] { --i: "\f581"; --ob: 0; --oa: 1; }
	&[ data-icon="at"        ] { --i: "\40";   --oa: 1; }
	&[ data-icon="check"     ] { --i: "\f00c"; --oa: 1; }
	&[ data-icon="warning"   ] { --i: "\f071" }
	&[ data-icon="info"      ] { --i: "\f2fd"; --oa: .3; }
	&[ data-icon="redirect"  ] { --i: "\f5eb"; --oa: .4; }

	&[ data-icon="drums"      ] { --i: "\f2a1" }
	&[ data-icon="mixer"      ] { --i: "\f3f1" }
	&[ data-icon="channels"   ] { --i: "\f828"; --r: -90deg; }
	&[ data-icon="music"      ] { --i: "\f001" }
	&[ data-icon="musics"     ] { --i: "\f8c9" }
	&[ data-icon="effects"    ] { --i: "\f5fd" }
	&[ data-icon="add-effect" ] { --i: "\f5ff" }
	&[ data-icon="oscillator" ] { --i: "\f89a"; --oa: 1; }
	&[ data-icon="osc-sine"   ] { --i: "\f899"; --oa: 1; }
	&[ data-icon="glissando"  ] { --i: "\f667" }
	&[ data-icon="slices"     ] { --i: "\f160"; --r: -90deg; }
	&[ data-icon="drumcut"    ] { --i: "\f052"; --r:  90deg; }
	&[ data-icon="drumprops"  ] { --i: "\f884"; --r: -90deg; }

	/* ...................................................................... */
	&::before {
		position: absolute;
		content: var( --i );
		opacity: var( --ob, 1 );
		rotate: var( --r, none );
		pointer-events: none;
	}
	&::after {
		content: var( --i ) var( --i );
		opacity: var( --oa, .6 );
		rotate: var( --r, none );
		pointer-events: none;
	}
}

@keyframes gsuiIcon-spin {
	from { rotate: 0deg; }
	to { rotate: 360deg; }
}
