.gsuiActionMenu {
	z-index: 1;
	position: absolute;
	display: flex;
	max-width: 260px;
	max-height: 260px;
	border: 2px solid #222;
	border-radius: 4px;
	padding: 4px;
	background-color: #444;
	box-shadow: 0 4px 10px 5px #0003;
	opacity: 0;
	visibility: hidden;
	transition: .2s;
	transition-property: opacity, visibility;
}
.gsuiActionMenu[ data-open ] {
	opacity: 1;
	visibility: visible;
}
.gsuiActionMenu-arrow {
	content: "";
	position: absolute;
	top: -5px;
	left: calc( 50% - 3px );
	width: 6px;
	height: 6px;
	border: inherit;
	border-right: 0;
	border-bottom: 0;
	border-radius: 2px;
	transform: rotate( 45deg );
	background-color: inherit;
}

/* .......................................................................... */
.gsuiActionMenu-actions {
	overflow: auto;
}

/* .......................................................................... */
.gsuiActionMenu-action {
	display: flex;
	width: 100%;
	align-items: center;
	text-align: start;
	padding: 4px;
	border: 0;
	border-radius: 2px;
	gap: 6px;
	font-size: 14px;
	cursor: pointer;
	background: none;
	transition: .1s;
	transition-property: color, background-color;
}
.gsuiActionMenu-action:hover {
	color: #111;
	background-color: #fff;
}
.gsuiActionMenu-action-body {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.gsuiActionMenu-action .gsuiIcon {
	width: 16px;
	min-width: 16px;
}
.gsuiActionMenu-action-name {
	font-weight: bold;
}
.gsuiActionMenu-action-desc {
	font-size: 12px;
	opacity: .7;
}
