.gsuiActionMenu-actions {
	overflow: auto;
}

/* .......................................................................... */
.gsuiActionMenu-action {
	display: flex;
	width: 100%;
	align-items: center;
	text-align: start;
	padding: 4px;
	border: 0;
	border-radius: 2px;
	gap: 6px;
	font-size: 14px;
	cursor: pointer;
	background: none;
	transition: .1s;
	transition-property: color, background-color;
}
.gsuiActionMenu-action:hover {
/*	color: #111;*/
	background-color: #fff2;
}
.gsuiActionMenu-action-body {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.gsuiActionMenu-action .gsuiIcon {
	width: 16px;
	min-width: 16px;
}
.gsuiActionMenu-action-name {
	font-weight: bold;
}
.gsuiActionMenu-action-desc {
	font-size: 12px;
	opacity: .7;
}
