.gsuiRipple {
	position: relative;
	overflow: hidden;
}
.gsuiRipple-circle {
	position: absolute;
	margin: -60%;
	width: 120%;
	scale: 0;
	padding-top: 120%;
	border-radius: 50%;
	background-color: var( --gsuiRipple-bg, #fff );
	opacity: .6;
	transition-duration: 0s;
}
.gsuiRipple[ data-ripple-active ] .gsuiRipple-circle {
	scale: 2;
	opacity: 0;
	transition-duration: .7s;
	transition-property: opacity, scale;
}
