.gsuiSpanEditable {
	display: flex;
	align-items: center;
	overflow: hidden;
	color: $gsuiSpanEditable_color;

	span {
		display: inline-block;
		width: 100%;
		color: inherit;
		transition: color $gsui_transitionDuration;
	}
	input {
		display: none;
		box-sizing: border-box;
		width: 100%;
		outline: 0;
		border: 0;
		font-size: 1em;
		color: inherit;
		background: none;
	}

	&.gsui-empty {
		span {
			font-style: italic;
			color: $gsuiSpanEditable_color_empty;
		}
	}
	&.gsui-editing {
		span {
			display: none;
		}
		input {
			display: block;
		}
	}
}
