gsui-channels {
	--vuW: 11px;
	display: flex;
	z-index: 0;
	height: 100%;
	position: relative;
	background-color: var( --gsui-items-bg );

	gsui-analyser-vu {
		width: var( --vuW );
	}
}

gsui-channels-main {
	position: absolute;
	inset: 0 auto 0 0;
	display: flex;
	gap: 3px;
}

gsui-channels-others {
	position: absolute;
	overflow-x: scroll;
	inset: 0 0 0 calc( var( --vuW ) + 3px + 50px );
	display: flex;

	&::after {
		order: 2147483647;
		content: ".";
		opacity: 0;
		margin-left: 16px;
	}
	> button {
		position: relative;
		order: 2147483646;
		display: flex;
		flex-direction: column;
		gap: 1ch;
		align-items: center;
		justify-content: center;
		min-width: 52px;
		font-size: 18px;
		border-radius: 2px;
		opacity: .4;
		transition: .2s opacity;

		&:focus,
		&:hover {
			opacity: .6;
		}
		&::before {
			content: "";
			inset: 6px;
			opacity: .4;
			border: 2px dashed;
			position: absolute;
		}
		gsui-icon {
			&:first-child { font-size: 24px }
			&:last-child { font-size: 14px }
		}
	}
}
