gsui-channels {
	display: flex;
	z-index: 0;
	height: 100%;
	position: relative;
	background-color: var( --gsui-items-bg );
	user-select: none;
	-webkit-user-select: none;
}

/* .......................................................................... */
.gsuiChannels-panMain {
	position: absolute;
	inset: 0 auto 0 0;
	padding-right: 3px;
}
.gsuiChannels-panChannels {
	position: absolute;
	overflow: scroll;
	inset: 0 0 0 calc( 50px + 3px );
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: min-content;
	scrollbar-width: none;
}
.gsuiChannels-panChannels::-webkit-scrollbar {
	display: none;
}
.gsuiChannels-panChannels::after {
	order: 2147483647;
	content: ".";
	opacity: 0;
	margin-left: 16px;
}

/* .......................................................................... */
.gsuiChannels-addChan {
	position: relative;
	order: 2147483646;
	display: flex;
	flex-direction: column;
	gap: 1ch;
	align-items: center;
	justify-content: center;
	width: 52px;
	border: 0;
	padding: 0;
	outline: 0;
	font-size: 18px;
	color: inherit;
	cursor: pointer;
	border-radius: 2px;
	background: none;
	opacity: .4;
	transition: .2s opacity;
}
.gsuiChannels-addChan:focus,
.gsuiChannels-addChan:hover {
	opacity: .6;
}
.gsuiChannels-addChan::before {
	content: "";
	inset: 6px;
	opacity: .4;
	border: 2px dashed;
	position: absolute;
}
.gsuiChannels-addChan .gsuiIcon:first-child {
	font-size: 24px;
}
.gsuiChannels-addChan .gsuiIcon:last-child {
	font-size: 14px;
}
