.gsuiReorder-dragging.gsuiReorder-reordering {
	opacity: .2 !important;
}

/* .......................................................................... */
.gsuiReorder-dropArea {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		z-index: 1;
		inset: 0;
		border-radius: inherit;
		background-color: transparent;
		opacity: .3;
		animation: gsuiReorder-dropArea-anim .5s forwards ease;
		animation-delay: inherit;
	}
}
.gsuiReorder-dropArea-hover::after {
	opacity: 1;
}
@keyframes gsuiReorder-dropArea-anim {
	  0% { background-color: transparent }
	 20% { background-color: #1e90ff }
	100% { background-color: #1e90ff50 }
}

/* .......................................................................... */
#gsuiReorder-fake {
	z-index: 1;
	position: absolute;
	overflow: hidden;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	color: var( --gsuiReorder-skeleton-txt );
	border: 2px solid;
	pointer-events: none;
}
#gsuiReorder-fake::before,
#gsuiReorder-fake-grip::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: currentColor;
	opacity: .2;
}
#gsuiReorder-fake-grip {
	position: absolute;
	box-sizing: border-box;
	border: inherit;
	margin: -2px;

	&::before {
		opacity: .4;
	}
}
