gsui-step-select {
	display: inline-flex;
	align-items: center;
	justify-content: end;
	gap: 6px;
	height: 20px;
	padding: 0 6px;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	background-color: #fff3;
	opacity: .8;

	.gsuiIcon {
		line-height: 20px;
		opacity: .5;
	}
	&:hover {
		opacity: 1;

		.gsuiIcon {
			opacity: .6;
		}
	}
}

.gsuiStepSelect-frac {
	font-family: var( --gsui-font-number );
}

