gsui-step-select {
	display: inline-flex;
	align-items: center;
	justify-content: end;
	gap: 4px;
	height: 20px;
	padding: 0 6px;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	background-color: #fff3;
	opacity: .8;

	&:hover {
		opacity: 1;

		> .gsuiIcon {
			opacity: .6;
		}
	}
	gsui-toggle {
		line-height: 20px;
		padding-left: 6px;
		margin-left: -6px;
	}
	> .gsuiIcon {
		font-size: 11px;
		line-height: 20px;
		opacity: .5;
	}
	span {
		font-family: var( --gsui-font-number );
	}
}
