.gsuiSlider {
	$lineBg: #222;
	$lineColor: darken( #7f9, 45% );
	$trackBg: #111;
	$trackBorderColor: rgba( #fff, .3 );
	$thumbBg: rgba( #000, .8 );
	$thumbBorderColor: #aaa;
	$thumbBorderColorActive: #ddd;
	$trackRadius: 4px;
	$thumbRadius: 2px;
	$transitionDur: .1s;

	position: relative;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	&.gsui-x {
		cursor: ew-resize;

		.gsui-line { top: 50%; }
		.gsui-lineColor { height: 100%; }
		.gsui-thumb { top: 50%; }
	}
	&.gsui-y {
		cursor: ns-resize;

		.gsui-line { left: 50%; }
		.gsui-lineColor { width: 100%; }
		.gsui-thumb { left: 50%; }
	}

	input {
		display: none;
	}

	.gsui- {
		&track,
		&thumb {
			box-sizing: border-box;
			position: absolute;
			border: 2px solid;
		}

		&track {
			width: 100%;
			height: 100%;
			border-color: $trackBorderColor;
			border-radius: $trackRadius;
			background: $trackBg;
		}

		&line {
			position: absolute;
			background: $lineBg;

			&Color {
				position: absolute;
				background: $lineColor;
			}
		}

		&thumb {
			border-color: $thumbBorderColor;
			border-radius: $thumbRadius;
			background: $thumbBg;
			transition: $transitionDur ease;
			transition-property: transform, border-width, border-color;
		}
	}

	&:hover .gsui-thumb,
	.gsui-thumb.gsui-hover {
		transform: scale( 2 );
		border-width: 1px;
		border-color: $thumbBorderColorActive;
	}
}
