gsui-wavelet-browser {
	--gsui-h: 100px;
	--gsui-item-h: 12px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 6px;
	min-width: 220px;
	min-height: 100px;
	user-select: none;

	> button {
		height: 20px;
		border: 0;
		outline: 0;
		border-radius: 4px;
		padding: 0 10px;
		font: inherit;
		font-size: 12px;
		font-weight: 600;
		background-color: var( --gsui-btn-playPause-bg );
	}
}

.gsuiWaveletBrowser-top {
	display: flex;
	flex: 1;
	min-height: 0;
}

.gsuiWaveletBrowser-svgs {
	position: relative;
	flex: 1;
	border-radius: 0 4px 4px 0;
	background-color: #484863;
	box-shadow:
		inset 0 0 68px #0005,
		inset 0 0 8px #000a;

	[ data-axe=y ] {
		position: absolute;
		inset: 8px 50%;
		width: 1px;
		background-color: currentColor;
		opacity: .25;
	}
	gsui-periodicwave {
		position: absolute;
		width: 100%;
		height: 100%;
		--gsuiPeriodicWave-pad: 8px;

		&:first-child {
			fill: none;
			opacity: .3;

			&[ data-ind="0" ] {
				visibility: hidden;
			}
		}
		&:last-child {
			--gsuiPeriodicWave-bg: #ffffff0a;
		}
	}
}

.gsuiWaveletBrowser-list {
	overflow: hidden;
	position: relative;
	border-right: 3px solid #0018;
	border-radius: 4px 0 0 4px;
	background-color: #0002;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		background-image: linear-gradient( 180deg,
			#0008,
			#0004 10%,
			transparent 25%,
			transparent 75%,
			#0004 90%,
			#0008 );
	}
	> * {
		--pad: 4px;
		box-sizing: border-box;
		overflow: auto;
		width: 128px;
		height: 100%;
		padding: calc( var( --gsui-h ) / 2 - var( --gsui-item-h ) / 2 ) 4px;

		> * {
			border-radius: 2px;
			text-align: center;
			height: var( --gsui-item-h );
			line-height: var( --gsui-item-h );
			font-size: 11px;
			font-family: var( --gsui-font-monospace );
			cursor: pointer;

			i {
				margin-right: 1ch;
			}
			&[ data-selected ] {
				color: #5a555f;
				font-weight: bold;
				background-color: #fffd;
			}
		}
	}
}
