gsui-patternroll {
	display: flex;
	height: 100%;
}

gsui-patternroll gsui-track {
	height: var( --gsuiTimewindow-lineH );
}

.gsuiPatternroll-block {
	box-sizing: border-box;
	white-space: nowrap;
	color: var( --gsuiPatterns-pattern-color );
	border-radius: 1px;
	border-top: 2px solid #ffffff4f;
	border-bottom: 2px solid #0000000d;
	--gsuiPatterns-pattern-color: #223;
}
.gsui-mute .gsuiPatternroll-block {
	opacity: .5;
}
.gsuiPatternroll-block-header {
	position: absolute;
	inset: 3px 3px auto;
	box-sizing: border-box;
	z-index: 1;
	display: flex;
	border-radius: inherit;
	flex-direction: column;
	justify-content: center;
	padding: 0 4px;
	font-size: 10px;
	font-weight: bold;
	background-color: #fff3;
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
}
.gsuiPatternroll-block-name {
	overflow: hidden;
	text-overflow: ellipsis;
}
.gsuiPatternroll-block-content {
	position: absolute;
	inset: 18px 0 0;
	pointer-events: none;
}
.gsuiPatternroll-block[ data-missing ] .gsuiPatternroll-block-content {
	display: none;
}
.gsuiPatternroll-block-content svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .8;
	fill: currentColor;
}

.gsui-row-small .gsuiPatternroll-block-header {
	background-color: inherit;
}
.gsui-row-small .gsuiPatternroll-block-header,
.gsui-row-small .gsuiPatternroll-block-content {
	position: absolute;
	inset: 0;
}

.gsuiPatternroll-block-placeholder {
	flex: 1;
	display: none;
	align-items: center;
	pointer-events: none;
	font-size: 14px;
	opacity: .5;
}
.gsuiPatternroll-block[ data-missing ] .gsuiPatternroll-block-placeholder {
	display: flex;
}
.gsuiPatternroll-block-placeholderIcon {
	margin: 0 8px;
}
.gsuiPatternroll-block-placeholderText {
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: none;
	-webkit-user-select: none;
}
