.gsuiPatternroll {
	display: flex;
}

.gsuiPatternroll-block {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	color: var( --gsuiPatterns-pattern-color );
	--gsuiPatterns-pattern-color: #223;
}
.gsui-mute .gsuiPatternroll-block {
	opacity: .5;
}
.gsuiPatternroll-block-header {
	position: relative;
	box-sizing: border-box;
	z-index: 1;
	display: flex;
	border-radius: inherit;
	flex-direction: column;
	justify-content: center;
	padding: 0 4px;
	font-size: 11px;
	font-weight: bold;
	background-color: #fff3;
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
}
.gsuiPatternroll-block-name {
	overflow: hidden;
	text-overflow: ellipsis;
}
.gsuiPatternroll-block-content {
	flex: 1;
	position: relative;
	pointer-events: none;
}
.gsuiPatternroll-block-content:empty {
	display: none;
}
.gsuiPatternroll-block-content svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .8;
	fill: currentColor;
}

.gsui-row-small .gsuiPatternroll-block-header {
	background-color: inherit;
}
.gsui-row-small .gsuiPatternroll-block-header,
.gsui-row-small .gsuiPatternroll-block-content {
	position: absolute;
	width: 100%;
	height: 100%;
}

.gsuiPatternroll-block-placeholder {
	flex: 1;
	display: none;
	align-items: center;
	pointer-events: none;
	font-size: 14px;
	opacity: .5;
}
.gsuiPatternroll-block-content:empty + .gsuiPatternroll-block-placeholder {
	display: flex;
}
.gsuiPatternroll-block-placeholderIcon {
	margin: 0 8px;
}
.gsuiPatternroll-block-placeholderText {
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: none;
	-webkit-user-select: none;
}
