gsui-timewindow {
	position: relative;
	z-index: 0;
	display: flex;
	align-items: start;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var( --gsuiTimewindow-bg );
	scrollbar-width: none;
}
gsui-timewindow::-webkit-scrollbar {
	display: none;
}
gsui-timewindow[ disabled ] {
	overflow: hidden;
	pointer-events: none;
	filter: grayscale( 1 ) brightness( .4 );
}

/* .......................................................................... */
.gsuiTimewindow-panel,
.gsuiTimewindow-main {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}
.gsuiTimewindow-main {
	z-index: 0;
}
.gsuiTimewindow-panel {
	position: sticky;
	z-index: 1;
	left: 0;
	border-right: 1px solid var( --gsuiTimewindow-panel-border );
	background-color: var( --gsui-items-bg );
}
.gsuiTimewindow-panelUp,
.gsuiTimewindow-time {
	position: sticky;
	z-index: 2;
	top: 0;
	height: 32px;
}
.gsuiTimewindow-panelUp {
    box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 4px;
	border-bottom: 2px solid #0005;
	background-color: var( --gsui-head-bg );
}
.gsuiTimewindow-panelContent,
.gsuiTimewindow-mainBody {
	flex: 1;
}
.gsuiTimewindow-mainBody {
	width: 1000000px;
}
.gsuiTimewindow-mainContent {
	position: relative;
	z-index: 0;
}
.gsuiTimewindow-panelContentDown,
.gsuiTimewindow-contentDown {
	position: sticky;
	bottom: 0;
	height: 96px;
	overflow: hidden;
	background-color: var( --gsuiTimewindow-bg );
	box-shadow: 0 -1px var( --gsuiTimewindow-panel-border );
}
.gsuiTimewindow-panelContentDown {
	background-color: inherit;
}

/* .......................................................................... */
.gsuiTimewindow-panelExtend {
	position: absolute;
}
.gsuiTimewindow-panelExtendX {
	inset: -2px 0 auto;
	height: 6px;
	cursor: ns-resize;
}
.gsuiTimewindow-panelExtendY {
	inset: 0 -2px 0 auto;
	width: 6px;
	cursor: ew-resize;
}

/* .......................................................................... */
gsui-timewindow gsui-timeline {
	--gsuiTimeline-cursor-fill: var( --gsuiTimewindow-currentTime-fill );
}
.gsuiTimewindow-currentTime,
.gsuiTimewindow-loop {
	position: absolute;
	z-index: 1;
	inset: 0 auto;
	pointer-events: none;
}
.gsuiTimewindow-currentTime {
	width: 2px;
	margin-left: -1px;
	background-color: var( --gsuiTimewindow-currentTime-fill );
}
gsui-timewindow[ currenttime="0" ] .gsuiTimewindow-currentTime {
	display: none;
}
.gsuiTimewindow-loop {
	opacity: 0;
	transition: .2s opacity;
	background-color: var( --gsuiTimewindow-loop-bg );
}
.gsuiTimewindow-looping .gsuiTimewindow-loop {
	opacity: 1;
}
.gsuiTimewindow-loopA { left: 0; }
.gsuiTimewindow-loopB { right: 0; }

/* .......................................................................... */
.gsuiTimewindow-step {
	display: flex;
	align-items: center;
	border: 0;
	outline: 0;
	padding: 4px;
	border-radius: 4px;
	font-size: inherit;
	font-family: var( --gsui-font-number );
	color: inherit;
	cursor: pointer;
	background: none;
	user-select: none;
	opacity: .5;
	transition: .2s opacity;
}
.gsuiTimewindow-step:focus,
.gsuiTimewindow-step:hover {
	opacity: 1;
}
.gsuiTimewindow-stepValue {
	white-space: nowrap;
	margin-right: 6px;
}

.gsuiTimewindow-panelUp gsui-slider {
	width: 6px;
	height: 80%;
	--gsuiSlider-lineColor: var( --gsuiTimewindow-bg );
}
.gsuiTimewindow-panelUp gsui-slider:first-of-type {
	margin-left: 4px;
	margin-right: 2px;
}
