.gsuiTimewindow {
	position: relative;
	z-index: 0;
	display: flex;
	align-items: start;
	width: 100%;
	height: 100%;
	overflow: auto;
	color: var( --gsuiTimewindow-color );
	background-color: var( --gsuiTimewindow-bg );
	scrollbar-width: none;
}
.gsuiTimewindow::-webkit-scrollbar {
	display: none;
}

/* .......................................................................... */
.gsuiTimewindow-panel,
.gsuiTimewindow-main {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}
.gsuiTimewindow-main {
	z-index: 0;
}
.gsuiTimewindow-panel {
	position: sticky;
	z-index: 1;
	left: 0;
	background-color: var( --gsuiTimewindow-panel-bg );
	box-shadow: 1px 0 var( --gsuiTimewindow-panel-border );
}
.gsuiTimewindow-panelUp,
.gsuiTimewindow-time {
	position: sticky;
	z-index: 2;
	top: 0;
	height: 32px;
}
.gsuiTimewindow-panelUp {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 4px;
	background-color: var( --gsuiTimewindow-panelUp-bg );
	background-image: var( --gsuiWindow-bgImg );
}
.gsuiTimewindow-panelContent,
.gsuiTimewindow-mainBody {
	flex: 1;
}
.gsuiTimewindow-mainBody {
	width: 1000000px;
}
.gsuiTimewindow-mainContent {
	position: relative;
	z-index: 0;
}
.gsuiTimewindow-panelContentDown,
.gsuiTimewindow-contentDown {
	position: sticky;
	bottom: 0px;
	height: 96px;
	overflow: hidden;
	background-color: var( --gsuiTimewindow-bg );
	box-shadow: 0 -1px var( --gsuiTimewindow-panel-border );
}
.gsuiTimewindow-panelContentDown {
	background-color: inherit;
}

/* .......................................................................... */
.gsuiTimewindow-panelExtend {
	position: absolute;
}
.gsuiTimewindow-panelExtendX {
	left: 0;
	right: 0;
	top: -2px;
	height: 6px;
	cursor: ns-resize;
}
.gsuiTimewindow-panelExtendY {
	top: 0;
	bottom: 0;
	right: -2px;
	width: 6px;
	cursor: ew-resize;
}

/* .......................................................................... */
.gsuiTimewindow .gsuiTimeline {
	--gsuiTimeline-cursor-fill: var( --gsuiTimewindow-currentTime-fill );
}
.gsuiTimewindow-currentTime,
.gsuiTimewindow-loop {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	pointer-events: none;
}
.gsuiTimewindow-currentTime {
	width: 2px;
	margin-left: -1px;
	background-color: var( --gsuiTimewindow-currentTime-fill );
}
.gsuiTimewindow-loop {
	opacity: 0;
	transition: .2s opacity;
	background-color: var( --gsuiTimewindow-loop-bg );
}
.gsuiTimewindow-looping .gsuiTimewindow-loop {
	opacity: 1;
}
.gsuiTimewindow-loopA { left: 0; }
.gsuiTimewindow-loopB { right: 0; }


/* .......................................................................... */
.gsuiTimewindow-step {
	display: flex;
	align-items: center;
	border: 0;
	outline: 0;
	padding: 4px;
	border-radius: 4px;
	font-size: inherit;
	font-family: var( --gsui-font-number );
	color: inherit;
	cursor: pointer;
	background: none;
	user-select: none;
	opacity: .5;
	transition: .2s opacity;
}
.gsuiTimewindow-step:focus,
.gsuiTimewindow-step:hover {
	opacity: 1;
}
.gsuiTimewindow-stepValue {
	white-space: nowrap;
	margin-right: 6px;
}
