gsui-com-player {
	--gsui-bg: #2e355b;
	container: gsui-com-player-query / inline-size;
	anchor-scope: --gsui-com-player-actions-anchor;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition: translate .3s;

	&[ deleted ] { --gsui-bg: #fff4 }
	&[ deleting ] { translate: 100% 0 }
	&[ restoring ] { translate: -100% 0 }
	&[ forking ] { animation: .25s gsui-com-player-forking-anim forwards }
	audio {
		display: none;
	}
}

@keyframes gsui-com-player-forking-anim {
	000% { height: 0 }
	100% { height: 64px }
}

gsui-com-player-in {
	position: relative;
	display: flex;		
	width: 100%;
	height: 64px;
	border-radius: 6px;
	background-color: var( --gsui-bg );
	background-image: linear-gradient( 45deg, #0003, transparent );

	> button,
	> a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 42px;
		min-width: 42px;
		color: #fff4;
		font-size: 20px;
		background-color: #0001;
		transition: color, background-color;
		transition-duration: .2s;

		&:not( [ disabled ] ) {
			&:focus-visible,
			&:hover {
				color: #fff;
				background-color: #0002;
			}
		}
	}
	> a[ data-action="daw" ]:not( [ href ] ) {
		display: none;
	}
	button[ data-action="play" ] {
		width: 64px;
		min-width: 64px;
		font-size: 28px;
	}
	button[ popovertarget ] {
		anchor-name: --gsui-com-player-actions-anchor;
		background-color: transparent;

		gsui-com-player:not( [ actions ] ) & {
			display: none;
		}
	}
	button[ data-action="like" ] {
		display: flex;
		flex-direction: column;
		gap: 4px;

		.gsuiIcon {
			gsui-com-player[ itsmine ] &:first-child,
			gsui-com-player[ liked ] &:first-child,
			gsui-com-player:not( [ liked ], [ itsmine ] ) &:nth-child( 2 ) {
				display: none;
			}
			gsui-com-player[ liked ] &:not( [ data-spin ] ):nth-child( 2 ) {
				color: #ee5f5f;
			}
		}
		span {
			margin-bottom: -6px;
			line-height: 14px;
			font-size: 14px;
			font-weight: bold;

			gsui-com-player[ liked ] & {
				color: #fff;
			}
			gsui-com-player[ likes="0" ] & {
				display: none;
			}
		}
	}
}

/* .......................................................................... */
gsui-com-player-actions-pop {
	position: absolute;
	position-anchor: --gsui-com-player-actions-anchor;
	position-area: top;
	position-try-fallbacks: bottom;
	width: 300px;
	flex-direction: column;
	font-size: 14px;

	&:popover-open {
		display: flex;
	}
	button {
		display: flex;
		flex-direction: column;
		padding: 6px;
		text-align: start;

		&:hover {
			background-color: #fff1;
		}
		b {
			.gsuiIcon {
				width: 20px;
				margin-right: 6px;
			}
		}
		> span {
			font-size: 13px;
			opacity: .7;
		}
	}
}

/* .......................................................................... */
gsui-com-player-body {
	flex: 1;
	display: flex;
	flex-direction: column;

	> :first-child {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 10px;
	}
}

/* .......................................................................... */
gsui-com-player-name {
	position: relative;
	height: 1.4em;
	line-height: 1.4em;
	font-size: 18px;
	transition: height .2s;

	gsui-com-player[ playing ] & {
		height: 1.3em;
	}
	.gsuiIcon {
		width: 18px;
		font-size: 16px;
		opacity: .5;

		gsui-com-player:not( [ private ] ) &[ data-icon="private" ],
		gsui-com-player:not( [ opensource ] ) &[ data-icon="opensource" ] {
			display: none;
		}
	}
	a {
		position: absolute;
		inset: 0 0 0 22px;
		overflow: hidden;
		white-space: nowrap;
		color: inherit;
		text-overflow: ellipsis;

		gsui-com-player:not( [ private ], [ opensource ] ) & {
			inset: 0;
		}
		&:hover {
			text-decoration: underline;
		}
		&:empty::after {
			content: "Untitled";
			font-style: italic;
			padding-right: 2px;
			opacity: .7;
		}
	}
}

/* .......................................................................... */
gsui-com-player-info-wrap {
	position: relative;
	width: 100%;
	height: 20px;
	overflow: hidden;
}
gsui-com-player-info {
	position: absolute;
	inset: 0 0 0 1px;
	display: flex;
	gap: 16px;
	font-size: 16px;
	font-family: var( --gsui-font-number );
	white-space: nowrap;
	opacity: .7;

	.gsuiIcon {
		margin-right: 6px;
		opacity: .6;
	}
	[ data-action="scratch" ] {
		:first-child {
			opacity: 1;
		}
		gsui-com-player[ scratch ] & :last-child {
			rotate: 180deg;
		}
	}
}
gsui-com-player-time,
gsui-com-player-tempo {
	display: flex;
	align-items: baseline;
}
gsui-com-player-currenttime {
	gsui-com-player:not( [ playing ] ) & {
		display: none;
	}
	&::after {
		content: "\A0-\A0";
	}
}
gsui-com-player-tempo span {
	display: inline-flex;
	align-items: baseline;

	&::after {
		content: "bpm";
		margin-left: 4px;
		font-size: 11px;
		font-family: var( --gsui-font );
	}
}

/* .......................................................................... */
gsui-com-player-slider {
	position: relative;
	overflow: hidden;
	height: 0;
	cursor: var( --gsuiCursor-pointer );
	transition: .2s;
	transition-property: height;
	background-color: #0003;
	touch-action: none;
	-webkit-tap-highlight-color: transparent;

	gsui-com-player[ playing ] & {
		height: 10px;
	}
	* {
		width: 0;
		height: 100%;
		pointer-events: none;
		background-color: #65b;
	}
}

/* .......................................................................... */
@container gsui-com-player-query ( max-width: 448px ) {
	gsui-com-player[ playing ] gsui-com-player-tempo span::after {
		display: none;
	}
}
@container gsui-com-player-query ( max-width: 416px ) {
	gsui-com-player[ playing ] gsui-com-player-duration,
	gsui-com-player[ playing ] gsui-com-player-currenttime::after {
		display: none;
	}
}
@container gsui-com-player-query ( max-width: 412px ) {
	gsui-com-player:not( [ playing ] ) gsui-com-player-tempo span::after {
		display: none;
	}
}
@container gsui-com-player-query ( max-width: 374px ) {
	gsui-com-player-body > :first-child {
		padding: 0 6px;
	}
	gsui-com-player-info {
		gap: 8px;
	}
}
