gsui-com-player {
	--gsui-bg: #2e355b;
	display: flex;
	position: relative;
	overflow: hidden;
	height: 64px;
	border-radius: 6px;
	background-color: var( --gsui-bg );
	background-image: linear-gradient( 45deg, #0003, transparent );
	transition: translate .3s;

	audio {
		display: none;
	}
}
gsui-com-player[ deleting ] { translate: 100% 0 }
gsui-com-player[ restoring ] { translate: -100% 0 }
gsui-com-player[ forking ] { animation: .25s gsuiComPlayer-forking-anim forwards; }

@keyframes gsuiComPlayer-forking-anim {
	  0% { height:  0   }
	100% { height: 64px }
}

/* .......................................................................... */
.gsuiComPlayer-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	min-width: 42px;
	border: 0;
	outline: 0;
	font-size: 16px;
	text-decoration: none;
	color: #fff4;
	font-size: 20px;
	cursor: pointer;
	background-color: #0001;
	transition: color, background-color;
	transition-duration: .2s;
}
.gsuiComPlayer-btn:focus-visible,
.gsuiComPlayer-btn:hover {
	color: #fff;
	background-color: #0002;
}
.gsuiComPlayer-play {
	width: 64px;
	min-width: 64px;
	font-size: 28px;
}

/* .......................................................................... */
.gsuiComPlayer-dawlink i:first-child {
	margin-left: 3px;
}
.gsuiComPlayer-dawlink i + i {
	margin-top: 12px;
	margin-left: -4px;
	font-size: 12px;
	text-shadow: -1px -1px 0 var( --gsui-bg );
}
.gsuiComPlayer-dawlink i[ data-icon="eye" ]::before { opacity: .6 }
.gsuiComPlayer-dawlink i[ data-icon="eye" ]::after { opacity: 1 }
.gsuiComPlayer-dawlink i[ data-icon="eye" ] {
	margin-top: 22px;
	margin-left: -5px;
}
.gsuiComPlayer-actions {
	background-color: transparent;
}
.gsuiComPlayer-dawlink:not( [ href ] ),
gsui-com-player[ itsmine ] .gsuiComPlayer-dawlink i[ data-icon="eye" ],
gsui-com-player:not( [ itsmine ] ) .gsuiComPlayer-dawlink i[ data-icon="pen" ],
gsui-com-player:not( [ actions ] ) .gsuiComPlayer-actions {
	display: none;
}

/* .......................................................................... */
.gsuiComPlayer-body {
	flex: 1;
	display: flex;
	flex-direction: column;
}

/* .......................................................................... */
.gsuiComPlayer-text {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10px;
}

/* .......................................................................... */
.gsuiComPlayer-name {
	position: relative;
	height: 1.4em;
	line-height: 1.4em;
	font-size: 18px;
	transition: height .2s;

	.gsuiIcon {
		width: 18px;
		font-size: 16px;
		opacity: .5;

		gsui-com-player:not( [ private ] ) &[ data-icon="private" ],
		gsui-com-player:not( [ opensource ] ) &[ data-icon="public" ] {
			display: none;
		}
	}
}
gsui-com-player[ playing ] .gsuiComPlayer-name {
	height: 1.3em;
}
.gsuiComPlayer-nameLink {
	position: absolute;
	inset: 0 0 0 22px;
	overflow: hidden;
	white-space: nowrap;
	color: inherit;
	text-overflow: ellipsis;
	text-decoration: none;

	gsui-com-player:not( [ private ] ):not( [ opensource ] ) & {
		inset: 0;
	}
}
.gsuiComPlayer-nameLink:empty::after {
	content: "Untitled";
	font-style: italic;
	padding-right: 2px;
	opacity: .7;
}

/* .......................................................................... */
.gsuiComPlayer-info-wrap {
	position: relative;
	width: 100%;
	height: 20px;
	overflow: hidden;
}
.gsuiComPlayer-info {
	position: absolute;
	inset: 0 0 0 1px;
	display: flex;
	font-size: 16px;
	font-family: var( --gsui-font-number );
	white-space: nowrap;
	opacity: .7;
}
.gsuiComPlayer-time,
.gsuiComPlayer-tempo {
	display: flex;
	align-items: baseline;
}
gsui-com-player:not( [ playing ] ) .gsuiComPlayer-currentTime {
	display: none;
}
.gsuiComPlayer-currentTime::after {
	content: "\A0-\A0";
}
.gsuiComPlayer-tempo {
	margin-left: 16px;
}
.gsuiComPlayer-time .gsuiIcon,
.gsuiComPlayer-tempo .gsuiIcon {
	margin-right: 6px;
	opacity: .5;
}
.gsuiComPlayer-bpm {
	display: inline-flex;
	align-items: baseline;
}
.gsuiComPlayer-bpm::after {
	content: "bpm";
	margin-left: 4px;
	font-size: 11px;
	font-family: var( --gsui-font );
}

/* .......................................................................... */
.gsuiComPlayer-slider {
	position: relative;
	overflow: hidden;
	height: 0;
	cursor: pointer;
	transition: .2s;
	transition-property: height;
	background-color: #0003;
}
gsui-com-player[ playing ] .gsuiComPlayer-slider {
	height: 10px;
}
.gsuiComPlayer-sliderValue {
	width: 0;
	height: 100%;
	pointer-events: none;
	background-color: #65b;
}
.gsuiComPlayer-sliderInput {
	position: absolute;
	cursor: inherit;
	top: 0;
	margin: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
}
