gsui-automation {
	position: relative;
	box-sizing: border-box;
	display: block;
	height: 100%;
	padding: 6px;
	background-color: var( --gsui-item-bg );

	&[ disabled ]::after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: #0008;
	}
}

.gsuiAutomation-in {
	display: flex;
	flex-direction: column;
	gap: 6px;
	height: 100%;
}

.gsuiAutomation-head {
	display: flex;
	align-items: center;
	gap: 6px;
}

.gsuiAutomation-btnTarget {
	margin-right: auto;
	padding: 2px 8px;
	border-radius: 4px;
	font-size: 14px;
	background-color: #0005;

	> * + * {
		margin-left: .5ch;
	}
	&:empty::before {
		content: "none";
		font-style: italic;
		opacity: .7;
	}
}

.gsuiAutomation-body {
	position: relative;
	flex: 1;
	border-radius: 4px;
	background-color: #0005;

	gsui-beatlines {
		border-radius: inherit;
	}
}
