gsui-wavelet-svg {
	--gsuiWaveletSVG-pad: 0px;
	position: relative;
	display: flex;
	fill: #fff2;
	stroke: #fff;
	stroke-width: 2px;

	svg {
		position: absolute;
		top: var( --gsuiWaveletSVG-pad );
		left: var( --gsuiWaveletSVG-pad );
		width: calc( 100% - 2 * var( --gsuiWaveletSVG-pad ) );
		height: calc( 100% - 2 * var( --gsuiWaveletSVG-pad ) );
		border-radius: 3px;
		background-color: var( --gsuiWaveletSVG-bg );
	}
	line {
		stroke-width: 1px;
		stroke-opacity: .5;
	}
}
