gsui-wavelet-svg {
	--gsui-pad: 0;
	position: relative;
	display: flex;

	svg {
		position: absolute;
		top: var( --gsui-pad );
		left: var( --gsui-pad );
		width: calc( 100% - 2 * var( --gsui-pad ) );
		height: calc( 100% - 2 * var( --gsui-pad ) );
		fill: none;
		stroke: #fff;
		stroke-width: 2px;
		border-radius: 3px;
		background-color: #ffffff0a;
	}
	line {
		stroke-width: 1px;
		stroke-opacity: .5;
	}
}
