gsui-clock {
	display: flex;
	width: min-content;
	height: 100%;
	max-height: 28px;
	border-radius: 4px;
	font-size: 18px;
	background-color: var( --gsuiClock-bg );
}

.gsuiClock-relative {
	position: relative;
	height: 100%;
	padding-left: 8px;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}
.gsuiClock-absolute {
	display: flex;
	position: absolute;
	white-space: nowrap;
	align-items: baseline;
	padding-top: 4px;
	font-family: var( --gsui-font-number );
}

.gsuiClock-modes {
	position: relative;
	display: flex;
	margin: 0;
	border: 0;
	outline: 0;
	padding: 7px 6px;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	cursor: pointer;
	color: inherit;
	flex-direction: column;
	justify-content: space-between;
	background: none;
}
.gsuiClock-modes:focus-visible {
	box-shadow: 0 0 1px 2px #69b;
}
.gsuiClock-mode {
	width: 5px;
	height: 5px;
	border-radius: 1px;
	background-color: currentColor;
	opacity: .2;
}
gsui-clock[ mode="beat" ] .gsuiClock-beat,
gsui-clock[ mode="second" ] .gsuiClock-second {
	opacity: .8;
}

.gsuiClock-b::before {
	content: ":";
	margin: 0 .2ch;
}
.gsuiClock-c {
	font-size: 12px;
	opacity: .5;
}
.gsuiClock-c::before {
	content: ".";
	margin: 0 .4ch;
}

.gsuiClock-modeText {
	position: absolute;
	top: 3px;
	right: 0;
	font-size: 8px;
	font-family: var( --gsui-font );
	opacity: .25;
}
gsui-clock[ mode="beat" ] .gsuiClock-modeText::before { content: "beat"; }
gsui-clock[ mode="second" ] .gsuiClock-modeText::before { content: "sec"; }
