.gsuiClock {
	display: inline-flex;
	color: var( --gsuiClock-color );
	border-radius: 4px;
	font-size: 22px;
	user-select: none;
}

.gsuiClock-relative {
	position: relative;
	height: 100%;
	padding-left: 8px;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
	background-color: var( --gsuiClock-bg );
}
.gsuiClock-absolute {
	display: flex;
	position: absolute;
	white-space: nowrap;
	align-items: baseline;
	padding-top: 3px;
	font-family: var( --gsui-font-number );
}

.gsuiClock-modes {
	position: relative;
	display: flex;
	margin: 0;
	border: 0;
	outline: 0;
	padding: 6px 8px;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	cursor: pointer;
	color: inherit;
	font-size: inherit;
	background-color: var( --gsuiClock-bg );
	flex-direction: column;
	justify-content: space-between;
}
.gsuiClock-modes:focus {
	box-shadow: 0 0 1px 2px #69b;
}
.gsuiClock-mode {
	width: 8px;
	height: 8px;
	border: 2px solid;
	border-radius: 2px;
	box-sizing: border-box;
	opacity: .5;
}
.gsuiClock[ mode="beat" ] .gsuiClock-beat,
.gsuiClock[ mode="second" ] .gsuiClock-second {
	opacity: 1;
	background-color: currentColor;
}

.gsuiClock-b::before {
	content: ":";
	margin: 0 .1em;
}
.gsuiClock-c {
	font-size: 12px;
	opacity: .5;
}
.gsuiClock-c::before {
	content: ".";
	margin: 0 .2em;
}

.gsuiClock-modeText {
	position: absolute;
	top: 4px;
	right: 0;
	font-size: 8px;
	font-family: var( --gsui-font );
	opacity: .3;
	pointer-events: none;
}
.gsuiClock[ mode="beat" ] .gsuiClock-modeText::before { content: "beat"; }
.gsuiClock[ mode="second" ] .gsuiClock-modeText::before { content: "sec"; }
