gsui-analyser-hz,
gsui-analyser-td,
gsui-analyser-hist {
	display: flex;
	position: relative;
	overflow: hidden;
	height: 100%;
	background-color: var( --gsui-screen-spectrum );
	filter: var( --gsui-screen-spectrum-filter );
}

gsui-analyser-hz canvas,
gsui-analyser-td canvas,
gsui-analyser-hist canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

gsui-analyser-hist[ type="td" ]::after {
	position: absolute;
	content: "";
	width: 1px;
	height: 100%;
	left: 50%;
	background-color: #0004;
}
