:root {
	--gsuiOscillator-bg: #2af;
	--gsuiOscillator-font: 12px sans-serif;
	--gsuiOscillator-color: #ff0;
	--gsuiOscillator-slider-bg: #f64;
	--gsuiOscillator-number-font: monospace;
	--gsuiOscillator-pan: #808;
	--gsuiOscillator-gain: #0f0;
	--gsuiOscillator-pan-a: #2af;
	--gsuiOscillator-pan-b: #f64;
	--gsuiOscillator-detune: #fa0;
}

.gsuiOscillator {
	display: grid;
	position: relative;
	box-sizing: border-box;
	height: 60px;
	color: var( --gsuiOscillator-color );
	font-family: var( --gsuiOscillator-font );
	background-color: var( --gsuiOscillator-bg );
	grid-template:
		"grip .   .        .        .          .      .    .    ." 6px
		"grip .   wavePrev waveNext waveSelect detune pan  gain ." 1fr
		"grip .   wave     wave     wave       detune pan  gain ." 1fr
		"grip .   wave     wave     wave       detune pan  gain ." 1fr
		"grip .   .        .        .          .      .    .    ." 6px
		/20px 6px 14px     14px     1fr        48px   48px 48px 8px;
	--gsuiSlider-lineBgColor: var( --gsuiOscillator-slider-bg );
}

.gsuiOscillator-grip {
	grid-area: grip;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	cursor: grab;
	opacity: .6;
	background-color: rgba( 0, 0, 0, .1 );
}

.gsuiOscillator-prop {
	position: relative;
	margin-left: 6px;
}
.gsuiOscillator-pan    { grid-area: pan;    --gsuiSlider-lineColor: var( --gsuiOscillator-pan ); }
.gsuiOscillator-gain   { grid-area: gain;   --gsuiSlider-lineColor: var( --gsuiOscillator-gain ); }
.gsuiOscillator-detune { grid-area: detune; --gsuiSlider-lineColor: var( --gsuiOscillator-detune ); }
.gsuiOscillator-sliderWrap {
	box-sizing: border-box;
	height: 100%;
}
.gsuiOscillator-sliderValue {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var( --gsuiOscillator-number-font );
	color: var( --gsuiSlider-lineColor );
	font-size: 14px;
	pointer-events: none;
}

.gsuiOscillator-wave {
	grid-area: wave;
	position: relative;
	flex: 1;
	border-radius: 0 0 3px 3px;
	background-color: rgba( 0, 0, 0, .4 );
}
.gsuiOscillator-wave .gsuiPeriodicWave {
	position: absolute;
}
.gsuiOscillator-wave .gsuiPeriodicWave:first-child polyline { stroke: var( --gsuiOscillator-pan-a ); }
.gsuiOscillator-wave .gsuiPeriodicWave:last-child polyline { stroke: var( --gsuiOscillator-pan-b ); }
.gsuiOscillator-wave polyline {
	stroke-opacity: .8;
}

.gsuiOscillator-remove,
.gsuiOscillator-waveBtn,
.gsuiOscillator-waveSelect {
	border: 0;
	padding: 0;
	color: inherit;
	cursor: pointer;
	background: none;
}
.gsuiOscillator-waveBtn:focus,
.gsuiOscillator-waveBtn:hover,
.gsuiOscillator-remove:focus,
.gsuiOscillator-remove:hover {
	opacity: 1;
}
.gsuiOscillator-wavePrev {
	grid-area: wavePrev;
	border-top-left-radius: 3px;
}
.gsuiOscillator-waveNext {
	grid-area: waveNext;
}
.gsuiOscillator-waveBtn {
	width: 14px;
	font-size: 16px;
	text-align: center;
	opacity: .6;
	transition: .1s opacity;
	background-color: rgba( 0, 0, 0, .7 );
}
.gsuiOscillator-waveSelect {
	grid-area: waveSelect;
	font-size: 12px;
	font-family: inherit;
	padding-left: 6px;
	border-top-right-radius: 3px;
	background-color: rgba( 0, 0, 0, .4 );
	-moz-appearance: none;
	-webkit-appearance: none;
}
.gsuiOscillator-waveSelect:focus,
.gsuiOscillator-waveSelect:hover {
	background-color: rgba( 0, 0, 0, .7 );
}
.gsuiOscillator-waveOpt {
	background-color: #444;
}
.gsuiOscillator-waveOptNative {
	background-color: #333;
}
.gsuiOscillator-remove {
	position: absolute;
	top: 0;
	right: 2px;
	font-size: 12px;
	opacity: .4;
	transition: .1s opacity;
}
