gsui-oscillator {
	--gsuiOscillator-pan: var( --gsui-col-pan );
	--gsuiOscillator-gain: var( --gsui-col-gain );
	--gsuiOscillator-pan-a: #faa;
	--gsuiOscillator-pan-b: #aaf;
	--gsuiOscillator-detune: var( --gsui-col-detune );
	--gsuiOscillator-unison: var( --gsui-col-unison );
	--gsuiOscillator-grip-bg: #0002;
	--gsuiOscillator-wave-bg: #0006;
	--gsuiOscillator-wave-option: #444;
	--gsuiOscillator-wave-optionNative: #333;
}
