gsui-oscillator {
	display: grid;
	position: relative;
	box-sizing: border-box;
	height: 100%;
	min-width: 320px;
	min-height: 60px;
	background-color: var( --gsui-item-bg );
	grid-template:
		"grip .   .    .   .      .   .      .   .    .   .    ." 6px
		"grip .   wave .   unison .   detune .   pan  .   gain ." 1fr
		"grip .   .    .   .      .   .      .   .    .   .    ." 6px
		/20px 6px 1fr  6px 32px   8px 36px   6px 36px 6px 36px 10px;
}

/* .......................................................................... */
.gsuiOscillator-grip {
	grid-area: grip;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	cursor: grab;
	opacity: .6;
	background-color: #0002;
}

/* .......................................................................... */
.gsuiOscillator-prop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2px;
	--gsuiSlider-lineColor: currentColor;
}
.gsuiOscillator-pan { grid-area: pan; color: var( --gsui-col-pan ); }
.gsuiOscillator-gain { grid-area: gain; color: var( --gsui-col-gain ); }
.gsuiOscillator-detune { grid-area: detune; color: var( --gsui-col-detune ); }
.gsuiOscillator-sliderWrap {
	position: relative;
	box-sizing: border-box;
	height: 32px;
}
.gsuiOscillator-prop gsui-slider:first-child .gsuiSlider-eventCatcher {
	bottom: -18px;
}
.gsuiOscillator-prop gsui-slider + gsui-slider {
	position: absolute;
	overflow: hidden;
	border-radius: 50%;
	top: calc( 50% - 8px );
	left: calc( 50% - 8px );
	width: 16px;
	height: 16px;
}
.gsuiOscillator-prop gsui-slider + gsui-slider .gsuiSlider-eventCatcher {
	border-radius: 50%;
}
.gsuiOscillator-sliderValue {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var( --gsui-font-number );
	font-size: 12px;
	pointer-events: none;
}
gsui-oscillator[ wave="noise" ] .gsuiOscillator-detune .gsuiOscillator-sliderValue {
	filter: grayscale( 1 );
	opacity: .4;
}

/* .......................................................................... */
.gsuiOscillator-waveWrap {
	position: relative;
	overflow: hidden;
	grid-area: wave;
	display: flex;
	border-radius: 3px;
	background-color: #0006;
}
.gsuiOscillator-waveWrap-left {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.gsuiOscillator-waveWrap-top {
	display: flex;
	height: 18px;
}
.gsuiOscillator-waveWrap-bottom {
	position: relative;
	flex: 1;
}
.gsuiOscillator-wave,
.gsuiOscillator-source {
	position: absolute;
	inset: 0;
}
gsui-oscillator:not( [ source ] ) .gsuiOscillator-source,
gsui-oscillator:not( [ wave ] ) .gsuiOscillator-wave {
	visibility: hidden;
}
.gsuiOscillator-wave gsui-periodicwave {
	position: absolute;
}
.gsuiOscillator-wave gsui-periodicwave:first-child { color: var( --gsui-col-pan-l ); }
.gsuiOscillator-wave gsui-periodicwave:last-child { color: var( --gsui-col-pan-r ); }
.gsuiOscillator-wave polyline {
	stroke-opacity: .8;
}
.gsuiOscillator-source svg {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var( --gsui-col-pan );
}

/* .......................................................................... */
.gsuiOscillator-remove,
.gsuiOscillator-waveBtn,
.gsuiOscillator-waveSelect {
	border: 0;
	padding: 0;
	outline: 0;
	cursor: pointer;
	color: inherit;
	background: none;
	opacity: .5;
	transition: .1s opacity;
}
gsui-oscillator:not( [ wave ] ) .gsuiOscillator-waveBtn,
gsui-oscillator:not( [ wave ] ) .gsuiOscillator-waveSelect,
gsui-oscillator:not( [ source ] ) .gsuiOscillator-sourceIcon,
gsui-oscillator:not( [ source ] ) .gsuiOscillator-sourceName {
	display: none;
}
.gsuiOscillator-sourceIcon,
.gsuiOscillator-waveBtn {
	width: 14px;
	font-size: 16px;
	text-align: center;
}
.gsuiOscillator-sourceIcon {
	margin-left: 8px;
	font-size: 12px;
	opacity: .5;
}
.gsuiOscillator-remove {
	position: absolute;
	inset: 0 2px auto auto;
	outline: 0;
	font-size: 12px;
	background: none;
}
.gsuiOscillator-waveBtn:focus-visible,
.gsuiOscillator-waveBtn:hover,
.gsuiOscillator-waveSelect:focus-visible,
.gsuiOscillator-waveSelect:hover,
.gsuiOscillator-remove:focus-visible,
.gsuiOscillator-remove:hover {
	opacity: 1;
}

/* .......................................................................... */
.gsuiOscillator-sourceName,
.gsuiOscillator-waveSelect {
	flex: 1;
	padding-left: 6px;
	font-size: 12px;
	font-family: inherit;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.gsuiOscillator-waveOpt {
	background-color: #444;
}
.gsuiOscillator-waveOptNative {
	background-color: #333;
}
.gsuiOscillator-sourceName {
	padding-left: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 18px;
	opacity: .5;
}

/* .......................................................................... */
.gsuiOscillator-unisonGraph {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10px;
}
gsui-oscillator[ wave="noise" ] .gsuiOscillator-unisonGraph {
	filter: grayscale( 1 );
}
.gsuiOscillator-unisonGraph-voices {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: auto 0;
	width: 100%;
	min-height: 3px;
	pointer-events: none;
}
.gsuiOscillator-unisonGraph-voice {
	height: 3px;
	min-width: 1px;
	border-radius: 3px;
	background-color: var( --gsui-col-unison );
	opacity: .75;
}
.gsuiOscillator-unisonGraph-voice:only-child {
	margin: auto 0;
}

/* .......................................................................... */
.gsuiOscillator-unison {
	grid-area: unison;
	display: flex;
	gap: 5px;
	--gsuiSlider-lineColor: var( --gsui-col-unison );
}
.gsuiOscillator-unison gsui-slider + gsui-slider {
	width: 6px;
	min-width: 6px;
}
.gsuiOscillator-unison gsui-slider .gsuiSlider-eventCatcher {
	inset: -3px;
}

/* .......................................................................... */
.gsuiOscillator-dragging,
.gsuiOscillator-wave-dragging {
	position: absolute;
	opacity: 0;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	transition: opacity .2s;
	pointer-events: none;
}
gsui-oscillator[ dragover ] .gsuiOscillator-dragging,
gsui-oscillator[ dragoverwave ] .gsuiOscillator-wave-dragging {
	opacity: 1;
}
gsui-oscillator[ dragoverwave ] .gsuiOscillator-waveWrap-top,
gsui-oscillator[ dragoverwave ] .gsuiOscillator-waveWrap-bottom,
gsui-oscillator[ dragoverwave ] .gsuiOscillator-unisonGraph,
gsui-oscillator[ dragover ] .gsuiOscillator-waveWrap-top,
gsui-oscillator[ dragover ] .gsuiOscillator-waveWrap-bottom,
gsui-oscillator[ dragover ] .gsuiOscillator-unisonGraph,
gsui-oscillator[ dragover ] .gsuiOscillator-unison,
gsui-oscillator[ dragover ] .gsuiOscillator-prop,
gsui-oscillator[ dragover ] .gsuiOscillator-remove {
	opacity: 0;
}
gsui-oscillator[ dragover ] .gsuiOscillator-waveWrap {
	opacity: .33;
}
