.gsuiSynthesizer {
	overflow: auto;
	position: relative;
	box-sizing: border-box;
	color: var( --gsuiSynthesizer-color );
	scrollbar-width: thin;
	scrollbar-color: #ddd #222;
}

/* .......................................................................... */
.gsuiSynthesizer-head {
	display: flex;
	align-items: center;
	padding-right: 8px;
	font-size: 14px;
	line-height: 1em;
	user-select: none;
	background-color: var( --gsuiSynthesizer-head-bg );
}
.gsuiSynthesizer-headTitle {
	opacity: .3;
	line-height: 24px;
	margin-left: 6px;
}
.gsuiSynthesizer-label {
	width: 42px;
	margin-left: 6px;
	text-align: center;
	font-size: 12px;
	opacity: .5;
}
.gsuiSynthesizer-labelPitch {
	margin-left: auto;
}

/* .......................................................................... */
.gsuiSynthesizer-env,
.gsuiSynthesizer-lfo {
	height: 118px;
}
.gsuiSynthesizer-env {
	display: none;
}

/* .......................................................................... */
.gsuiSynthesizer-headOscs {
	height: 24px;
}
.gsuiSynthesizer-oscList {
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: min-content;
	counter-reset: count-osc;
	background-color: var( --gsuiSynthesizer-bg );
}

/* .......................................................................... */
.gsuiSynthesizer .gsuiOscillator {
	transition: .2s filter;
}
.gsuiSynthesizer .gsuiOscillator:hover {
	filter: brightness( 1.05 );
}
.gsuiSynthesizer .gsuiOscillator:only-of-type .gsuiOscillator-remove {
	display: none;
}

/* .......................................................................... */
.gsuiSynthesizer-newOsc {
	position: relative;
	order: 2147483647;
	border: 0;
	height: 52px;
	color: inherit;
	font-size: 18px;
	cursor: pointer;
	border-radius: 2px;
	background: none;
	opacity: .4;
	transition: .2s opacity;
}
.gsuiSynthesizer-newOsc:focus,
.gsuiSynthesizer-newOsc:hover {
	opacity: .6;
}
.gsuiSynthesizer-newOsc::before {
	content: "";
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	opacity: .4;
	border: 2px dashed;
	position: absolute;
}
