:root {
	--gsuiSynthesizer-bg: #008;
	--gsuiSynthesizer-color: #ff0;
	--gsuiSynthesizer-head-bg: #c55;
	--gsuiSynthesizer-head-height: 32px;
}

.gsuiSynthesizer {
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	color: var( --gsuiSynthesizer-color );
	background-color: var( --gsuiSynthesizer-head-bg );
}

.gsuiSynthesizer-head {
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	padding: 0 6px;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	height: var( --gsuiSynthesizer-head-height );
}
.gsuiSynthesizer-title {
	opacity: .25;
	font-size: 14px;
}
.gsuiSynthesizer-labels {
	display: flex;
	opacity: .5;
	font-size: 12px;
}
.gsuiSynthesizer-label-no {
	width: 18px;
}
.gsuiSynthesizer-label-wave {
	flex: 1;
	text-align: center;
}
.gsuiSynthesizer-label-attr {
	width: 40px;
	text-align: center;
	padding-left: 14px;
}

.gsuiSynthesizer-oscList {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	overflow-x: hidden;
	overflow-y: scroll;
	grid-gap: 1px;
	grid-auto-flow: row;
	grid-auto-rows: min-content;
	counter-reset: count-osc;
	scrollbar-width: thin;
	scrollbar-color: #ddd #222;
	top: calc( var( --gsuiSynthesizer-head-height ) + 1px );
	background-color: var( --gsuiSynthesizer-bg );
}

.gsuiSynthesizer .gsuiOscillator {
	transition: .2s filter;
}
.gsuiSynthesizer .gsuiOscillator:hover {
	filter: brightness( 1.05 );
}
.gsuiSynthesizer .gsuiOscillator:only-of-type .gsuiOscillator-remove {
	display: none;
}

.gsuiSynthesizer-newOsc {
	order: 2147483647;
	border: 0;
	height: 52px;
	padding: 6px;
	color: inherit;
	font-size: 18px;
	font-family: "FontAwesome";
	cursor: pointer;
	border-radius: 2px;
	background: none;
	opacity: .2;
	transition: .2s opacity;
}
.gsuiSynthesizer-newOsc:focus,
.gsuiSynthesizer-newOsc:hover {
	font-weight: bold;
	opacity: .4;
}
.gsuiSynthesizer-newOsc::before {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	content: "\f067";
	height: 100%;
	border: 2px dashed;
}
