gsui-synthesizer {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	height: 100%;
}

/* .......................................................................... */
.gsuiSynthesizer-shadowTop,
.gsuiSynthesizer-shadowBottom {
	position: absolute;
	width: 100%;
	height: 50px;
}
.gsuiSynthesizer-shadowTop { bottom: 100% }
.gsuiSynthesizer-shadowBottom { top: 100% }
.gsuiSynthesizer-scrollArea {
	display: flex;
	flex-direction: column;
	overflow: auto;
	height: 100%;
}

/* .......................................................................... */
.gsuiSynthesizer-head {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 26px;
	font-size: 10px;
	font-weight: bold;
	line-height: 24px;
	padding-top: 2px;
	border-bottom: 2px solid #0002;
	background-color: var( --gsui-head3-bg );
}
.gsuiSynthesizer-headTitle {
	display: flex;
	align-items: center;
	gap: 6px;
	margin: 0 10px;
}
.gsuiSynthesizer-headTitle gsui-help-link {
	font-size: 14px;
}
.gsuiSynthesizer-headTab {
	display: flex;
	align-items: center;
	height: 100%;
	padding-right: 10px;
	cursor: pointer;
	background-color: #ffffff0b;
}
.gsuiSynthesizer-headTab[ data-selected ] {
	cursor: default;
	background-color: #ffffff1b;
}
.gsuiSynthesizer-headTab:not( [ data-selected ] ):hover {
	background-color: #ffffff11;
}
.gsuiSynthesizer-headTab gsui-toggle {
	align-self: normal;
	justify-content: end;
	width: 18px;
	margin-right: 8px;
}
.gsuiSynthesizer-headTab span {
	opacity: .7;
}
.gsuiSynthesizer-headTab:hover span,
.gsuiSynthesizer-headTab[ data-selected ] span {
	opacity: 1;
}

/* .......................................................................... */
gsui-synthesizer gsui-envelope {
	height: min-content;
}

/* .......................................................................... */
.gsuiSynthesizer-headNoise .gsuiSynthesizer-headTitle {
	margin-right: 4px;
}
.gsuiSynthesizer-headNoise gsui-toggle {
	width: 24px;
}

/* .......................................................................... */
.gsuiSynthesizer-headOscs {
	gap: 6px;
	padding: 2px 10px 0 0;
}
.gsuiSynthesizer-oscList {
	flex: 1;
	display: flex;
	flex-direction: column;
	counter-reset: count-osc;
	background-color: var( --gsui-items-bg );
}

/* .......................................................................... */
.gsuiSynthesizer-newOsc {
	position: relative;
	order: 2147483647;
	border: 0;
	outline: 0;
	height: 52px;
	color: inherit;
	font-size: 18px;
	border-radius: 2px;
	background: none;
	opacity: .4;
	transition: .2s opacity;
}
.gsuiSynthesizer-newOsc:focus-visible,
.gsuiSynthesizer-newOsc:hover,
.gsuiSynthesizer-newOsc[ data-hover ] {
	opacity: 1;
}
.gsuiSynthesizer-newOsc::before {
	position: absolute;
	content: "";
	inset: 6px;
	opacity: .4;
	border: 2px dashed;
}
