:root {
	--gsuiSynthesizer-bg: darkblue;
	--gsuiSynthesizer-color: yellow;
	--gsuiSynthesizer-head-bg: indianred;
	--gsuiSynthesizer-head-height: 32px;
}

.gsuiSynthesizer {
	position: relative;
	box-sizing: border-box;
	color: var( --gsuiSynthesizer-color );
	background-color: var( --gsuiSynthesizer-bg );
}

.gsuiSynthesizer-head {
	position: absolute;
	width: 100%;
	display: flex;
	padding: 0 6px;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	height: var( --gsuiSynthesizer-head-height );
	background-color: var( --gsuiSynthesizer-head-bg );
}
.gsuiSynthesizer-title {
	opacity: .15;
	font-size: 12px;
}
.gsuiSynthesizer-labels {
	display: flex;
	opacity: .3;
	font-size: 10px;
	font-weight: bold;
}
.gsuiSynthesizer-label-no {
	width: 18px;
}
.gsuiSynthesizer-label-wave {
	flex: 1;
	text-align: center;
}
.gsuiSynthesizer-label-attr {
	width: 40px;
	text-align: center;
	padding-left: 14px;
}

.gsuiSynthesizer-oscList {
	position: absolute;
	top: calc( var( --gsuiSynthesizer-head-height ) + 1px );
	width: 100%;
	bottom: 0;
	display: grid;
	overflow: auto;
	grid-gap: 1px;
	counter-reset: count-osc;
	grid-auto-rows: 60px;
}

.gsuiSynthesizer .gsuiOscillator {
	height: auto;
	transition: .2s filter;
}
.gsuiSynthesizer .gsuiOscillator:hover {
	filter: brightness( 1.05 );
}
.gsuiSynthesizer .gsuiOscillator:only-of-type .gsuiOscillator-remove {
	display: none;
}

.gsuiSynthesizer-newOsc {
	order: 2147483647;
	border: 0;
	margin: 6px;
	padding: 6px 0;
	color: inherit;
	font-size: 18px;
	font-family: "FontAwesome";
	cursor: pointer;
	border: 2px dashed;
	border-radius: 2px;
	background: none;
	opacity: .2;
	transition: .2s opacity;
}
.gsuiSynthesizer-newOsc:hover {
	font-weight: bold;
	opacity: .4;
}
.gsuiSynthesizer-newOsc::before {
	content: "\f300";
}
