:root {
	--gsuiEnvelopes-colorGain: #ff9;
	--gsuiEnvelopes-colorPan: #d9f;
}

.gsuiEnvelopes[data-env="gain"] { --gsuiEnvelopes-currentColor: var( --gsuiEnvelopes-colorGain ); }
.gsuiEnvelopes[data-env="pan"] { --gsuiEnvelopes-currentColor: var( --gsuiEnvelopes-colorPan ); }
.gsuiEnvelopes {
	display: grid;
	height: 108px;
	color: var( --gsuiEnvelopes-currentColor );
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 22px 20px 1fr;
	grid-template-areas:
		"nav nav"
		"menuAtt menuRel"
		"lineAtt lineRel";
}

/* .......................................................................... */
.gsuiEnvelopes-nav {
	grid-area: nav;
	display: flex;
	align-items: center;
	background-color: rgba( 0, 0, 0, .2 );
}
.gsuiEnvelopes-title {
	margin-left: 8px;
	font-weight: bold;
	font-size: 11px;
	color: #666;
}

/* .......................................................................... */
.gsuiEnvelopes-gainBtn { color: var( --gsuiEnvelopes-colorGain ); }
.gsuiEnvelopes-panBtn { color: var( --gsuiEnvelopes-colorPan ); }
.gsuiEnvelopes-envBtn {
	border-radius: 4px;
	padding: 1px 4px;
	margin-left: 6px;
	font-size: 11px;
	font-weight: bold;
	background-color: transparent;
	transition: .2s;
	transition-property: color, background-color;
}
.gsuiEnvelopes[data-env="gain"] .gsuiEnvelopes-gainBtn,
.gsuiEnvelopes[data-env="pan"] .gsuiEnvelopes-panBtn {
	color: rgba( 0, 0, 0, .8 );
	background-color: var( --gsuiEnvelopes-currentColor );
}

/* .......................................................................... */
.gsuiEnvelopes-dotLinkBtn {
	margin: 0 6px 0 auto;
	font: 14px "FontAwesome";
	color: #fff;
}
.gsuiEnvelopes-dotLinkBtn::before {
	content: "\f127";
	opacity: .2;
	transition: .2s opacity;
}
.gsuiEnvelopes-dotLinkBtn:hover::before {
	opacity: .4;
}
.gsuiEnvelopes-dotLinked .gsuiEnvelopes-dotLinkBtn::before {
	content: "\f0c1";
	opacity: .6;
}

/* .......................................................................... */
.gsuiEnvelopes-menuAtt { grid-area: menuAtt; padding-left: 7px; }
.gsuiEnvelopes-menuRel { grid-area: menuRel; padding-left: 2px; }
.gsuiEnvelopes-menu {
	display: flex;
	align-items: center;
	font-size: 11px;
	font-weight: bold;
	background-color: rgba( 0, 0, 0, .2 );
}
.gsuiEnvelopes-attRel {
	color: #888;
}
.gsuiEnvelopes-menuDur {
	white-space: nowrap;
	font-family: "inconsolata", monospace;
}
.gsuiEnvelopes-menuDur::after {
	color: #fff;
	content: " step";
	font-weight: normal;
	font-family: sans-serif;
	opacity: .2;
}
.gsuiEnvelopes .gsuiSlider {
	width: 48px;
	height: 6px;
	margin: 1px 6px 0 6px;
	--gsuiSlider-lineColor: var( --gsuiEnvelopes-currentColor );
	--gsuiSlider-lineBgColor: rgba( 0, 0, 0, .4 );
}
.gsuiEnvelopes .gsuiSlider .gsui-line {
	overflow: hidden;
	border-radius: 2px;
}

/* .......................................................................... */
.gsuiEnvelopes-lineAtt { grid-area: lineAtt; margin-right: 1px; }
.gsuiEnvelopes-lineRel { grid-area: lineRel; margin-left: 2px; }
.gsuiEnvelopes-line {
	flex: 1;
	height: 100%;
	background-color: rgba( 0, 0, 0, .5 );
	transition: .1s flex-grow, .5s background-color;
}

.gsuiEnvelopes-line:hover {
	background-color: rgba( 0, 0, 0, .4 );
}
.gsuiEnvelopes .gsuiDotline {
	height: 100%;
	--gsuiDotline-color: currentColor;
	--gsuiDotline-lineWidth: 2px;
	--gsuiDotline-dotSize: 6px;
	--gsuiDotline-dotSizeHover: 12px;
	--gsuiDotline-dotHandleSize: 4px;
	--gsuiDotline-dotBg: rgba( 0, 0, 0, .5 );
}
