gsui-library {
	display: flex;
	flex-direction: column;
	height: 100%;
	user-select: none;
}

/* .......................................................................... */
.gsuiLibrary-head {
}
.gsuiLibrary-body {
	flex: 1;
	position: relative;
	display: flex;
	overflow: scroll hidden;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: var( --gsuiLibrary-bg );
}

/* .......................................................................... */
.gsuiLibrary-sep {
	display: flex;
	align-items: center;
	gap: 1ch;
	min-width: 10px;
	box-sizing: border-box;
	height: 40px;
	padding: 9px 8px 9px 4px;
	font-size: 9px;
	font-weight: bold;
}
.gsuiLibrary-sep .gsuiIcon {
	opacity: .3;
}

/* .......................................................................... */
.gsuiLibrary-sample {
	position: relative;
	overflow: hidden;
	min-width: 50px;
	height: 20px;
	cursor: pointer;
	transition: background-color .2s;
}
.gsuiLibrary-sample-loading {
	animation: .2s alternate infinite gsuiLibrary-sample-loading-anim;
}
@keyframes gsuiLibrary-sample-loading-anim {
	0% { background-color: none; }
	100% { background-color: var( --gsuiLibrary-sample-hover-bg ); }
}

/* .......................................................................... */
.gsuiLibrary-sample-wave {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.gsuiLibrary-sample-svg {
	position: absolute;
	fill: currentColor;
	width: 100%;
	height: 100%;
	opacity: .2;
	transition: opacity .2s;
}
.gsuiLibrary-sample:hover .gsuiLibrary-sample-svg {
	opacity: .4;
}

/* .......................................................................... */
.gsuiLibrary-sample-cursor {
	display: none;
	position: absolute;
	left: 0;
	width: 2px;
	height: 100%;
	margin-left: -1px;
	background-color: currentColor;
	transition: 0s linear left;
	pointer-events: none;
}
.gsuiLibrary-sample-cursor::before {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	right: 100%;
	width: 10px;
	background-image: linear-gradient( 90deg, transparent, currentColor );
	opacity: .2;
}
.gsuiLibrary-sample-playing .gsuiLibrary-sample-cursor {
	display: block;
}
