gsui-library {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* .......................................................................... */
.gsuiLibrary-body {
	flex: 1;
	z-index: 0;
	position: relative;
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	overflow: auto hidden;
	background-color: var( --gsuiLibrary-bg );
}

/* .......................................................................... */
.gsuiLibrary-placeholder {
	display: none;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 0 2ch;
	text-align: center;
	font-size: 12px;
	font-style: italic;
	opacity: .4;

	&:only-child {
		display: flex;
	}
}

/* .......................................................................... */
.gsuiLibrary-sep {
	z-index: 1;
	box-sizing: border-box;
	width: 80px;
	height: 28px;
	padding: 10px 8px 0 0;
	counter-reset: smpNum 0;

	button {
		display: flex;
		max-width: 100%;
		gap: 1ch;
		cursor: pointer;
		border: 0;
		padding: 4px;
		color: inherit;
		font-size: 9px;
		font-weight: bold;
		background: none;
	}
	.gsuiIcon {
		opacity: .3;
		pointer-events: none;
	}
	&[ data-expanded ] .gsuiIcon {
		rotate: 90deg;
	}
	span {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		padding-right: .1ch;
		pointer-events: none;

		&:empty::before {
			content: "no name";
			font-style: italic;
			opacity: .5;
		}
	}
}

/* .......................................................................... */
.gsuiLibrary-sample {
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
	width: 80px;
	height: 14px;
	margin-top: -14px;
	cursor: pointer;
	opacity: 0;
	counter-increment: smpNum +1;
	pointer-events: none;
	touch-action: none;
	transition:
		margin-top .3s,
		opacity .3s,
		background-color .2s;

	&[ data-expanded ] {
		margin-top: 0;
		opacity: 1;
		pointer-events: auto;
	}
	&[ data-loading ] {
		animation: .2s alternate infinite gsuiLibrary-sample-loading-anim;
	}
	&::after {
		position: relative;
		content: counter( smpNum );
		display: inline-flex;
		align-items: center;
		margin-left: auto;
		margin-right: 5px;
		padding: 1px 3px;
		border-radius: 3px;
		font-size: 9px;
		font-family: var( --gsui-font-monospace );
		background-color: var( --gsuiLibrary-bg );
		pointer-events: none;
		opacity: 0;
	}
	&:hover::after {
		opacity: 1;
	}
	&[ data-fav ]::after {
		color: var( --gsuiLibrary-bg );
		font-weight: bold;
		background-color: var( --gsuiLibrary-sample-fav );
		opacity: 1;
	}
}
@keyframes gsuiLibrary-sample-loading-anim {
	0% { background-color: none; }
	100% { background-color: var( --gsuiLibrary-sample-hover-bg ); }
}

/* .......................................................................... */
.gsuiLibrary-sample-wave {
	position: absolute;
	width: 100%;
	height: 100%;
}
.gsuiLibrary-sample-svg {
	position: absolute;
	fill: currentColor;
	width: 100%;
	height: 100%;
	opacity: .2;

	.gsuiLibrary-sample[ data-fav ] & {
		fill: var( --gsuiLibrary-sample-fav );
		opacity: .4;
	}
	.gsuiLibrary-sample:hover & {
		opacity: .4;
	}
	.gsuiLibrary-sample[ data-fav ]:hover & {
		opacity: .6;
	}
}

/* .......................................................................... */
.gsuiLibrary-sample-cursor {
	display: none;
	position: absolute;
	left: 0;
	width: 2px;
	height: 100%;
	margin-left: -1px;
	background-color: currentColor;
	transition: 0s linear left;
	pointer-events: none;

	.gsuiLibrary-sample-playing & {
		display: block;
	}
	&::before {
		position: absolute;
		content: "";
		top: 0;
		bottom: 0;
		right: 100%;
		width: 10px;
		background-image: linear-gradient( 90deg, transparent, currentColor );
		opacity: .2;
	}
}
