gsui-library {
	display: flex;
	flex-direction: column;
	height: 100%;
	user-select: none;
}

/* .......................................................................... */
.gsuiLibrary-head {
	display: flex;
	align-items: center;
	gap: 4px;
	height: 24px;
	min-height: 24px;
	line-height: 1;
	padding: 0 6px;
	font-size: 11px;
	background-color: var( --gsuiLibrary-head-bg );
	user-select: none;
}
.gsuiLibrary-head-icon,
.gsuiLibrary-head-title {
	font-weight: bold;
	opacity: .7;
}
.gsuiLibrary-body {
	flex: 1;
	z-index: 0;
	position: relative;
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	overflow: auto hidden;
	background-color: var( --gsuiLibrary-bg );
}

/* .......................................................................... */
.gsuiLibrary-sep {
	z-index: 1;
	box-sizing: border-box;
	width: 100px;
	height: 40px;
	padding: 18px 8px 0 0;
}
.gsuiLibrary-sep-btn {
	display: flex;
	gap: 1ch;
	cursor: pointer;
	border: 0;
	padding: 4px;
	font-size: 9px;
	font-weight: bold;
	background: none;
}
.gsuiLibrary-sep .gsuiIcon {
	opacity: .3;
	pointer-events: none;
}
.gsuiLibrary-sep span {
	pointer-events: none;
}
.gsuiLibrary-sep-expanded .gsuiIcon {
	transform: rotate( 90deg );
}

/* .......................................................................... */
.gsuiLibrary-sample {
	position: relative;
	overflow: hidden;
	width: 100px;
	height: 20px;
	margin-top: -20px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition:
		margin-top .3s,
		opacity .3s,
		background-color .2s;
}
.gsuiLibrary-sample-expanded {
	margin-top: 0px;
	opacity: 1;
	pointer-events: auto;
}
.gsuiLibrary-sample-loading {
	animation: .2s alternate infinite gsuiLibrary-sample-loading-anim;
}
@keyframes gsuiLibrary-sample-loading-anim {
	0% { background-color: none; }
	100% { background-color: var( --gsuiLibrary-sample-hover-bg ); }
}

/* .......................................................................... */
.gsuiLibrary-sample-wave {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.gsuiLibrary-sample-svg {
	position: absolute;
	fill: currentColor;
	width: 100%;
	height: 100%;
	opacity: .2;
	transition: opacity .2s;
}
.gsuiLibrary-sample:hover .gsuiLibrary-sample-svg {
	opacity: .4;
}

/* .......................................................................... */
.gsuiLibrary-sample-cursor {
	display: none;
	position: absolute;
	left: 0;
	width: 2px;
	height: 100%;
	margin-left: -1px;
	background-color: currentColor;
	transition: 0s linear left;
	pointer-events: none;
}
.gsuiLibrary-sample-cursor::before {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	right: 100%;
	width: 10px;
	background-image: linear-gradient( 90deg, transparent, currentColor );
	opacity: .2;
}
.gsuiLibrary-sample-playing .gsuiLibrary-sample-cursor {
	display: block;
}
