gsui-effects {
	display: flex;
	height: 100%;
	overflow: auto;
	flex-direction: column;
	background-color: var( --gsui-items-bg );
}

/* .......................................................................... */
.gsuiEffects-list {
	display: flex;
	overflow: auto;
	flex-direction: column;
}

/* .......................................................................... */
.gsuiEffects-addBtn {
	position: relative;
	order: 2147483646;
	border: 0;
	outline: 0;
	width: 100%;
	min-height: 52px;
	color: inherit;
	font-size: 18px;
	cursor: pointer;
	border-radius: 2px;
	background: none;
	opacity: .4;
	transition: .2s opacity;
}
.gsuiEffects-addBtn:focus,
.gsuiEffects-addBtn:hover {
	opacity: .6;
}
.gsuiEffects-addBtn::before {
	content: "";
	inset: 6px;
	opacity: .4;
	border: 2px dashed;
	position: absolute;
}
.gsuiEffects-addSelect {
	order: 2147483647;
	width: 100%;
	border: 0;
	font: inherit;
	color: inherit;
	min-height: calc( 24px * 2 );
	background-color: #333;
	transition: .1s;
	transition-property: height, visibility;
}
.gsuiEffects-addSelect option {
	box-sizing: border-box;
	padding: 4px;
	height: 24px;
	font-size: 12px;
}
.gsuiEffects-addSelect option:hover {
	background-color: #fff2;
}
.gsuiEffects-addBtn:not( :focus ) + .gsuiEffects-addSelect:not( :focus ) {
	height: 0;
	min-height: 0;
	visibility: hidden;
}

/* .......................................................................... */
.gsuiEffects-fx {
	background-color: var( --gsuiEffects-fx-head-bg, var( --gsui-item-bg-disabled ) );
}
.gsuiEffects-fx-enable {
	--gsuiEffects-fx-head-bg: var( --gsui-item-bg );
	--gsuiEffects-fx-head-name-opacity: 1;
}
.gsuiEffects-fx-head {
	display: flex;
	height: 36px;
	box-sizing: border-box;
	border-bottom: 2px solid #0002;
	font-size: 12px;
}
.gsuiEffects-fx:not( .gsuiEffects-fx-expanded ) + .gsuiEffects-fx .gsuiEffects-fx-head {
	border-top: 2px solid #fff1;
}
.gsuiEffects-fx.gsuiEffects-fx-expanded + .gsuiEffects-fx .gsuiEffects-fx-head {
	border-top: 2px solid #0001;
}
.gsuiEffects-fx-expand,
.gsuiEffects-fx-remove {
	width: 20px;
	border: 0;
	padding: 0;
	outline: 0;
	color: inherit;
	cursor: pointer;
	font-size: inherit;
	background-color: transparent;
}
.gsuiEffects-fx-grip {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	font-size: 12px;
	cursor: grab;
	opacity: .6;
	background-color: #0002;
}
.gsuiEffects-fx-expand {
	font-size: 14px;
	opacity: var( --gsuiEffects-fx-head-name-opacity, .5 );
}
.gsuiEffects-fx-head gsui-toggle {
	width: 20px;
}
.gsuiEffects-fx-name {
	flex: 1;
	align-self: center;
	padding-left: 6px;
	opacity: var( --gsuiEffects-fx-head-name-opacity, .5 );
}
.gsuiEffects-fx-remove {
	width: 32px;
	opacity: .3;
	transition: .1s opacity;
}
.gsuiEffects-fx-remove:hover,
.gsuiEffects-fx-remove:focus {
	opacity: 1;
}
.gsuiEffects-fx-content {
	height: 0;
	opacity: 0;
	overflow: hidden;
	background-color: var( --gsui-item-more-bg );
	transition: .1s;
	transition-property: height, opacity;
}
.gsuiEffects-fx-expanded .gsuiEffects-fx-content {
	opacity: 1;
}
.gsuiEffects-fx-content > * {
	box-shadow: inset 0 0 20px #0000001c;
}
