gsui-effects {
	display: flex;
	height: 100%;
	overflow: auto;
	flex-direction: column;
	background-color: var( --gsui-items-bg );
}

/* .......................................................................... */
.gsuiEffects-list {
	display: flex;
	overflow: auto;
	flex-direction: column;
}

/* .......................................................................... */
.gsuiEffects-addBtn {
	position: relative;
	order: 2147483646;
	border: 0;
	outline: 0;
	width: 100%;
	min-height: 52px;
	color: inherit;
	font-size: 18px;
	background: none;
	opacity: .4;
	transition: .2s opacity;
}
.gsuiEffects-addBtn:hover {
	opacity: .7;
}
.gsuiEffects-addBtn::before {
	content: "";
	position: absolute;
	inset: 6px;
	border: 2px dashed;
	border-radius: 4px;
	opacity: .4;
}
.gsuiEffects-addBtn:active,
.gsuiEffects-addBtn:active .gsuiEffects-addBtn::before {
	margin-top: 2px;
}
