gsui-com-profile {
	--gsuiComProfile-pad: 0;
	--gsuiComProfile-gap: 16px;
	--gsuiComProfile-height-mul: 1;
	--gsuiComProfile-height: 142px;
	--gsuiComProfile-radius: 6px;
	--gsuiComProfile-followBtn-bg: #6b94de;
	--gsuiComProfile-followBtn-hover-bg: #4a54e3;
	--hx: var( --gsuiComProfile-height-mul );
	--h: calc( var( --gsuiComProfile-height ) - 74px * ( 1 - var( --hx ) ) );
	container: gsuiComProfile-query / inline-size;
	overflow: hidden;
	display: flex;
	gap: var( --gsuiComProfile-gap );
	padding: var( --gsuiComProfile-pad );
	position: relative;
	height: var( --h );
	border-radius: var( --gsuiComProfile-radius );
	font-size: 14px;
	color: #fff;
	background-color: #32374c;

	&[ followed ] {
		--gsuiComProfile-followBtn-bg: #9c7;
		--gsuiComProfile-followBtn-hover-bg: #e55;
	}
}

/* .......................................................................... */
.gsuiComProfile-avatar {
	box-sizing: border-box;
	min-width: var( --h );
	padding: calc( 2px + 6px * ( 1 - var( --hx ) ) );
	margin-right: calc( -16px * ( 1 - var( --hx ) ) );

	gsui-com-avatar {
		height: 100%;
		border-radius: 3px;
	}
}

/* .......................................................................... */
.gsuiComProfile-follow-btn,
.gsuiComProfile-edit {
	grid-area: edit;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	min-width: 42px;
	color: #fff6;
	font-size: 20px;
	background-color: #0002;
}
gsui-com-profile[ itsme ] .gsuiComProfile-follow-btn,
gsui-com-profile:not( [ itsme ] ) .gsuiComProfile-edit {
	display: none;
}
.gsuiComProfile-follow-btn {
	flex-direction: column;
	color: #fff;
	background-color: var( --gsuiComProfile-followBtn-bg );
	transition: .2s background-color;

	gsui-com-profile[ followedjustnow ] & {
		pointer-events: none;
	}
	&[ disabled ],
	gsui-com-profile:not( [ followedjustnow ] ) &:not( [ disabled ] ):hover {
		--gsuiComProfile-followBtn-bg: var( --gsuiComProfile-followBtn-hover-bg );
	}

	.gsuiIcon {
		display: none;
	}
	&[ disabled ] .gsuiIcon {
		display: none !important;
	}

	gsui-com-profile:not( [ followed ] ) & .gsuiIcon[ data-icon="follow" ],
	gsui-com-profile[ followed ] &:not( :hover ) .gsuiIcon[ data-icon="followed" ],
	gsui-com-profile[ followed ] &:hover .gsuiIcon[ data-icon="unfollow" ] {
		display: flex;
	}
}

/* .......................................................................... */
.gsuiComProfile-info {
	grid-area: info;
	display: flex;
	gap: .5ch;
	align-items: baseline;
	min-width: 0;
	flex-wrap: wrap;
	align-self: center;
	row-gap: 0;
	column-gap: 12px;
	font-size: 16px;
}
.gsuiComProfile-name {
	display: flex;
	align-items: baseline;
	gap: .7ch;
}
.gsuiComProfile-username,
.gsuiComProfile-fullname {
	line-height: 1;
	padding-bottom: 2px;
}
.gsuiComProfile-username {
	font-weight: bold;
	font-size: calc( 1em + 1em * var( --hx ) );
}
.gsuiComProfile-fullname {
	display: flex;
	row-gap: 0;
	column-gap: 8px;
	font-size: calc( 1em + .4em * var( --hx ) );
}

/* .......................................................................... */
.gsuiComProfile-email {
	overflow: hidden;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-basis: 100%;
	margin-top: 4px;
}
.gsuiComProfile-email-addr {
	display: flex;
	align-items: baseline;
	gap: .5ch;
	max-width: 100%;
	font-size: calc( 1em - 4px * ( 1 - var( --hx ) ) );

	span:empty::before {
		content: "private email";
	}
}
.gsuiComProfile-email-not {
	display: flex;
	align-items: center;
	max-width: 100%;
	gap: .7ch;
	color: #da6035;
	font: inherit;
	font-size: 12px;
	border: 0;
	padding: 0;
	background: none;

	gsui-com-profile:not( [ itsme ] ) &,
	gsui-com-profile:not( [ emailtoverify ] ) &,
	gsui-com-profile:not( [ emailsending ] ) & .gsuiIcon {
		display: none;
	}
}

/* .......................................................................... */
.gsuiComProfile-follow {
	display: flex;
	gap: 10px;
	margin-top: 4px;
	font-weight: bold;
	font-size: calc( 1em - 4px * ( 1 - var( --hx ) ) );
}
.gsuiComProfile-following,
.gsuiComProfile-followers {
	border: 0;
	padding: 0;
	font: inherit;
	color: currentColor;
	pointer: cursor;
	background: none;
}
.gsuiComProfile-following::after { content: " following"; font-weight: normal }
.gsuiComProfile-followers::after { content: " followers"; font-weight: normal }
