gsui-com-profile {
	display: flex;
	flex-direction: column;
	container: gsuiComProfile-query / inline-size;
	--gsuiComProfile-pad: 0;
	--gsuiComProfile-gap: 16px;
	--gsuiComProfile-height: 142px;
	--gsuiComProfile-radius: 6px;
	--gsuiComProfile-followBtn-bg: #6b94de;
	--gsuiComProfile-followBtn-hover-bg: #4a54e3;
	gap: 0;
	transition: gap .2s;
}
gsui-com-profile[ followed ] {
	--gsuiComProfile-followBtn-bg: #9c7;
	--gsuiComProfile-followBtn-hover-bg: #e55;
}
gsui-com-profile[ panel ] {
	gap: 20px;
}

.gsuiComProfile-main {
	display: grid;
	overflow: hidden;
	padding: var( --gsuiComProfile-pad );
	grid-row-gap: var( --gsuiComProfile-gap );
	grid-column-gap: var( --gsuiComProfile-gap );
	grid-template:
		"avatar info edit" 1.5fr
		/ var( --gsuiComProfile-height ) 1fr 42px;
	position: relative;
	height: var( --gsuiComProfile-height );
	border-radius: var( --gsuiComProfile-radius );
	font-size: 14px;
	color: #333;
	background-color: #fff;
}

/* .......................................................................... */
gsui-com-profile gsui-com-avatar {
	grid-area: avatar;
}

/* .......................................................................... */
.gsuiComProfile-main-follow-btn,
.gsuiComProfile-main-edit {
	grid-area: edit;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	color: #0006;
	font-size: 20px;
	background-color: #0001;
}
gsui-com-profile[ itsme ] .gsuiComProfile-main-follow-btn,
gsui-com-profile:not( [ itsme ] ) .gsuiComProfile-main-edit {
	display: none;
}
.gsuiComProfile-main-follow-btn {
	flex-direction: column;
	color: #fff;
	background-color: var( --gsuiComProfile-followBtn-bg );
	transition: .2s background-color;

	gsui-com-profile[ followedjustnow ] & {
		pointer-events: none;
	}
	&[ disabled ],
	gsui-com-profile:not( [ followedjustnow ] ) &:not( [ disabled ] ):hover {
		--gsuiComProfile-followBtn-bg: var( --gsuiComProfile-followBtn-hover-bg );
	}

	.gsuiIcon {
		display: none;
	}
	&[ disabled ] .gsuiIcon {
		display: none !important;
	}

	gsui-com-profile:not( [ followed ] ) & .gsuiIcon[ data-icon="follow" ],
	gsui-com-profile[ followed ] &:not( :hover ) .gsuiIcon[ data-icon="followed" ],
	gsui-com-profile[ followed ] &:hover .gsuiIcon[ data-icon="unfollow" ] {
		display: flex;
	}
}

/* .......................................................................... */
.gsuiComProfile-main-info {
	grid-area: info;
	display: flex;
	gap: .5ch;
	align-items: baseline;
	min-width: 0;
	flex-wrap: wrap;
	align-self: center;
	row-gap: 0;
	column-gap: 12px;
}
.gsuiComProfile-main-username,
.gsuiComProfile-main-fullname {
	line-height: 1;
	padding-bottom: 2px;
	font-size: 42px;
}
.gsuiComProfile-main-fullname {
	display: flex;
	row-gap: 0;
	column-gap: 8px;
	font-size: 24px;
}

/* .......................................................................... */
.gsuiComProfile-main-email {
	overflow: hidden;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-basis: 100%;
	font-size: 16px;
	margin-top: 4px;
}
.gsuiComProfile-main-email-addr {
	display: flex;
	align-items: baseline;
	gap: .5ch;
	max-width: 100%;
}
.gsuiComProfile-main-email-addr span:empty::before {
	content: "private email";
}
.gsuiComProfile-main-email-not {
	display: flex;
	align-items: center;
	max-width: 100%;
	gap: .7ch;
	color: #da6035;
	font: inherit;
	font-size: 12px;
	border: 0;
	padding: 0;
	background: none;
}
gsui-com-profile:not( [ itsme ] ) .gsuiComProfile-main-email-not,
gsui-com-profile:not( [ emailtoverify ] ) .gsuiComProfile-main-email-not,
gsui-com-profile:not( [ emailsending ] ) .gsuiComProfile-main-email-not .gsuiIcon {
	display: none;
}

/* .......................................................................... */
.gsuiComProfile-main-follow {
	display: flex;
	gap: 10px;
	margin-top: 4px;
	font-weight: bold;
}
.gsuiComProfile-main-following,
.gsuiComProfile-main-followers {
	border: 0;
	padding: 0;
	font: inherit;
	color: currentColor;
	pointer: cursor;
	background: none;
}
.gsuiComProfile-main-following::after { content: " following"; font-weight: normal }
.gsuiComProfile-main-followers::after { content: " followers"; font-weight: normal }

/* .......................................................................... */
.gsuiComProfile-panel-title {
	display: flex;
	font-size: 14px;
}
.gsuiComProfile-panel-title,
.gsuiComProfile-panel-content {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: .2s;
	transition-property: max-height, padding, opacity;
}
.gsuiComProfile-panel-content {
	overflow: auto;
	position: relative;
	border-radius: var( --gsuiComProfile-radius );
	background-color: #fff2;
}
gsui-com-profile[ panel ] {
	.gsuiComProfile-panel-title {
		opacity: 1;
		max-height: 24px;
		max-height: 60px;
	}
	.gsuiComProfile-panel-content {
		opacity: 1;
		padding: 20px;
		max-height: 300px;
	}
	&[ panel="edit" ] .gsuiComProfile-panel-content {
		max-height: 600px;
	}
}
.gsuiComProfile-panel-title span {
	opacity: .7;
}
.gsuiComProfile-panel-title button {
	margin-left: auto;
	border: 0;
	padding: 0;
	color: inherit;
	background: none;
}

/* .......................................................................... */
.gsuiComProfile-panel-content > div {
	height: 100%;
}
.gsuiComProfile-panel-content div[ data-what^="follow" ] {
	display: flex;

	& > div {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	& > span {
		width: 100%;
		text-align: center;
		font-style: italic;
		opacity: .5;
	}
	&[ data-loading ] > div ~ span,
	& > div:not( :empty ) ~ span {
		display: none;
	}

	&[ data-loading ] {
		height: 64px;
	}
	&:not( [ data-loading ] ) .gsuiIcon {
		display: none;
	}
	.gsuiIcon {
		position: absolute;
		left: calc( 50% - 20px );
		top: calc( 50% - 20px );
		width: 40px;
		height: 40px;
		font-size: 40px;
	}
}

/* .......................................................................... */
.gsuiComProfile-form {
	display: grid;
	grid-gap: 20px;
	font-size: 12px;
}
.gsuiComProfile-form-label {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 4px;
	opacity: .5;
}
.gsuiComProfile-form-input:not( [ type="checkbox" ] ) {
	width: 100%;
	box-sizing: border-box;
	padding: .8em;
	outline: 0;
	border: 0;
	border-radius: 2px;
	margin-bottom: 4px;
	color: #111;
	background-color: #eee;
}
.gsuiComProfile-form label {
	display: block;
}
.gsuiComProfile-form div:has( input[ type="checkbox" ] ) {
	display: flex;
	align-items: center;
	gap: 6px;
}
.gsuiComProfile-form-btns {
	display: flex;
	gap: 20px;
	justify-content: end;
}
.gsuiComProfile-form-error {
	color: #f66;
	font-size: 14px;
	font-weight: bold;
}

/* .......................................................................... */
@container gsuiComProfile-query ( max-width: 450px ) {
	.gsuiComProfile-main {
		--gsuiComProfile-gap: 10px;
		--gsuiComProfile-pad: var( --gsuiComProfile-gap );
		height: auto;
		grid-template:
			"avatar info" var( --gsuiComProfile-height )
			"edit   edit" 1fr
			/ var( --gsuiComProfile-height ) 1fr;
		grid-template-columns: var( --gsuiComProfile-height ) 1fr;
		grid-template-rows: var( --gsuiComProfile-height ) 34px;
	}
	.gsuiComProfile-main-follow-btn,
	.gsuiComProfile-main-edit,
	gsui-com-profile gsui-com-avatar {
		border-radius: 4px;
	}
}
