:root {
	--gsuiAudioBlock-color: #5ac;
	--gsuiAudioBlock-bg: #223;
	--gsuiAudioBlock-selected-color: #f88;
	--gsuiAudioBlock-selected-bg: #844;
}

.gsuiAudioBlock {
	position: absolute;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow: hidden;
	top: 0;
	height: 100%;
	border-style: solid;
	border-width: 0;
	color: var( --gsuiAudioBlock-color );
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	transition: opacity .2s;
}
.gsuiAudioBlock .gsuiab-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var( --gsuiAudioBlock-bg );
	opacity: .8;
}
.gsuiAudioBlock .gsuiab-head {
	display: flex;
	position: relative;
	z-index: 1;
	line-height: 20px;
	padding: 0 4px;
	font-size: 12px;
	background-color: rgba( 0, 0, 0, .4 );
}
.gsuiAudioBlock .gsuiab-name {
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
}
.gsuiAudioBlock .gsuiab-name:empty:before {
	content: "Untitled";
	font-style: italic;
	opacity: .6;
}
.gsuiAudioBlock .gsuiab-content {
	position: relative;
	overflow: hidden;
	flex: 1;
}
.gsuiAudioBlock .gsuiab-crop {
	position: absolute;
	z-index: 2;
	top: 0;
	width: 50%;
	max-width: 8px;
	height: 100%;
	background-color: currentColor;
	opacity: 0;
	transition: opacity .2s;
}
.gsuiAudioBlock .gsuiab-crop:hover,
.gsuiAudioBlock .gsuiab-crop.hover {
	opacity: .3;
}
.gsuiAudioBlock .gsuiab-cropB {
	right: 0;
}
.gsui-nocrop .gsuiab-crop,
.gsui-noleftcrop .gsuiab-cropA {
	display: none !important;
}

/* .gsuiab-cursor */
.gsuiAudioBlock .gsuiab-cursor {
	position: absolute;
	height: 100%;
	width: 1px;
	background-color: #ff0;
	box-shadow: -2px 0 6px 3px rgba( 255, 255, 0, .2 );
	animation-name: gsuiab-cursor-frames;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
@keyframes gsuiab-cursor-frames {
	  0% { opacity: 1; left: 0; }
	 95% { opacity: 1; }
	100% { opacity: 0; left: 100%; }
}

/* data-type="key" */
.gsuiAudioBlock[data-type="key"] .gsuiab-head {
	background-color: transparent;
}
.gsuiAudioBlock svg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

/* .gsui-mute & */
.gsui-mute .gsuiAudioBlock {
	opacity: .5;
}

/* .gs-row-tiny & */
.gs-row-tiny .gsuiAudioBlock .gsuiab-head {
	display: flex;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
	height: 100%;
	background-color: transparent;
}
.gs-row-tiny .gsuiAudioBlock .gsuiab-content {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .3;
}

/* Colors when reversed or selected */
.gsuiAudioBlock.gsuiab-selected {
	--gsuiAudioBlock-color: var( --gsuiAudioBlock-selected-color );
	--gsuiAudioBlock-bg: var( --gsuiAudioBlock-selected-bg );
}
.gs-row-tiny .gsuiAudioBlock,
.gsuiAudioBlock[data-type="key"],
.gsuiAudioBlock-reversedColors {
	color: var( --gsuiAudioBlock-bg );
}
.gs-row-tiny .gsuiAudioBlock .gsuiab-bg,
.gsuiAudioBlock[data-type="key"] .gsuiab-bg,
.gsuiAudioBlock-reversedColors .gsuiab-bg {
	background-color: var( --gsuiAudioBlock-color );
}
.gsuiAudioBlock-reversedColors .gsuiab-head {
	background-color: rgba( 255, 255, 255, .3 );
}
