.gsuiAudioBlock {
	--bd-width: 0px;
	--bd-radius: 4px;
	--bg: rgba( 0, 0, 0, .6 );
	--bg-head: rgba( 0, 0, 0, .3 );
	color: #cce;

	position: absolute;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow: hidden;
	top: 0;
	height: 100%;
	border-style: solid;
	border-width: var( --bd-width ) 0;
	border-radius: var( --bd-radius );
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	transition: .1s;
	transition-property: color;
}
.gsuiAudioBlock.gsuiab-selected {
	color: #f99;
}
.gsuiAudioBlock .gsuiab-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: currentColor;
	filter: brightness( .15 );
	opacity: .8;
}
.gsuiAudioBlock .gsuiab-head {
	position: relative;
	overflow: hidden;
	z-index: 1;
	padding: .3em .5em;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-shadow: 0 0 3px rgba( 0, 0, 0, .7 );
	background-color: var( --bg-head );
}
.gsuiAudioBlock .gsuiab-name:empty:before {
	content: "Untitled";
	font-style: italic;
	opacity: .5;
}
.gsuiAudioBlock .gsuiab-content {
	flex: 1;
	position: relative;
}
.gsuiAudioBlock .gsuiab-crop {
	position: absolute;
	z-index: 2;
	top: 0;
	width: 50%;
	max-width: 8px;
	height: 100%;
	background-color: currentColor;
	opacity: 0;
	transition: opacity .2s;
}
.gsuiAudioBlock .gsuiab-crop:hover,
.gsuiAudioBlock .gsuiab-crop.hover {
	opacity: .2;
}
.gsuiAudioBlock .gsuiab-cropB {
	right: 0;
}
.gsui-nocrop .gsuiab-crop,
.gsui-noleftcrop .gsuiab-cropA {
	display: none !important;
}

/* data-type = "key" */
.gsuiAudioBlock[ data-type = "key" ] .gsuiab-bg {
	filter: brightness( .7 );
	opacity: .6;
}
.gsuiAudioBlock[ data-type = "key" ] .gsuiab-head {
	background-color: transparent;
}
.gsuiAudioBlock svg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	fill: currentColor;
	opacity: .3;
}
.gsuiAudioBlock rect {
	rx: 2px;
}

/* .gs-row-tiny & */
.gs-row-tiny .gsuiAudioBlock .gsuiab-head {
	display: flex;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
	height: 100%;
	background-color: transparent;
}
.gs-row-tiny .gsuiAudioBlock .gsuiab-bg {
	filter: brightness( .7 );
	opacity: .6;
}
.gs-row-tiny .gsuiAudioBlock .gsuiab-content {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
