gsui-daw {
	--radius: 4px;
	--gap: 4px;
	display: flex;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-size: 16px;
	background-color: var( --gsui-app-bg );
	--gsuiDAW-winBtn-bg: #0004;
	--gsuiDAW-winBtn-chan-color: #ce93d8;
	--gsuiDAW-winBtn-synth-color: #a5d6a7;
	--gsuiDAW-winBtn-slices-color: #e29d8a;
	--gsuiDAW-winBtn-pattern-color: #81d4fa;
}

/* .......................................................................... */
.gsuiDAW-head {
	display: grid;
	padding: var( --gap );
	gap: var( --gap );
	grid-template:
		"areaUser    areaCtrl    areaVisu    areaHelp" 28px
		"areaUser    areaTime    areaWins    areaVers" 20px
		/min-content min-content min-content 1fr;
	border-bottom: 2px solid var( --gsui-win-brd );
	background-color: var( --gsui-head1-bg );
}
.gsuiDAW-area {
	display: flex;
	gap: inherit;
}
.gsuiDAW-areaUser {
	grid-area: areaUser;
}
.gsuiDAW-body[ resources-hidden ] .gsuiDAW-resources {
	display: none;
}
.gsuiDAW-body[ resources-hidden ] .gsuiDAW-windows {
	left: 0 !important;     /* stylelint-disable-line declaration-no-important */
	width: 100% !important; /* stylelint-disable-line declaration-no-important */
}
.gsuiDAW-resources {
	display: flex;
	width: 300px;
	min-width: 330px;
	max-width: 700px;
	border-right: 3px solid var( --gsui-win-brd );
	background-color: var( --gsui-items-bg );
}
.gsuiDAW-libraries {
	flex: 1;
	border: inherit;
	border-right-width: 2px;
}
.gsuiDAW-patterns {
	flex: 1;
}
.gsuiDAW-windows {
	flex: 1;
}
gsui-daw gsui-windows {
	z-index: 0;
	background-attachment: local;
}
