.gsuiDAW-popup-auth {
	width: 340px;
}
.gsuiDAW-popup-auth a {
	font-size: 11px;
}
.gsuiDAW-popup-auth-error {
	margin-top: 12px;
	font-size: 12px;
	color: #ed9a8b;
}
.gsuiDAW-popup-auth-error:empty {
	display: none;
}
