.gsuiDAW-areaVisu {
	grid-area: areaVisu;
}
.gsuiDAW-history {
	background-color: var( --gsui-btn-history-bg );
}
.gsuiDAW-btn[ data-action="redo" ] {
	margin-left: -4px;
}
gsui-daw gsui-analyser-hz {
	flex: 1;
	border-radius: var( --radius );
	width: 180px;
	min-width: 48px;
	background-color: #000;
}
.gsuiDAW-btn[ data-action="export" ] {
	--gsui-color: var( --gsui-btn-export-txt );
}
