gsui-daw {
	--gsuiDAW-bg: #444;
	--gsuiDAW-content-bg: #222;
	--gsuiDAW-color: #fff;
	--gsuiDAW-playPauseStop-bg: #67a;
	--gsuiDAW-save-bg: #ba5d5d;
	--gsuiDAW-currentTime-bg: #0003;
	--gsuiDAW-currentTime-lineColor: #abd;
	--gsuiDAW-currentTime-lineBgColor: #222;
	--gsuiDAW-btn-bg: #ffffff1a;
	--gsuiDAW-head-winBtn-bg: #222;
	--gsuiDAW-head-winBtn-open-bg: #ff9;
	--gsuiDAW-export-color: #ff9;
	--gsuiDAW-about-color: #ff9;
	--gsuiDAW-dropdown-shadow: 20px 10px #0006;
	--gsuiDAW-history-bg: #777;
	--gsuiDAW-history-action-bg: #454750;
	--gsuiDAW-history-action-color: #ddd;
	--gsuiDAW-history-action-light-bg: #67a;
	--gsuiDAW-history-action-lightoff-bg: #1a1a1a;
	--gsuiDAW-cmps-color: #9ad;
	--gsuiDAW-cmps-btn-bg: #444;
	--gsuiDAW-cmps-btn-newCmp-color: #ff9;
	--gsuiDAW-cmp-cloud-bg: #4c71af;
	--gsuiDAW-cmp-local-bg: #67a;
	--gsuiDAW-cmp-text: #fff;
	--gsuiDAW-cmp-height: 42px;
	--gsuiDAW-cmp-text-size: 18px;
	--gsuiDAW-winBtn-bg: #0004;
	--gsuiDAW-winBtn-chan-color: #ce93d8;
	--gsuiDAW-winBtn-synth-color: #a5d6a7;
	--gsuiDAW-winBtn-slices-color: #e29d8a;
	--gsuiDAW-winBtn-pattern-color: #81d4fa;
}
