.gsuiDAW-winBtn {
	height: 16px;
	padding: 0 6px;
	max-width: 110px;
	border: 0;
	outline: 0;
	overflow: hidden;
	border-radius: 3px;
	line-height: 1;
	color: inherit;
	font-size: 10px;
	font-weight: bold;
	font-family: inherit;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: var( --gsuiDAW-winBtn-bg );
	transition: filter .2s;
}
.gsuiDAW-winBtn:focus,
.gsuiDAW-winBtn:hover {
	filter: brightness( 1.1 );
}
.gsuiDAW-winBtn:empty::before {
	content: "Untitled";
	font-style: italic;
}
.gsuiDAW-winBtn .gsuiIcon,
.gsuiDAW-winBtn span {
	pointer-events: none;
}
.gsuiDAW-winBtn .gsuiIcon + span {
	margin-left: 4px;
}

/* .......................................................................... */
.gsuiDAW-winBtn + .gsuiIcon {
	font-size: 12px;
}

/* .......................................................................... */
.gsuiDAW-winBtn[ data-target="channel" ],
.gsuiDAW-winBtn[ data-target="synthChannel" ] { color: var( --gsuiDAW-winBtn-chan-color ); }
.gsuiDAW-winBtn[ data-target="drums" ],
.gsuiDAW-winBtn[ data-target="pianoroll" ] { color: var( --gsuiDAW-winBtn-pattern-color ); }
.gsuiDAW-winBtn[ data-target="synth" ] { color: var( --gsuiDAW-winBtn-synth-color ); }
.gsuiDAW-winBtn[ data-target="slices" ] { color: var( --gsuiDAW-winBtn-slices-color ); }

/* .......................................................................... */
.gsuiDAW-window-ctrl {
	display: flex;
	align-items: center;
	gap: inherit;
}
.gsuiDAW-window-playPause {
	overflow: hidden;
	display: flex;
	border-radius: 4px;
}
.gsuiDAW-window-ctrl button {
	width: 18px;
	height: 16px;
	padding: 0;
	border: 0;
	outline: 0;
	color: #fff;
	font-size: 8px;
	background-color: var( --gsui-btn-playPause-bg );
}
.gsuiDAW-window-playPause button:hover {
	color: #fffa;
}
.gsuiDAW-window-ctrl button:hover {
	filter: brightness( 1.2 );
}
.gsuiDAW-window-ctrl button:active {
	padding-top: 2px;
}
.gsuiDAW-window-ctrl button[ data-icon="play" ] {
	padding-left: 2px;
}
.gsuiDAW-window-ctrl button[ data-action="autoscroll" ] {
	width: 16px;
	border: 2px solid #67a;
	border-radius: 999px;
	background: none;
}
gsui-window:has( gsui-timewindow[ autoscroll ] ) .gsuiDAW-window-ctrl button[ data-action="autoscroll" ] {
	background-color: #67a;
}
