.gsuiDAW-cmp {
	box-sizing: border-box;
	display: flex;
	color: var( --gsuiDAW-cmp-text );
	height: var( --gsuiDAW-cmp-height );
	font-size: var( --gsuiDAW-cmp-text-size );
	line-height: var( --gsuiDAW-cmp-height );
	background-color: var( --gsuiDAW-cmp-bg );
	filter: brightness( .9 );
}
.gsuiDAW-dropdown-list[ data-list="local" ] .gsuiDAW-cmp { --gsuiDAW-cmp-bg: var( --gsuiDAW-cmp-local-bg ); }
.gsuiDAW-dropdown-list[ data-list="cloud" ] .gsuiDAW-cmp { --gsuiDAW-cmp-bg: var( --gsuiDAW-cmp-cloud-bg ); }
.gsuiDAW-cmp:nth-child( odd ) {
	filter: brightness( .85 );
}
.gsuiDAW-cmp.gsuiDAW-cmp-loaded {
	filter: none;
}

/* .......................................................................... */
.gsuiDAW-cmp-btn {
	border: 0;
	color: inherit;
	cursor: pointer;
	font-size: 16px;
	background: none;
}
.gsuiDAW-cmp-btn-light {
	opacity: .7;
	padding: 0 8px;
	transition: .2s opacity;
}
.gsuiDAW-cmp-btn-light:focus,
.gsuiDAW-cmp-btn-light:hover {
	opacity: 1;
}

/* .......................................................................... */
.gsuiDAW-cmp-btn[ data-action="cmp-save" ] {
	width: 32px;
	margin-left: -32px;
	background-color: var( --gsuiDAW-save-bg );
	transition: .2s;
	transition-property: margin-left, color, background-color;
}
gsui-daw:not( [ saved ] ) .gsuiDAW-cmp-loaded .gsuiDAW-cmp-btn[ data-action="cmp-save" ] {
	margin-left: 0;
}
.gsuiDAW-cmp-btn[ data-action="cmp-save" ]:hover {
	color: var( --gsuiDAW-save-bg );
	background-color: var( --gsuiDAW-cmp-text );
}

/* .......................................................................... */
.gsuiDAW-cmp-info {
	flex: 1;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
	padding: 6px 6px 4px;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	font-size: 13px;
	line-height: 1em;
	transition: .2s;
	transition-property: padding-left, opacity;
	opacity: .7;
}
.gsuiDAW-cmp-info:focus,
.gsuiDAW-cmp-info:hover,
.gsuiDAW-cmp-loaded .gsuiDAW-cmp-info {
	opacity: 1;
}
.gsuiDAW-cmp-info > div {
	pointer-events: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* .......................................................................... */
.gsuiDAW-cmp-name {
	max-width: 100%;
	font-weight: bold;
	border-radius: 2px;
	padding-right: .4ch;
	transition: .2s;
	transition-property: box-shadow, color, background-color;
}
.gsuiDAW-cmp-info:focus .gsuiDAW-cmp-name,
.gsuiDAW-cmp-info:hover .gsuiDAW-cmp-name {
	color: var( --gsuiDAW-cmp-bg );
	box-shadow: 0 0 0 2px var( --gsuiDAW-cmp-text );
	background-color: var( --gsuiDAW-cmp-text );
}
gsui-daw:not( [ saved ] ) .gsuiDAW-cmp-loaded .gsuiDAW-cmp-name::before {
	content: "*";
}
.gsuiDAW-cmp-name:empty::after {
	font-style: italic;
	content: "Untitled";
}

/* .......................................................................... */
.gsuiDAW-cmp-bpm-wrap,
.gsuiDAW-cmp-duration-wrap {
	display: inline-flex;
	align-items: center;
	font: 14px var( --gsui-font-number );
}
.gsuiDAW-cmp-duration-wrap {
	margin-right: 10px;
}
.gsuiDAW-cmp-info .gsuiIcon {
	margin-right: 4px;
	opacity: .4;
}
