gsui-daw {
	--gsuiDAW-playPauseStop-bg: #67a;
	--gsuiDAW-currentTime-bg: #0003;
	--gsuiDAW-currentTime-lineColor: #abd;
	--gsuiDAW-currentTime-lineBgColor: #222;
	--gsuiDAW-btn-bg: #ffffff1a;
	--gsuiDAW-head-winBtn-bg: #222;
	--gsuiDAW-head-winBtn-open-bg: #ff9;
	--gsuiDAW-export-color: #ff9;
	--gsuiDAW-about-color: #ff9;
	--gsuiDAW-history-bg: #777;
	--gsuiDAW-winBtn-bg: #0004;
	--gsuiDAW-winBtn-chan-color: #ce93d8;
	--gsuiDAW-winBtn-synth-color: #a5d6a7;
	--gsuiDAW-winBtn-slices-color: #e29d8a;
	--gsuiDAW-winBtn-pattern-color: #81d4fa;
}
