.gsuiDAW-areaTime {
	grid-area: areaTime;
	padding: 8px;
	border-radius: var( --radius );
	background-color: var( --gsuiDAW-currentTime-bg );
}
.gsuiDAW-areaTime gsui-slider {
	--gsuiSlider-lineColor: var( --gsuiDAW-currentTime-lineColor );
	--gsuiSlider-lineBgColor: var( --gsuiDAW-currentTime-lineBgColor );
}
.gsuiDAW-areaTime .gsuiSlider-eventCatcher {
	inset: -10px;
}
