.gsuiDAW-areaCtrl {
	grid-area: areaCtrl;
}
.gsuiDAW-playPauseStop {
	background-color: var( --gsui-btn-playPause-bg );
}
.gsuiDAW-volume {
	width: 6px;
	--gsuiSlider-lineRadius: 4px;
	--gsuiSlider-lineColor: var( --gsui-btn-playPause-bg );
	--gsuiSlider-lineBgColor: #222;

	.gsuiSlider-eventCatcher {
		left: -12px;
		right: calc( var( --gap ) * -1 );
	}
}
.gsuiDAW-focusBtn {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	padding: 7px 3px 7px 8px;

	&:active {
		padding-top: 7px;
	}
	span {
		width: 5px;
		height: 5px;
		border-radius: 1px;
		background-color: currentColor;
		pointer-events: none;
		opacity: .4;

		gsui-daw[ focus="up" ] &:first-child,
		gsui-daw[ focus="down" ] &:last-child {
			opacity: 1;
		}
	}
}
.gsuiDAW-btn {
	&[ data-action="undo"   ],
	&[ data-action="redo"   ] { background-color: var( --gsui-btn-history-bg ); }
	&[ data-action="redo"   ] { margin-left: -4px; }
	&[ data-action="stop"   ] { margin-left: -3px; }
	&[ data-action="reset"  ] { margin-left: -2px; }
	&[ data-action="export" ] { --gsui-color: var( --gsui-btn-export-txt ); }
	&[ data-action="about"  ] { --gsui-color: var( --gsui-btn-about-txt ); }
	&[ data-action="help"   ] { color: var( --gsui-btn-help-txt ); }
}

/* .......................................................................... */
.gsuiDAW-areaTime {
	grid-area: areaTime;
	padding: 8px;
	border-radius: var( --radius );
	background-color: var( --gsui-main-currentTime-bg );

	gsui-slider {
		--gsuiSlider-lineColor: var( --gsui-main-currentTime-lineColor );
		--gsuiSlider-lineBgColor: var( --gsui-main-currentTime-lineBgColor );
	}
	.gsuiSlider-eventCatcher {
		inset: -10px;
	}
}

/* .......................................................................... */
.gsuiDAW-areaVisu {
	grid-area: areaVisu;

	gsui-analyser-hz {
		flex: 1;
		border-radius: var( --radius );
		width: 180px;
		min-width: 48px;
		background-color: #000;
	}
}

/* .......................................................................... */
.gsuiDAW-areaWins {
	grid-area: areaWins;
	white-space: nowrap;
	gap: 0;

	.gsuiDAW-btn {
		flex: 1;
		font-size: 11px;
		background-color: var( --gsui-btn-openWin-bg );

		+ .gsuiDAW-btn {
			margin-left: 0;
			border-left: 1px dashed rgba( 0, 0, 0, .2 );
		}
		&[ data-open ] {
			color: var( --gsui-head1-bg );
			background-color: var( --gsui-btn-openWin-open-bg );
		}
	}
}

/* .......................................................................... */
.gsuiDAW-areaHelp {
	grid-area: areaHelp;
	justify-content: end;
}
.gsuiDAW-areaVers {
	grid-area: areaVers;
	justify-content: end;

	a {
		gap: .6ch;
		color: currentColor;
		font-family: var( --gsui-font-number );
		opacity: .3;

		&:hover {
			opacity: 1;
		}
	}
}
