.gsuiDAW-popup-tempo {
	width: 400px;
}
.gsuiDAW-popup-tempo .gsuiPopup-row-values {
	width: 180px;
}
.gsuiDAW-bpmTap {
	display: flex;
	align-self: normal;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: inherit;
	width: 32px;
	min-width: 32px;
	font-size: 18px;
	border-radius: 4px;
	background-color: #fff2;
}
.gsuiDAW-bpmTap:hover {
	background-color: #fff3;
}
