.gsuiDAW-areaUser {
	grid-area: areaUser;
}
.gsuiDAW-title {
	align-self: center;
	margin-right: var( --gap );
	font-size: 28px;
	font-family: var( --gsui-font-title );
}
.gsuiDAW-btn[ data-action="profile" ] {
	width: 32px;
	border: 2px solid #222;
	box-sizing: border-box;
	background-size: cover;
	background-color: #fff4;
}
.gsuiDAW-btn[ data-action="login" ],
.gsuiDAW-btn[ data-action="logout" ] {
	font-size: 24px;
	opacity: .7;
}
.gsuiDAW-btn[ data-action="login" ] {
	font-size: 22px;
}
gsui-daw[ logged ] .gsuiDAW-btn[ data-action="login" ],
gsui-daw:not( [ logged ] ) .gsuiDAW-btn[ data-action="logout" ],
gsui-daw:not( [ logged ] ) .gsuiDAW-btn[ data-action="profile" ] {
	display: none;
}
