.gsuiDAW-popup-export {
	width: 500px;
}
.gsuiDAW-popup-export-wrap {
	display: flex;
	padding: 10px 0;
}
.gsuiDAW-popup-export-progress {
	flex: 1;
	height: 28px;
}
.gsuiDAW-popup-export-btn {
	padding: 0 .8em;
	border-radius: 2px;
	margin-right: 10px;
	font-size: 12px;
	line-height: 28px;
	font-weight: bold;
	text-decoration: none;
	background-color: #ff9;
}
.gsuiDAW-popup-export-btn > span {
	display: none;
	color: #111;
}
.gsuiDAW-popup-export-btn[ data-status="0" ] .gsuiDAW-popup-export-btn0,
.gsuiDAW-popup-export-btn[ data-status="1" ] .gsuiDAW-popup-export-btn1,
.gsuiDAW-popup-export-btn[ data-status="2" ] .gsuiDAW-popup-export-btn2 {
	display: inline;
}
.gsuiDAW-popup-export-btn .gsuiIcon {
	margin-left: .3em;
}
