.gsuiDAW-winBtn {
	height: 16px;
	padding: 0 6px;
	max-width: 110px;
	overflow: hidden;
	border-radius: 3px;
	line-height: 1;
	font-size: 10px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: var( --gsuiDAW-winBtn-bg );
	transition: filter .2s;

	&:focus,
	&:hover {
		filter: brightness( 1.1 );
	}
	&:empty::before {
		content: "Untitled";
		font-style: italic;
	}
	.gsuiIcon,
	span {
		pointer-events: none;
	}
	.gsuiIcon + span {
		margin-left: 4px;
	}
	+ .gsuiIcon {
		font-size: 12px;
	}
	&[ data-target="channel" ],
	&[ data-target="synthChannel" ] { color: var( --gsuiDAW-winBtn-chan-color ); }
	&[ data-target="drums" ],
	&[ data-target="pianoroll" ] { color: var( --gsuiDAW-winBtn-pattern-color ); }
	&[ data-target="synth" ] { color: var( --gsuiDAW-winBtn-synth-color ); }
	&[ data-target="slices" ] { color: var( --gsuiDAW-winBtn-slices-color ); }
}

/* .......................................................................... */
.gsuiDAW-window-ctrl {
	display: flex;
	align-items: center;
	gap: inherit;

	div {
		overflow: hidden;
		display: flex;
		border-radius: 4px;
	}
	button {
		width: 18px;
		height: 16px;
		color: #fff;
		font-size: 8px;
		background-color: var( --gsui-btn-playPause-bg );

		&:hover {
			filter: brightness( 1.2 );
		}
		&:active {
			padding-top: 2px;
		}
		&[ data-icon="play" ] {
			padding-left: 2px;
		}
		&[ data-action="autoscroll" ] {
			width: 16px;
			border: 2px solid #67a;
			border-radius: 999px;
			background: none;

			gsui-window:has( gsui-timewindow[ autoscroll ] ) & {
				background-color: #67a;
			}
		}
	}
}
