.gsuiDAW-dropdown {
	position: absolute;
	overflow: hidden;
	display: grid;
	z-index: 1;
	top: calc( 60px + var( --gap ) );
	height: 320px;
	grid-template-rows: 32px 1fr;
	box-sizing: border-box;
	outline: 0;
	border: 2px solid #444;
	border-radius: var( --radius );
	opacity: 0;
	visibility: hidden;
	transition: .2s;
	transition-property: opacity, visibility;
}
.gsuiDAW-dropdown:focus {
	border-color: #69b;
}
.gsuiDAW-dropdown:focus-within {
	z-index: 2;
}
.gsuiDAW-dropdown-btn:focus + .gsuiDAW-dropdown,
.gsuiDAW-dropdown:focus-within {
	opacity: 1;
	visibility: visible;
}
.gsuiDAW-dropdown-head {
	display: flex;
	align-items: center;
	color: #222;
	font-size: 14px;
	border-radius: inherit inherit 0 0;
	background-color: #888;
	user-select: none;
}
.gsuiDAW-dropdown-icon {
	margin: 0 6px;
	font-size: 16px;
}
.gsuiDAW-dropdown-title {
	font-weight: bold;
}
.gsuiDAW-dropdown-list {
	position: relative;
	overflow: auto;
	background-color: #444;
}
.gsuiDAW-dropdown-backdrop {
	position: absolute;
	inset: 68px 0 0;
	opacity: 0;
	background-color: #0004;
	visibility: hidden;
	transition: .4s;
	transition-property: visibility, opacity;
}
.gsuiDAW-dropdown-btn:focus ~ .gsuiDAW-dropdown-backdrop,
.gsuiDAW-dropdown:focus-within + .gsuiDAW-dropdown-backdrop {
	visibility: visible;
	opacity: 1;
}
.gsuiDAW-dropdown-placeholder {
	position: absolute;
	display: none;
	inset: 32px 10px auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 12px;
	font-style: italic;
	opacity: .5;
	user-select: none;
}
.gsuiDAW-dropdown-placeholder:only-child {
	display: flex;
}
