.gsuiDAW .gsuiDrums,
.gsuiDAW .gsuiPianoroll,
.gsuiDAW .gsuiPatternroll,
.gsuiDAW .gsuiSynthesizer {
	height: 100%;
	outline: 0;
}

/* .......................................................................... */
.gsuiDAW .gsuiWindow[ data-id="mixer" ] .gsuiWindow-content {
	overflow-y: hidden;
}

/* .......................................................................... */
.gsuiDAW-winBtn {
	height: 16px;
	padding: 0 6px;
	max-width: 110px;
	border: 0;
	outline: 0;
	cursor: pointer;
	overflow: hidden;
	border-radius: 3px;
	line-height: 1;
	color: inherit;
	font-size: 10px;
	font-weight: bold;
	font-family: inherit;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: var( --gsuiDAW-winBtn-bg );
	transition: filter .2s;
}
.gsuiDAW-winBtn:focus,
.gsuiDAW-winBtn:hover {
	filter: brightness( 1.1 );
}
.gsuiDAW-winBtn:empty::before {
	content: "Untitled";
	font-style: italic;
}
.gsuiDAW-winBtn .gsuiIcon,
.gsuiDAW-winBtn span {
	pointer-events: none;
}
.gsuiDAW-winBtn .gsuiIcon + span {
	margin-left: 4px;
}

/* .......................................................................... */
.gsuiDAW-winBtn + .gsuiIcon {
	margin: 0 6px;
	pointer-events: none;
}

/* .......................................................................... */
.gsuiDAW-winBtn[ data-target="channel" ],
.gsuiDAW-winBtn[ data-target="synthChannel" ] { color: var( --gsuiDAW-winBtn-chan-color ); }
.gsuiDAW-winBtn[ data-target="drums" ],
.gsuiDAW-winBtn[ data-target="pianoroll" ] { color: var( --gsuiDAW-winBtn-pattern-color ); }
.gsuiDAW-winBtn[ data-target="synth" ] { color: var( --gsuiDAW-winBtn-synth-color ); }
.gsuiDAW-winBtn[ data-target="slices" ] { color: var( --gsuiDAW-winBtn-slices-color ); }
