.gsuiDAW-popup-settings {
	width: 480px;
}
.gsuiDAW-popup-settings .gsuiPopup-row-values {
	width: 200px;
}
.gsuiDAW-uirateFps {
	font-size: 16px;
	font-family: var( --gsui-font-number );
	white-space: pre;
}
.gsuiDAW-uirateFps::after {
	content: " fps";
	font-family: var( --gsui-font );
	font-size: 12px;
	opacity: .6;
}
.gsuiDAW-popup-settings input[ name="gsuiDAW-uirate-range" ] {
	min-width: 0;
}
