.gsuiDAW-popup-about {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 450px;
	text-align: center;
}

/* .......................................................................... */
.gsuiDAW-popup-about-head {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	gap: 4px;
	margin-bottom: 16px;
}
.gsuiDAW-popup-about-title {
	width: 104px;
	height: 26px;
	background: center no-repeat url( "../assets/logo/gs-gridsound-logo.svg" );
	filter: invert( 1 );
}
.gsuiDAW-popup-about-versionNum {
	opacity: .8;
	font-family: var( --gsui-font-number );
}
.gsuiDAW-popup-about-versionCheck {
	font-size: 11px;
	font-weight: bold;
	opacity: .4;
	transition: .2s opacity;

	&:hover {
		opacity: 1;
	}
}

/* .......................................................................... */
.gsuiDAW-popup-about-links {
	display: flex;
	color: currentColor;

	a {
		flex: 1;
		padding: 8px 0 20px 0;
		color: #fff;
		font-size: 36px;
		font-weight: normal;
		opacity: .5;
		transition: opacity .2s;

		&::after {
			position: relative;
			top: 0;
			left: 0;
			transition: .2s;
			transition-property: top, left, text-shadow;
		}
		&:hover {
			text-decoration: none !important;
			opacity: 1;

			&::after {
				top: -4px;
				left: 4px;
				text-shadow: -4px 4px 2px rgba( 0, 0, 0, .2 );
			}
		}
	}
	&:hover a:not( :hover ) {
		opacity: .2;
	}
}
