.gsuiDAW-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	line-height: 28px;
	text-decoration: none;
	border-radius: var( --radius );
	transition: .2s;
	transition-property: color, opacity, background-color;

	&.gsuiIcon {
		width: 28px;
	}
	&:not( .gsuiDAW-btnColor ):hover {
		color: #fff;
		opacity: 1;
	}
	&:active {
		padding-top: 4px;
	}
}

.gsuiDAW-btnBg {
	background-color: var( --gsui-btn-default-bg );

	&:hover {
		background-color: #fff3;
	}
}

.gsuiDAW-btnColor {
	color: var( --gsui-color );

	&:hover {
		color: var( --gsui-head1-bg );
		background-color: var( --gsui-color );
	}
}

.gsuiDAW-btns {
	display: flex;
	border-radius: var( --radius );

	.gsuiDAW-btn {
		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		&:not( :first-child, :last-child ) {
			border-radius: 0;
		}
	}
}
