gsui-wave-edit {
	--gsuiWaveEdit-wave: #b3a5ea;
	--gsuiWaveEdit-wave-selected: #8f8;
	position: relative;
	overflow: hidden;
	display: flex;
	height: 100%;
	min-width: 440px;
	min-height: 240px;
	flex-direction: column;
	background-color: var( --gsui-screen-graph );
}

/* .......................................................................... */
.gsuiWaveEdit-head {
	display: flex;
	align-items: center;
	gap: 6px;
	height: 20px;
	padding: 0 6px;
	background-color: var( --gsui-item-bg );
}
.gsuiWaveEdit-back {
	border: 0;
	padding: 0;
	font-size: 12px;
	cursor: pointer;
	background: none;
	opacity: .6;
}
.gsuiWaveEdit-back:hover {
	opacity: 1;
}
.gsuiWaveEdit-title {
	margin-bottom: 1px;
	font-size: 12px;
	opacity: .5;
}

/* .......................................................................... */
.gsuiWaveEdit-body {
	position: relative;
	display: flex;
	flex: 3;
}
.gsuiWaveEdit-body-graph {
	flex: 1;
	height: 100%;
	box-shadow: inset 0 0 110px 0 #0008;
}
.gsuiWaveEdit-body-waves {
	flex: 2;
	display: flex;
	flex-direction: column;
}
gsui-wave-edit gsui-wavetable-graph {
	width: 100%;
	height: 100%;
}

/* .......................................................................... */
.gsuiWaveEdit-graph {
	position: sticky;
	left: 0;
	top: 0;
	flex: 1;
}
.gsuiWaveEdit-graph gsui-dotline {
	height: 100%;
	color: var( --gsuiWaveEdit-wave );
}

/* .......................................................................... */
.gsuiWaveEdit-waves-wrap {
	position: relative;
	min-height: 42px;
}
.gsuiWaveEdit-waves {
	position: absolute;
	overflow: scroll;
	inset: 0;
	display: flex;
	background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%230001'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E" );
	background-color: #0003;
}

/* .......................................................................... */
.gsuiWaveEdit-wavestep {
	display: flex;
	min-width: 70px;
	height: 100%;
	margin-left: 2px;
	border-right: 3px solid #0003;
	border-radius: 6px;
	background-color: #282830;
	--gsui-num-opacity: .3;
	--gsui-svg-cursor: pointer;
}
.gsuiWaveEdit-wavestep[ data-selected ] {
	background-color: #493d7b;
	--gsui-num-opacity: .9;
	--gsui-svg-cursor: grab;
}

/* .......................................................................... */
.gsuiWaveEdit-wavestep gsui-dotlinesvg {
	flex: 1;
	position: relative;
	fill: none;
	stroke: var( --gsuiWaveEdit-wave );
	stroke-width: 2px;
	cursor: var( --gsui-svg-cursor );
}
.gsuiWaveEdit-wavestep svg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/* .......................................................................... */
.gsuiWaveEdit-wavestep-head {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2px;
	font-size: 12px;
	line-height: 1.3;
	background-color: #0001;
}
.gsuiWaveEdit-wavestep-num {
	font-weight: bold;
	margin-bottom: auto;
	opacity: var( --gsui-num-opacity );
}
.gsuiWaveEdit-wavestep-btn {
	cursor: pointer;
	opacity: .2;
}
.gsuiWaveEdit-wavestep-btn[ data-action="clone" ] {
	font-size: .72em;
	margin-right: auto;
}
.gsuiWaveEdit-wavestep-btn:hover {
	opacity: .5;
}

/* .......................................................................... */
.gsuiWaveEdit-wtpos {
	position: relative;
	flex: 2;
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 6px;
}

/* .......................................................................... */
.gsuiWaveEdit-wtpos-head {
	display: flex;
	gap: 10px;
	min-height: 32px;
}

/* .......................................................................... */
.gsuiWaveEdit-wtposCurves {
	flex: 1;
	display: flex;
	gap: 8px;
}
.gsuiWaveEdit-wtposCurve {
	position: relative;
	flex: 1;
	border-radius: 4px;
	cursor: pointer;
	background-color: #0005;
	opacity: .6;
}
.gsuiWaveEdit-wtposCurve[ data-selected ] {
	cursor: default;
	opacity: 1;
}
.gsuiWaveEdit-wtposCurve[ data-selected ]::before {
	content: "";
	position: absolute;
	top: calc( 100% + 1px );
	width: 50%;
	left: 25%;
	height: 3px;
	border-radius: 99px;
	background-color: var( --gsuiWaveEdit-wave );
}
.gsuiWaveEdit-wtposCurve gsui-dotlinesvg {
	position: absolute;
	overflow: hidden;
	inset: 4px;
	border-radius: inherit;
}
.gsuiWaveEdit-wtposCurve svg {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: none;
	stroke: currentColor;
}

/* .......................................................................... */
.gsuiWaveEdit-wtposCurve-dur {
	display: flex;
	align-items: center;
	gap: 6px;
}
.gsuiWaveEdit-wtposCurve-dur-body {
	display: flex;
	flex-direction: column;
}
.gsuiWaveEdit-wtposCurve-dur-body > span {
	font-size: 12px;
	font-weight: bold;
	opacity: .5;
}
.gsuiWaveEdit-wtposCurve-dur-body gsui-slider {
	height: 8px;
}
.gsuiWaveEdit-wtposCurve-dur-body .gsuiSlider-eventCatcher {
	top: -15px;
	right: -60px;
}
.gsuiWaveEdit-wtposCurve-dur > b {
	display: flex;
	align-items: baseline;
	height: 20px;
	gap: .5ch;
	border-radius: 4px;
	padding: 2px 6px;
	font-family: var( --gsui-font-number );
	background-color: #0005;
}
.gsuiWaveEdit-wtposCurve-dur > b::after {
	content: " Beat";
	font-size: .8em;
	font-weight: normal;
	font-family: var( --gsui-font );
	opacity: .5;
}

/* .......................................................................... */
.gsuiWaveEdit-wtpos-graph {
	--gsui-pad: 4px;
	flex: 1;
	position: relative;
	border-radius: 4px;
	padding: var( --gsui-pad );
	background-color: #0005;
}
.gsuiWaveEdit-wtpos-waves {
	position: absolute;
	inset: var( --gsui-pad );
	color: var( --gsuiWaveEdit-wave );
	opacity: .7;
}
.gsuiWaveEdit-wtpos-wave {
	position: absolute;
	inset: auto 0;
	border-top: 1px solid currentColor;
	opacity: .25;
}
.gsuiWaveEdit-wtpos-wave[ data-selected ] {
	color: var( --gsuiWaveEdit-wave-selected );
	opacity: 1;
}
.gsuiWaveEdit-wtpos gsui-beatlines {
	inset: var( --gsui-pad );
	color: currentColor;
}
