gsui-wave-edit {
	position: relative;
	display: flex;
	height: 100%;
	flex-direction: column;
	background-color: var(--gsui-item-bg);
}

/* .......................................................................... */
.gsuiWaveEdit-head {
	display: flex;
	align-items: center;
	gap: 6px;
	height: 20px;
	padding: 0 6px;
}
.gsuiWaveEdit-back {
	border: 0;
	padding: 0;
	font-size: 12px;
	cursor: pointer;
	background: none;
	opacity: .6;
}
.gsuiWaveEdit-back:hover {
	opacity: 1;
}
.gsuiWaveEdit-title {
	margin-bottom: 1px;
	font-size: 12px;
	opacity: .5;
}

/* .......................................................................... */
.gsuiWaveEdit-graph {
	position: relative;
	flex: 1;
	box-shadow: inset 0 0 20px 0 #0005;
	background-color: var( --gsui-screen-graph );
}
.gsuiWaveEdit-graph gsui-dotline {
	height: 100%;
	color: #b3a5ea;
}

/* .......................................................................... */
.gsuiWaveEdit-waves {
	overflow: auto;
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	flex: .3;
	padding: 2px 0;
	min-height: min-content;
	max-height: 100px;
	background-color: #353543;
	background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%230001'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E" );
}

/* .......................................................................... */
.gsuiWaveEdit-wavestep {
	display: flex;
	width: 20%;
	height: 100%;
	min-width: 80px;
	margin-left: 2px;
	border-right: 3px solid #0003;
	border-radius: 6px;
	background-color: #282830;
	--gsui-num-opacity: .3;
	--gsui-svg-cursor: auto;
}
.gsuiWaveEdit-wavestep[ data-selected ] {
	background-color: #232339;
	--gsui-num-opacity: .9;
	--gsui-svg-cursor: none;
}

/* .......................................................................... */
.gsuiWaveEdit-wavestep gsui-dotlinesvg {
	flex: 1;
	position: relative;
	cursor: pointer;
	fill: none;
	stroke: #b3a5ea;
	stroke-width: 2px;
	pointer-events: var( --gsui-svg-cursor );
}
.gsuiWaveEdit-wavestep svg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/* .......................................................................... */
.gsuiWaveEdit-wavestep-head {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2px;
	font-size: 12px;
	line-height: 1.3;
	background-color: #0001;
}
.gsuiWaveEdit-wavestep-num {
	font-weight: bold;
	margin-bottom: auto;
	opacity: var( --gsui-num-opacity );
}
.gsuiWaveEdit-wavestep-btn {
	cursor: pointer;
	opacity: .2;
}
.gsuiWaveEdit-wavestep-btn[ data-action="clone" ] {
	font-size: .72em;
	margin-right: auto;
}
.gsuiWaveEdit-wavestep-btn:hover {
	opacity: .5;
}
