gsui-wave-edit {
	position: relative;
	display: flex;
	height: 100%;
	flex-direction: column;
	background-color: var(--gsui-item-bg);
	--gsuiDotline-dotSize: 4px;
}

.gsuiWaveEdit-head {
	display: flex;
	align-items: center;
	height: 20px;
	padding: 0 6px;
}

.gsuiWaveEdit-title {
	font-size: 14px;
	font-weight: bold;
	opacity: .3;
}

.gsuiWaveEdit-graph {
	position: relative;
	flex: 1;
	box-shadow: inset 0 0 20px 0 #0005;
	background-color: var( --gsui-screen-graph );
}

gsui-wave-edit gsui-dotline {
	height: 100%;
	color: #b3a5ea;
}
