gsui-wave-editor {
	--gsuiWaveEditor-btn-color: #a0a9ff;
	display: flex;
	height: 100%;
	min-width: 180px;
	min-height: 100px;
	touch-action: none;
}

/* .......................................................................... */
.gsuiWaveEditor-menu {
	box-sizing: border-box;
	width: calc( 2 * ( 26px + 6px ) + 1px );
	padding: 6px;

	& + & {
		margin-left: -6px;
	}
	gsui-slider {
		height: 10px;
	}
	label {
		margin-bottom: -2px;
		font-size: 9px;
		font-weight: bold;
		opacity: .5;
	}
}

/* .......................................................................... */
.gsuiWaveEditor-reset,
.gsuiWaveEditor-symmetry,
.gsuiWaveEditor-normalize {
	box-sizing: border-box;
	padding: 0 4px;
	border: 2px solid transparent;
	border-radius: 4px;
	color: currentColor;
	background-color: #0005;

	&:hover {
		background-color: #111;
	}
}
gsui-wave-editor[ symmetry ] .gsuiWaveEditor-symmetry {
	border-color: currentColor;
}
gsui-wave-editor:not( [ normalized ] ) .gsuiWaveEditor-normalize .gsuiIcon:last-child {
	opacity: .2;
}

/* .......................................................................... */
.gsuiWaveEditor-tools {
	overflow: hidden;
	flex-wrap: wrap;
	margin-bottom: auto;
	border-radius: 4px;
	background-color: #0004;

	button {
		position: relative;
		width: 26px;
		height: 26px;
		border: 0;
		color: currentColor;
		background: none;

		&:hover {
			background-color: #111;
		}
		&[ data-selected ] {
			background-color: #0008;

			polyline {
				stroke: currentColor;
				filter: drop-shadow( 0 0 1px var( --gsuiWaveEditor-btn-color ) );
			}
		}
	}
	svg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		fill: none;
		stroke: var( --gsuiWaveEditor-btn-color );
		stroke-linecap: round;
	}
}

/* .......................................................................... */
.gsuiWaveEditor-gridSize {
	.gsuiIcon {
		min-width: 20px;
		opacity: .5;
	}
	span {
		min-width: 20px;
		padding: 0px 2px;
		text-align: end;
		font-weight: bold;
		font-family: var( --gsui-font-number );
		border-radius: 4px;
		background-color: #0005;
	}
	.gsuiSlider-eventCatcher {
		inset: -21px -6px -6px;
		cursor: ew-resize;
	}
}

/* .......................................................................... */
.gsuiWaveEditor-mirror {
	button {
		width: 16px;
		font-size: 10px;
		border: 0;
		background: none;

		&:hover {
			background-color: #fff2;
		}
	}
}

/* .......................................................................... */
.gsuiWaveEditor-wave {
	position: relative;
	overflow: hidden;
	background-color: #0001;

	gsui-beatlines {
		inset: -2px;
	}
	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	polyline {
		stroke: #fff;
		stroke-width: 2px;
		fill: var( --gsuiWaveEditor-btn-color );
		fill-opacity: .1;
	}
}
.gsuiWaveEditor-wave-hover-square {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #ffffff09;
	opacity: 0;
	transition: opacity .2s;

	.gsuiWaveEditor-wave:hover & {
		opacity: 1;
	}
}
