gsui-wave-editor {
	display: flex;
	height: 100%;
	min-width: 180px;
	min-height: 100px;
}

/* .......................................................................... */
.gsuiWaveEditor-menu {
	box-sizing: border-box;
	border-right: 1px solid #000;
	width: calc( 2 * ( 26px + 6px ) + 1px );
	padding: 6px;
	background-color: #33333b;
}

/* .......................................................................... */
.gsuiWaveEditor-reset,
.gsuiWaveEditor-symmetry {
	box-sizing: border-box;
	padding: 0 4px;
	border: 2px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	background-color: #0005;
}
.gsuiWaveEditor-symmetry:hover,
.gsuiWaveEditor-reset:hover {
	background-color: #111;
}
gsui-wave-editor[ symmetry ] .gsuiWaveEditor-symmetry {
	border-color: currentColor;
}

/* .......................................................................... */
.gsuiWaveEditor-tools {
	overflow: hidden;
	flex-wrap: wrap;
	border-radius: 4px;
	background-color: #0004;
}
.gsuiWaveEditor-tools button {
	position: relative;
	width: 26px;
	height: 26px;
	border: 0;
	color: dodgerblue;
	cursor: pointer;
	background: none;
}
.gsuiWaveEditor-tools button:hover {
	background-color: #111;
}
.gsuiWaveEditor-tools button[ data-selected ] {
	background-color: #0008;
}
.gsuiWaveEditor-tools button[ data-selected ] polyline {
	stroke: #fff;
	filter: drop-shadow( 0 0 1px currentColor );
}
.gsuiWaveEditor-tools svg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	fill: none;
	stroke: currentColor;
	stroke-linecap: round;
}

/* .......................................................................... */
.gsuiWaveEditor-gridSize[ dir=x ] {
	margin-top: auto;
}
.gsuiWaveEditor-gridSize .gsuiIcon {
	min-width: 20px;
	opacity: .5;
}
.gsuiWaveEditor-gridSize span {
	min-width: 20px;
	padding: 0px 2px;
	text-align: end;
	font-weight: bold;
	font-family: var( --gsui-font-number );
	border-radius: 4px;
	background-color: #0005;
}
.gsuiWaveEditor-gridSize gsui-slider {
	height: 10px;
}
.gsuiWaveEditor-gridSize .gsuiSlider-eventCatcher {
	inset: -21px -6px -6px;
	cursor: ew-resize;
}

/* .......................................................................... */
.gsuiWaveEditor-wave {
	position: relative;
	overflow: hidden;
	background-color: #0001;
	--gsuiBeatlines-lines: #fff2;
}
.gsuiWaveEditor-wave gsui-beatlines {
	inset: -1px;
}
.gsuiWaveEditor-wave .gsuiBeatlines-steps {
	opacity: 1;
}
.gsuiWaveEditor-wave-hover-square {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #ffffff09;
	opacity: 0;
	transition: opacity .2s;
}
.gsuiWaveEditor-wave:hover .gsuiWaveEditor-wave-hover-square {
	opacity: 1;
}
.gsuiWaveEditor-wave svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.gsuiWaveEditor-wave polyline {
	stroke: #fff;
	stroke-width: 2px;
	fill: #3b83fb29;
}
