body {
	--test-skin-dur: .25s;
	overflow: auto;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23000' fill-opacity='0.1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E" );
	transition: background-color var( --test-skin-dur );

	&[ data-skin="gray" ] {
		--app-bg: #22222a;
	}
}

/* .......................................................................... */
#title {
	display: flex;
	align-items: baseline;
	justify-content: center;
	margin: auto 0 32px;
	padding-top: 10px;
	font-size: 26px;
	column-gap: 1ch;

	span {
		text-shadow: 0 0 20px #fff5;
	}
}
@media ( max-width: 500px ) {
	#title {
		align-items: center;
		flex-direction: column;
		font-size: 22px;
	}
}

/* .......................................................................... */
#testLinks {
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	place-content: center;
	padding: 0 16px;
	background-image: linear-gradient( 180deg, #f55, #c4a );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	a {
		padding: 6px;
		font-size: 18px;
		font-weight: bold;
		border-radius: .5ch;

		&:hover {
			animation: alternate infinite testLinkAnim .25s;
		}
	}
}
@keyframes testLinkAnim {
	100% { background-color: #fff1; }
}

/* .......................................................................... */
#footer {
	margin: auto 0 10px;
	padding-top: 32px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	opacity: .5;
}

/* .......................................................................... */
#TryMain {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	gap: 16px;
}
#TryHead {
	display: flex;
	align-items: center;
	margin-top: auto;
	gap: 8px;

	select {
		height: 28px;
		padding: 0 8px;
		border-radius: 4px;
		background-color: #0005;

		option {
			background-color: #223;
		}
	}
}
#TryComponent {
	overflow: hidden;
	position: relative;
	width: var( --TryMe-w, auto );
	height: var( --TryMe-h, auto );
	resize: var( --TryMe-resize, both );
	background-color: #0002;
}
