gsui-wavetable-graph {
	position: relative;
	display: block;
	color: #8f8;
	color: #a0a9ff;
	cursor: grab;
	touch-action: none;
	background-color: #0005;
}

gsui-wavetable-graph svg {
	position: absolute;
	inset: 0;
	stroke: currentColor;
}

.gsuiWavetableGraph-box line {
	stroke-width: 2px;
	opacity: .1;
}

.gsuiWavetableGraph-interp polyline {
	fill: none;
	stroke: currentColor;
	stroke-width: 1px;
	opacity: .2;
}

.gsuiWavetableGraph-waves polyline:nth-child( even ) {
	fill: none;
	stroke-width: 2px;
	stroke: currentColor;
}
.gsuiWavetableGraph-waves polyline:nth-child( odd ) {
	stroke: none;
	fill: currentColor;
	fill-opacity: .2;
}
