gsui-wavetable-graph {
	--gsuiWavetableGraph-waves-selected: #8f8;
	--gsuiWavetableGraph-waves: #a0a9ff;
	--gsuiWavetableGraph-morph: #fff;
	position: relative;
	display: block;
	color: var( --gsuiWavetableGraph-waves );
	cursor: grab;
	touch-action: none;

	svg {
		position: absolute;
		inset: 0;
		stroke: currentColor;
	}
}

/* .......................................................................... */
.gsuiWavetableGraph-box line {
	stroke-width: 2px;
	opacity: .1;
}

/* .......................................................................... */
.gsuiWavetableGraph-morph polyline {
	&:nth-child( even ) {
		fill: none;
		stroke-width: 3px;
		stroke: var( --gsuiWavetableGraph-morph );
	}
	&:nth-child( odd ) {
		stroke: none;
		fill: var( --gsuiWavetableGraph-morph );
		fill-opacity: .4;
	}
}

/* .......................................................................... */
.gsuiWavetableGraph-waves {
	gsui-wavetable-graph:has( .gsuiWavetableGraph-morph polyline[ points ] ) & {
		opacity: .5;
	}
	polyline {
		&:nth-child( even ) {
			fill: none;
			stroke-width: 2px;
			stroke: currentColor;
		}
		&:nth-child( odd ) {
			stroke: none;
			fill: currentColor;
			fill-opacity: .2;
		}
		&[ data-selected ] {
			color: var( --gsuiWavetableGraph-waves-selected );
		}
	}
}

/* .......................................................................... */
.gsuiWavetableGraph-interp polyline {
	fill: none;
	stroke: currentColor;
	stroke-width: 1px;
	opacity: .2;
}
