:root {
	--gsuiBlocksEdition-selection-bgColor: rgba( 189, 38, 38, .4 );
	--gsuiBlocksEdition-selection-borderColor: #f44;
}

.gsuiBlocksEdition-selection {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	z-index: 2;
	border: 2px solid var( --gsuiBlocksEdition-selection-borderColor );
	border-radius: 4px;
	background-color: var( --gsuiBlocksEdition-selection-bgColor );
	transition: .2s;
	transition-property: opacity, visibility;
}
.gsuiBlocksEdition-selection-hidden {
	opacity: 0;
	visibility: hidden;
}
