gsui-prop-select {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	box-sizing: border-box;
	height: 100%;
	gap: 3px;
	padding: 6px;
	font-size: 11px;
	line-height: 18px;
}

/* .......................................................................... */
.gsuiPropSelect-sep {
	flex-basis: 100%;
	height: 18px;
	text-align: center;
	opacity: .5;
}

/* .......................................................................... */
.gsuiPropSelect-btn {
	outline: 0;
	height: 18px;
	border: 1px dashed;
	border-radius: 3px;
	padding: 0 6px;
	font-weight: bold;
	cursor: pointer;
}
.gsuiPropSelect-btn[ data-prop="gainLFOSpeed" ],
.gsuiPropSelect-btn[ data-prop="gainLFOAmp" ],
.gsuiPropSelect-btn[ data-prop="gain" ]     { color: var( --gsui-col-gain ) }
.gsuiPropSelect-btn[ data-prop="pan" ]      { color: var( --gsui-col-pan ) }
.gsuiPropSelect-btn[ data-prop="detune" ]   { color: var( --gsui-col-detune ) }
.gsuiPropSelect-btn[ data-prop="lowpass" ]  { color: var( --gsui-col-lowpass ) }
.gsuiPropSelect-btn[ data-prop="highpass" ] { color: var( --gsui-col-highpass ) }
.gsuiPropSelect-btn:hover {
	background-color: #fff1;
}
.gsuiPropSelect-btn[ data-selected ] {
	background-color: currentColor;
}
.gsuiPropSelect-btn[ data-value ]::before {
	content: attr( data-value );
	color: #333;
	font-size: 14px;
	font-family: var( --gsui-font-number );
}
.gsuiPropSelect-btn:not( [ data-value ] )::before {
	content: attr( data-label );
}
.gsuiPropSelect-btn[ data-selected ]:not( [ data-value ] )::before {
	color: #333;
}
