/* Reset */
html, body {
	height: 100%;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
	background: #222;
}


#demo-gsuiToggle {
	position: absolute;
	top: 50px;
	left: 40px;
	width: 35px;
	background: #444;
}
.gsuiToggle {
	width: 100%;
	height: 35px;
}


#demo-gsuiSpanEditable {
	position: absolute;
	top: 50px;
	left: 150px;
	width: 150px;
	height: 35px;
	padding: 5px;
	background: #444;
}
.gsuiSpanEditable {
	width: 100%;
	height: 100%;
}


#demo-gsuiWaveform {
	position: absolute;
	top: 140px;
	left: 115px;
	width: 512px;
	height: 144px;
	background: #111;
}
.gsuiWaveform {
	width: 100%;
	height: 100%;
	fill: #88a;
}
