/* Reset */
html, body {
	height: 100%;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
	background: #222;
}

/* gs-ui-toggle */
#demo-toggle {
	position: absolute;
	top: 50px;
	left: 40px;
	width: 35px;
	background: #444;
}
.gs-ui-toggle {
	width: 100%;
	height: 35px;
}

/* gs-ui-span-editable */
#demo-span-editable {
	position: absolute;
	top: 50px;
	left: 150px;
	width: 150px;
	height: 35px;
	padding: 5px;
	background: #444;
}
.gs-ui-span-editable {
	width: 100%;
	height: 100%;
}

/* gs-ui-span-editable */
#demo-span-waveform {
	position: absolute;
	top: 140px;
	left: 115px;
	width: 512px;
	height: 144px;
	background: #111;
}
.gs-ui-waveform {
	width: 100%;
	height: 100%;
	fill: #88a;
}
