gsui-fx-reverb {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 140px;
	min-height: 100px;
	gap: 8px;
	padding: 8px;
}

/* .......................................................................... */
gsui-fx-reverb .gsuiEffect-param-label {
	min-width: 26px;
}
gsui-fx-reverb gsui-slider {
	height: 10px;
	--gsuiSlider-lineColor: var( --gsui-col-gain );
}
gsui-fx-reverb .gsuiEffect-param-value {
	width: 42px;
	align-self: stretch;
}
gsui-fx-reverb .gsuiEffect-param-value::after {
	content: " %";
}

/* .......................................................................... */
.gsuiFxReverb-graph {
	position: relative;
	flex: 1;
	min-height: 32px;
	border-radius: 6px;
	background-color: var( --gsui-screen-graph );
}
.gsuiFxReverb-graph-dry {
	position: absolute;
	inset: 10% auto 10% 0;
	width: 8px;
	border-radius: 2px;
	background-color: #ff9;
}
.gsuiFxReverb-graph-wet {
	position: absolute;
	inset: 10% auto 10% 0;
	width: 50%;
	border-radius: 2px;
	background-image: linear-gradient( 90deg, #fff, transparent );
}
