gsui-fx-reverb {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 140px;
	min-height: 100px;
	gap: 8px;
	padding: 8px;
	--gsui-fadein-p: 0%;
	--gsuiSlider-lineColor: var( --gsui-col-gain );

	gs-label {
		min-width: 40px;
	}
	gs-output {
		align-self: stretch;

		&::after {
			content: " %";
		}
	}
}

/* .......................................................................... */
gsui-fx-reverb .gsuiEffect-param-row[ data-prop="delay" ],
gsui-fx-reverb .gsuiEffect-param-row[ data-prop="decay" ],
gsui-fx-reverb .gsuiEffect-param-row[ data-prop="fadein" ] {
	--gsuiSlider-lineColor: var( --gsui-col-time );
}
gsui-fx-reverb .gsuiEffect-param-row[ data-prop="delay" ] gs-output::after,
gsui-fx-reverb .gsuiEffect-param-row[ data-prop="decay" ] gs-output::after,
gsui-fx-reverb .gsuiEffect-param-row[ data-prop="fadein" ] gs-output::after {
	content: " b";
}

/* .......................................................................... */
.gsuiFxReverb-graph {
	position: relative;
	overflow: hidden;
	flex: 1;
	min-height: 32px;
	border-radius: 6px;
	background-color: var( --gsui-screen-graph );
}
.gsuiFxReverb-graph-dry {
	position: absolute;
	inset: 20% auto 20% 0;
	width: 8px;
	border-radius: 2px;
	background-color: #ff9;
}
.gsuiFxReverb-graph-wet {
	position: absolute;
	inset: 15% auto 15% 0;
	width: 50%;
	border-radius: 2px;
	background-image: linear-gradient( 90deg, transparent, currentColor var( --gsui-fadein-p ), transparent );
}
