gsui-drums {
	--gsuiDrums-drum-bg: var( --gsui-col-pattern8 );
	--gsuiDrums-drumprop-bg: #0002;
	--gsuiDrums-drumprop-color: #0004;
	--gsuiDrums-drumcut-bg: #d46;
	--gsuiDrums-line-border: #2e4145;
	--gsuiDrums-line-mute-bg: #0003;
	--gsuiDrums-loop-bg: #000;
	--gsuiDrums-drumHover-border: var( --gsui-col-pattern );
	--gsuiDrums-drumHover-bg: var( --gsui-col-pattern2 );
}
