gsui-drums {
	display: block;
	height: 100%;
}

/* .......................................................................... */
gsui-drums .gsuiTimewindow-currentTime {
	margin-left: 0;
	opacity: .1;
}
gsui-drums gsui-timewindow[ currenttime="0" ] .gsuiTimewindow-currentTime {
	display: block;
}
gsui-drums .gsuiTimewindow-step,
gsui-drums gsui-slider[ data-zoom="y" ] {
	display: none;
}

/* .......................................................................... */
.gsuiDrums-line.gsuiReorder-dragging {
	opacity: .5;
	background-color: #0004;
}
.gsuiDrums-line {
	position: relative;
	width: 1000000px;
	font-size: var( --gsuiTimewindow-lineH );
	height: 1em;
	box-sizing: border-box;
	border-bottom: 1px solid var( --gsuiDrums-line-border );
	transition: .2s height, .1s filter, .1s background-color;
}
.gsuiDrums-lineOpen {
	height: calc( 1em + 1.5em );
}
.gsuiDrums-line.gsuiDrumrow-mute {
	filter: brightness( .8 ) contrast( .8 );
	background-color: var( --gsuiDrums-line-mute-bg );
}
.gsuiDrums-lineDrums {
	position: absolute;
	inset: 0;
	height: 1em;
}
.gsuiDrums-lineIn {
	height: 100%;
	box-sizing: border-box;
	border-bottom: 1px dashed var( --gsuiDrums-line-border );
	font-size: var( --gsuiTimewindow-pxperbeat );
	cursor: pointer;
}
.gsuiDrums-lineProps {
	position: absolute;
	inset: 1em 0 0;
}

/* .......................................................................... */
.gsuiDrums-drumHover,
.gsuiDrums-drumcutHover {
	position: absolute;
	z-index: 1;
	background-color: #0002;
}
.gsuiDrums-drumHover {
	height: 66%;
}
.gsuiDrums-drumcutHover {
	bottom: 0;
	height: 34%;
}
.gsuiDrums-drumcutHoverIn,
.gsuiDrums-drumHoverIn {
	box-sizing: border-box;
	height: 100%;
	margin: 0 1px 1px 0;
	border: 2px solid var( --gsuiDrums-drumHover-border );
	border-radius: 4px;
	background-color: var( --gsuiDrums-drumHover-bg );
	pointer-events: none;
}

/* .......................................................................... */
.gsuiDrums-drum,
.gsuiDrums-drumcut {
	position: absolute;
	width: 1em;
}
.gsuiDrums-drum {
	height: 66%;
}
.gsuiDrums-drumcut {
	bottom: 1px;
	height: calc( 34% - 2px );
}
.gsuiDrums-previewDeleted,
.gsuiDrums-preview {
	opacity: .4;
}
.gsuiDrums-drumIn,
.gsuiDrums-drumcutIn {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	margin: 0 1px 1px 0;
	border-radius: 2px;
	color: var( --gsuiDrums-drum-color );
	background-color: var( --gsuiDrums-drum-bg );
	pointer-events: none;
}
.gsuiDrums-drumcutIn {
	font-size: 10px;
	background-color: var( --gsuiDrums-drumcut-bg );
}
.gsuiDrums-drumcutIn .gsuiIcon {
	opacity: .7;
}
.gsuiDrums-drumProp {
	position: relative;
	width: 100%;
	height: 3px;
	background-color: var( --gsuiDrums-drumprop-bg );
	transition: .1s height;
}
.gsuiDrums-lineOpen[ data-prop="pan" ] .gsuiDrums-drumProp[ data-value="pan" ],
.gsuiDrums-lineOpen[ data-prop="gain" ] .gsuiDrums-drumProp[ data-value="gain" ],
.gsuiDrums-lineOpen[ data-prop="detune" ] .gsuiDrums-drumProp[ data-value="detune" ] {
	height: 6px;
}
.gsuiDrums-drumProp + .gsuiDrums-drumProp {
	margin-top: 2px;
}
.gsuiDrums-drumPropValue {
	position: absolute;
	height: 100%;
	background-color: var( --gsuiDrums-drumprop-color );
}
