.gsuiDrums {
	color: var( --gsuiDrums-color );
}

.gsuiDrums-sidePanel,
.gsuiDrums-linesPanel {
	display: flex;
	flex-direction: column;
}
.gsuiDrums-linesPanel {
	background-color: #444;
}
.gsuiDrums-sidePanel {
	min-width: 140px;
	max-width: 220px;
}
.gsuiDrums-sidePanelMenu {
	height: 32px;
	min-height: 32px;
}

.gsuiDrums-timelineWrap {
	height: 32px;
}
.gsuiDrums .gsuiTimeline {
	height: 100%;
}
.gsuiDrums-rows {
	flex: 1;
	overflow-y: scroll;
	scrollbar-width: none;
	background-color: #555;
}
.gsuiDrums-rows::-webkit-scrollbar,
.gsuiDrums-lines::-webkit-scrollbar {
	display: none;
}

/* .......................................................................... */
.gsuiDrums-row {
	position: relative;
	height: 1em;
	display: flex;
	box-sizing: border-box;
	padding-right: 8px;
	border-bottom: 1px solid #0003;
	background-color: var( --gsuiDrums-row-bg );
}
.gsuiDrums-row-mute {
	--gsuiDrums-toggle-bg: var( --gsuiDrums-toggleOff-bg );
}
.gsuiDrums-row-grip {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	font-size: 12px;
	cursor: grab;
	background-color: var( --gsuiDrums-grip-bg );
}
.gsuiDrums-row-grip .gsuiIcon {
	pointer-events: none;
	opacity: .4;
}
.gsuiDrums-row-toggle {
	width: 24px;
	border: 0;
	padding: 0;
	font-size: 8px;
	color: var( --gsuiDrums-toggle-bg );
	cursor: pointer;
	background: none;
}
.gsuiDrums-row-name {
	flex: 1;
	align-self: center;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
}
.gsuiDrums-row-delete {
	position: absolute;
	right: 0;
	border: 0;
	padding: 0;
	width: 14px;
	height: 16px;
	color: inherit;
	cursor: pointer;
	font-size: 12px;
	background: none;
	opacity: 0;
	transition: .1s opacity;
}
.gsuiDrums-row:hover .gsuiDrums-row-delete {
	opacity: .3;
}
.gsuiDrums-row .gsuiDrums-row-delete:hover,
.gsuiDrums-row .gsuiDrums-row-delete:focus {
	opacity: 1;
}

/* .......................................................................... */
.gsuiDrums-lines {
	flex: 1;
	position: relative;
	overflow: scroll auto;
	background-color: var( --gsuiDrums-lines-bg );
}
.gsuiDrums-linesAbsolute {
	position: absolute;
}
.gsuiDrums-line {
	position: relative;
	width: 1000000px;
	height: 1em;
	cursor: pointer;
}
.gsuiDrums-line:last-child {
	box-shadow: 0 1000px 0px 1000px var( --gsuiDrums-lines-bg );
}
.gsuiDrums-lineIn {
	height: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid #0005;
}

/* .......................................................................... */
.gsuiDrums-currentTime,
.gsuiDrums-loop {
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	pointer-events: none;
	background-color: var( --gsuiDrums-loop-bg );
	transition: .2s opacity;
	opacity: 0;
}
.gsuiDrums-currentTime {
	background-color: var( --gsuiDrums-currentTime-bg );
	opacity: 1;
}
.gsuiDrums-loopA { left: 0; }
.gsuiDrums-loopB { right: 0; }
.gsuiDrums-loopOn {
	opacity: .3;
}

/* .......................................................................... */
.gsuiDrums-drumHover {
	position: absolute;
	box-sizing: border-box;
	border-radius: 4px;
	height: 100%;
	border: 2px solid var( --gsuiDrums-drumHover-border );
	background-color:  var( --gsuiDrums-drumHover-bg );
}

/* .......................................................................... */
.gsuiDrums-drum {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	flex-direction: column;
	width: 1em;
	height: 100%;
}
.gsuiDrums-drum-in {
	height: 100%;
	margin: 0 1px 1px 0;
	border-radius: 2px;
	pointer-events: none;
	background-color: #5acd;
}
