gsui-drums {
	--gsuiDrums-drum-bg: rgba( var( --gsui-rgb-pattern ), .8 );
	--gsuiDrums-drum-color: #000;
	--gsuiDrums-drumprop-bg: #0002;
	--gsuiDrums-drumprop-color: #0004;
	--gsuiDrums-drumcut-bg: #48ad;
	--gsuiDrums-line-border: #2e4145;
	--gsuiDrums-line-mute-bg: #0003;
	--gsuiDrums-loop-bg: #000;
	--gsuiDrums-currentTime-bg: rgba( var( --gsui-rgb-currentTimeCursor ), .07 );
	--gsuiDrums-drumHover-border: var( --gsui-col-pattern );
	--gsuiDrums-drumHover-bg: rgba( var( --gsui-rgb-pattern ), .2 );
}
