gsui-curves {
	display: block;
	position: relative;
	height: 100%;
}
.gsuiCurves-svg {
	position: absolute;
	width: 100%;
	height: 100%;
}
.gsuiCurves-markText {
	fill: currentColor;
	font-size: 10px;
	opacity: .2;
}
.gsuiCurves-markBg {
	fill: currentColor;
	opacity: .03;
}
.gsuiCurves-line {
	stroke: currentColor;
	stroke-width: 2;
	stroke-dasharray: 4;
	opacity: .1;
}
.gsuiCurves-curve {
	fill: none;
	stroke: currentColor;
	stroke-width: 3;
}
