gsui-slicer {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100%;
	padding: 8px;
	min-width: 306px;
	background-color: var( --gsuiSlicer-bg );
	-webkit-tap-highlight-color: transparent;
}

/* .......................................................................... */
#gsuiSlicer-waveDefs {
	display: none;
}

/* .......................................................................... */
.gsuiSlicer-source {
	overflow: hidden;
	min-height: 48px;
	flex: .35;
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	background-color: var( --gsuiSlicer-source-bg );
}
.gsuiSlicer-source-head {
	display: flex;
	align-items: center;
	height: 20px;
	font-size: 11px;
	font-weight: bold;
	padding: 0 6px;
	background-color: #000;
	opacity: .4;
}
.gsuiSlicer-source-icon {
	margin-right: 6px;
	font-size: 12px;
}
gsui-slicer:not( .gsuiSlicer-loaded ) .gsuiSlicer-source-name::before {
	content: "no sample loaded...";
	font-style: italic;
	opacity: .5;
}
.gsuiSlicer-source-sample {
	position: relative;
	overflow: hidden;
	flex: 1;
	min-height: 20px;
	cursor: pointer;
	touch-action: none;
}
.gsuiSlicer-source-wave {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var( --gsuiSlicer-source-wave );
	pointer-events: none;
}
.gsuiSlicer-source-crop {
	position: absolute;
	top: 0;
	height: 100%;
	margin-left: -1px;
	border: 0 dashed #fff;
	border-width: 0 1px;
	opacity: .5;
	transition: .2s opacity;
	pointer-events: none;
}
.gsuiSlicer-loaded .gsuiSlicer-source-crop {
	border-style: solid;
	opacity: 1;
}
gsui-slicer[ cropa="0" ] .gsuiSlicer-source-cropA,
gsui-slicer[ cropb="1" ] .gsuiSlicer-source-cropB {
	opacity: 0;
}
.gsuiSlicer-source-crop::before {
	content: "";
	position: absolute;
	width: 9999px;
	height: 100%;
	opacity: .8;
	background-color: var( --gsuiSlicer-source-bg );
}
.gsuiSlicer-source-cropA::before { right: 2px; }
.gsuiSlicer-source-cropB::before { left: 2px; }

/* .......................................................................... */
.gsuiSlicer-preview {
	position: relative;
	overflow: hidden;
	flex: .4;
	min-height: 30px;
	border-radius: 6px;
	background-color: var( --gsuiSlicer-source-bg );
}
.gsuiSlicer-preview-wave {
	position: absolute;
	height: 100%;
	fill: var( --gsuiSlicer-source-wave );
	border-right: 1px dashed var( --gsuiSlicer-preview-wave-border );
}

/* .......................................................................... */
.gsuiSlicer-slices {
	flex: 1;
	min-height: 100px;
	border-radius: 6px;
	overflow: hidden;
	color: #000;
	background-color: var( --gsuiSlicer-slicers-bg );
	box-shadow:
		/*inset 0 0 6px 4px #0002,*/
		inset 0 0 0 1px #0008;
}
.gsuiSlicer-slices-scroll {
	overflow: auto;
	height: 100%;
}
.gsuiSlicer-slices-beatlinesWrap {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.gsuiSlicer-slices-in {
	position: relative;
	height: 100%;
}
.gsuiSlicer-slices-line {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .2;
	pointer-events: none;
}
.gsuiSlicer-slices-line line {
	stroke: currentColor;
	stroke-width: 2px;
	stroke-dasharray: 10 5;
}
.gsuiSlicer-slices-wrap {
	position: relative;
	height: 100%;
	cursor: pointer;
	touch-action: none;
}
.gsuiSlicer-slices-slice {
	position: absolute;
	box-sizing: border-box;
	bottom: 0;
	border: 0 solid var( --gsuiSlicer-slice-border );
	border-width: 3px 1px 0 1px;
	border-radius: 2px 2px 0 0;
	background-color: var( --gsuiSlicer-slice-bg );
	pointer-events: none;
	filter: grayscale( .5 ) opacity( .8 );
	transition: filter .2s;
}
.gsuiSlicer-loaded .gsuiSlicer-slices-slice {
	filter: none;
}

/* .......................................................................... */
.gsuiSlicer-menu {
	display: flex;
	gap: 6px;
	height: 20px;
	justify-content: space-between;
	font-size: 14px;
}

/* .......................................................................... */
.gsuiSlicer-duration {
	display: flex;
	gap: 6px;
	align-items: center;
	opacity: .6;
	transition: .2s opacity;
	user-select: none;
}
.gsuiSlicer-duration:focus,
.gsuiSlicer-duration:hover {
	opacity: 1;
}
.gsuiSlicer-duration-input {
	width: 4ch;
	outline: 0;
	border: 0;
	border-radius: 4px;
	padding: 0 0 0 6px;
	height: 100%;
	color: inherit;
	font-size: inherit;
	background-color: #fff4;
}
.gsuiSlicer-duration-label {
	font-size: 11px;
	pointer-events: none;
}

/* .......................................................................... */
.gsuiSlicer-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	gap: 6px;
	border: 0;
	outline: 0;
	padding: 0 6px;
	min-width: 32px;
	border-radius: 4px;
	font-size: inherit;
	color: inherit;
	cursor: pointer;
	white-space: nowrap;
	background-color: #fff2;
	user-select: none;
	opacity: .6;
	transition: .2s opacity;
}
.gsuiSlicer-btn-toggle {
	border: 2px solid #fff8;
}
.gsuiSlicer-btn-toggle,
.gsuiSlicer-btn:focus,
.gsuiSlicer-btn:hover {
	opacity: 1;
}

/* .......................................................................... */
.gsuiSlicer-btn-step {
	margin-left: auto;
	font-family: var( --gsui-font-number );
}
