gsui-slicer {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 8px;
	min-width: 240px;
	background-color: var( --gsuiSlicer-bg );
}

/* .......................................................................... */
#gsuiSlicer-waveDefs {
	display: none;
}

/* .......................................................................... */
.gsuiSlicer-source {
	overflow: hidden;
	min-height: 48px;
	flex: .35;
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	background-color: var( --gsuiSlicer-source-bg );
}
.gsuiSlicer-source-head {
	display: flex;
	align-items: center;
	height: 20px;
	font-size: 11px;
	font-weight: bold;
	padding: 0 6px;
	background-color: #000;
	opacity: .4;
}
.gsuiSlicer-source-icon {
	margin-right: 6px;
	font-size: 12px;
}
.gsuiSlicer-source-sample {
	position: relative;
	overflow: hidden;
	flex: 1;
	min-height: 20px;
	cursor: pointer;
}
.gsuiSlicer-source-wave {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var( --gsuiSlicer-source-wave );
}
.gsuiSlicer-source-crop {
	position: absolute;
	top: 0;
	width: 2px;
	height: 100%;
	margin-left: -1px;
	background-color: white;
	transition: .2s opacity;
}
.gsuiSlicer-source-crop::before {
	content: "";
	position: absolute;
	width: 9999px;
	height: 100%;
	opacity: .8;
	background-color: var( --gsuiSlicer-source-bg );
}
.gsuiSlicer-source-cropA::before { right: 2px; }
.gsuiSlicer-source-cropB::before { left: 2px; }

/* .......................................................................... */
.gsuiSlicer-cropArrows {
	position: relative;
	height: 10px;
	min-height: 10px;
}
.gsuiSlicer-cropArrows-arrow {
	position: absolute;
	box-sizing: border-box;
	height: 100%;
	background-color: var( --gsuiSlicer-source-bg );
	opacity: .5;
	opacity: 0;
}
.gsuiSlicer-cropArrows-arrowA {
	clip-path: polygon( 100% 0%, 100% 100%, 0% 100% );
}
.gsuiSlicer-cropArrows-arrowB {
	right: 0;
	clip-path: polygon( 0% 0%, 100% 100%, 0% 100% );
}
.gsuiSlicer-cropArrows-arrowZ {
	transition: .2s opacity;
}
.gsuiSlicer[ cropa="0" ] .gsuiSlicer-source-cropA,
.gsuiSlicer[ cropb="1" ] .gsuiSlicer-source-cropB,
.gsuiSlicer[ cropa="0" ] .gsuiSlicer-cropArrows-arrowA,
.gsuiSlicer[ cropb="1" ] .gsuiSlicer-cropArrows-arrowB,
.gsuiSlicer[ cropa="0" ][ cropb="1" ] .gsuiSlicer-cropArrows-arrowZ {
	opacity: 0;
}

/* .......................................................................... */
.gsuiSlicer-preview {
	position: relative;
	overflow: hidden;
	flex: .4;
	min-height: 30px;
	border-radius: 6px;
	background-color: var( --gsuiSlicer-source-bg );
}
.gsuiSlicer-preview-wave {
	position: absolute;
	height: 100%;
	fill: var( --gsuiSlicer-source-wave );
	border-right: 1px dashed var( --gsuiSlicer-preview-wave-border );
}

/* .......................................................................... */
.gsuiSlicer-slices {
	flex: 1;
	min-height: 100px;
	margin: 10px 0;
	border-radius: 6px;
	overflow: hidden;
	color: #000;
	background-color: var( --gsuiSlicer-slicers-bg );
	box-shadow:
		/*inset 0 0 6px 4px #0002,*/
		inset 0 0 0 1px #0008;
}
.gsuiSlicer-slices-scroll {
	overflow: auto;
	height: 100%;
}
.gsuiSlicer-slices-beatlinesWrap {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.gsuiSlicer-slices-in {
	position: relative;
	height: 100%;
}
.gsuiSlicer-slices-line {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .2;
	pointer-events: none;
}
.gsuiSlicer-slices-line line {
	stroke: currentColor;
	stroke-width: 2px;
	stroke-dasharray: 10 5;
}
.gsuiSlicer-slices-wrap {
	position: relative;
	height: 100%;
	cursor: pointer;
}
.gsuiSlicer-slices-slice {
	position: absolute;
	box-sizing: border-box;
	bottom: 0;
	border: 0 solid var( --gsuiSlicer-slice-border );
	border-width: 3px 1px 0 0;
	border-radius: 6px 6px 0 0;
	background-color: var( --gsuiSlicer-slice-bg );
}
.gsuiSlicer-slices-slice:last-child {
	border-right: 0;
}

/* .......................................................................... */
.gsuiSlicer-menu {
	display: flex;
	height: 20px;
	justify-content: space-between;
	font-size: 14px;
}
.gsuiSlicer-duration,
.gsuiSlicer-step {
	display: flex;
	gap: 6px;
	align-items: center;
	opacity: .6;
	transition: .2s opacity;
	user-select: none;
}
.gsuiSlicer-duration:focus,
.gsuiSlicer-duration:hover,
.gsuiSlicer-step:focus,
.gsuiSlicer-step:hover {
	opacity: 1;
}
.gsuiSlicer-duration-input {
	width: 4ch;
	outline: 0;
	border: 0;
	border-radius: 4px;
	padding: 0 0 0 6px;
	height: 100%;
	color: inherit;
	font-size: inherit;
	background-color: #fff4;
}
.gsuiSlicer-duration-label {
	font-size: 11px;
	pointer-events: none;
}
.gsuiSlicer-step {
	border: 0;
	outline: 0;
	padding: 0;
	font-size: inherit;
	font-family: var( --gsui-font-number );
	color: inherit;
	cursor: pointer;
	background: none;
}
