gsui-slicer {
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	gap: 10px;
	height: 100%;
	min-width: 306px;
	color: var( --gsuiSlicer-color );
	background-color: var( --gsuiSlicer-bg );
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
gsui-slicer[ disabled ] {
	overflow: hidden;
	pointer-events: none;
	filter: grayscale( 1 ) brightness( .4 );
}

/* .......................................................................... */
#gsuiSlicer-waveDefs {
	display: none;
}

/* .......................................................................... */
.gsuiSlicer-source-head,
.gsuiSlicer-source-sample-wrap,
.gsuiSlicer-time,
.gsuiSlicer-preview,
.gsuiSlicer-slices {
	border: 0 solid #0002;
	border-left-width: 8px;
	border-right-width: 8px;
}

/* .......................................................................... */
.gsuiSlicer-currentTime {
	position: absolute;
	z-index: 1;
	inset: 0 auto;
	width: 2px;
	margin-left: -1px;
	background-color: var( --gsui-col-currentTimeCursor );
	pointer-events: none;
}
gsui-slicer[ hidetimes ] .gsuiSlicer-currentTime,
gsui-slicer[ disabled ] .gsuiSlicer-currentTime {
	display: none;
}

/* .......................................................................... */
.gsuiSlicer-source {
	overflow: hidden;
	min-height: 48px;
	flex: .35;
	display: flex;
	flex-direction: column;
	background-color: var( --gsuiSlicer-source-bg );
}
.gsuiSlicer-source-head {
	display: flex;
	align-items: center;
	height: 20px;
	font-size: 11px;
	font-weight: bold;
	padding: 0 4px;
	background-color: #0004;
}
.gsuiSlicer-source-icon {
	margin-right: 6px;
	font-size: 12px;
	opacity: .4;
}
.gsuiSlicer-source-name {
	opacity: .4;
}
.gsuiSlicer-source-name:empty::after {
	content: "no sample loaded...";
	font-style: italic;
	opacity: .5;
}
.gsuiSlicer-missingBufferData .gsuiSlicer-source-name::after {
	content: " (buffer not ready)";
	font-style: italic;
	opacity: .5;
}
.gsuiSlicer-source-sample-wrap {
	flex: 1;
	border-bottom-width: 2px;
}
.gsuiSlicer-source-sample {
	position: relative;
	overflow: hidden;
	height: 100%;
	min-height: 20px;
}
.gsuiSlicer-source-wave {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var( --gsuiSlicer-source-wave );
	pointer-events: none;
}

/* .......................................................................... */
.gsuiSlicer-time {
	overflow: hidden;
	height: 20px;
	min-height: 20px;
	margin-bottom: -10px;
	background-color: var( --gsuiSlicer-source-bg );
}

/* .......................................................................... */
.gsuiSlicer-preview {
	position: relative;
	overflow: hidden;
	flex: .4;
	min-height: 30px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	background-color: var( --gsuiSlicer-source-bg );
}
.gsuiSlicer-preview-wave {
	position: absolute;
	height: 100%;
	fill: var( --gsuiSlicer-source-wave );
	border-right: 1px dashed var( --gsuiSlicer-preview-wave-border );
	transition: background-color .5s;
}
.gsuiSlicer-preview-wave-hl {
	background-color: var( --gsuiSlicer-preview-wave-hl-bg );
	transition: none;
}

/* .......................................................................... */
.gsuiSlicer-slices {
	flex: 1;
	margin-top: -10px;
	min-height: 100px;
	overflow: hidden;
	color: #000;
	border-bottom-width: 2px;
	background-color: var( --gsuiSlicer-slicers-bg );
}
.gsuiSlicer-slices-scroll {
	overflow: auto;
	height: 100%;
}
.gsuiSlicer-slices-beatlinesWrap {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.gsuiSlicer-slices-in {
	position: relative;
	height: 100%;
}
.gsuiSlicer-slices-line {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .2;
	pointer-events: none;
}
.gsuiSlicer-slices-line line {
	stroke: currentColor;
	stroke-width: 2px;
	stroke-dasharray: 10 5;
}
.gsuiSlicer-slices-wrap {
	position: relative;
	height: 100%;
	cursor: pointer;
	touch-action: none;
}
.gsuiSlicer-slices-slice {
	position: absolute;
	box-sizing: border-box;
	bottom: 0;
	border: 0 solid var( --gsuiSlicer-slice-border );
	border-width: 3px 1px 0;
	border-radius: 2px 2px 0 0;
	background-color: var( --gsuiSlicer-slice-bg );
	pointer-events: none;
	filter: grayscale( .5 ) opacity( .8 );
	transition:
		filter .2s,
		background-color .5s;
}
.gsuiSlicer-loaded .gsuiSlicer-slices-slice {
	filter: none;
}
.gsuiSlicer-slices-slice-hl {
	background-color: var( --gsuiSlicer-slice-hl-bg );
	transition: filter .2s;
}

/* .......................................................................... */
.gsuiSlicer-menu {
	display: flex;
	gap: 6px;
	height: 20px;
	justify-content: space-between;
	padding: 0 8px 8px;
	font-size: 14px;
}

/* .......................................................................... */
.gsuiSlicer-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	gap: 6px;
	border: 0;
	outline: 0;
	padding: 0 6px;
	min-width: 32px;
	border-radius: 4px;
	font-size: inherit;
	color: inherit;
	cursor: pointer;
	white-space: nowrap;
	background-color: #fff2;
	user-select: none;
	opacity: .6;
	transition: .2s opacity;
}
.gsuiSlicer-btn-toggle {
	border: 2px solid #fff8;
}
.gsuiSlicer-btn-toggle,
.gsuiSlicer-btn:focus,
.gsuiSlicer-btn:hover {
	opacity: 1;
}

/* .......................................................................... */
.gsuiSlicer-btn-step {
	margin-right: auto;
	font-family: var( --gsui-font-number );
}
