.gsuiSlicer {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 8px;
	min-width: 240px;
	background-color: var( --gsuiSlicer-bg );
}

/* .......................................................................... */
.gsuiSlicer-source {
	flex: .35;
	display: flex;
	flex-direction: column;
}
.gsuiSlicer-source-name {
	height: 1.7em;
	font-size: 12px;
	font-weight: bold;
}
.gsuiSlicer-source-sample {
	flex: 1;
	min-height: 20px;
	background-color: #0002;
}

/* .......................................................................... */
.gsuiSlicer-cropArrows {
	height: 10px;
	background-color: #0003;
}

/* .......................................................................... */
.gsuiSlicer-preview {
	flex: .4;
	min-height: 30px;
	background-color: #0002;
}

/* .......................................................................... */
.gsuiSlicer-slices {
	flex: 1;
	min-height: 100px;
	margin: 10px 0;
	overflow: auto;
	background-color: #4004;
}
.gsuiSlicer-slices-in {
	position: relative;
	height: 100%;
}
.gsuiSlicer-slices-line {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .5;
}
.gsuiSlicer-slices-line line {
	stroke: currentColor;
	stroke-width: 1px;
	stroke-dasharray: 4 2;
}

/* .......................................................................... */
.gsuiSlicer-duration {
	position: relative;
	display: flex;
	gap: 10px;
	height: 20px;
	align-items: center;
	justify-content: center;
	font-size: 14px;
}
.gsuiSlicer-duration-input {
	width: 4ch;
	outline: 0;
	border: 0;
	border-radius: 4px;
	padding: 0 0 0 6px;
	height: 100%;
	color: inherit;
	font-size: inherit;
	background-color: #fff4;
}
.gsuiSlicer-duration-label {
	pointer-events: none;
	user-select: none;
}
.gsuiSlicer-duration-arrow {
	flex: 1;
	height: 2px;
	background-color: currentColor;
	opacity: .3;
	pointer-events: none;
}
.gsuiSlicer-duration-arrow::before {
	content: "";
	position: absolute;
	width: 2px;
	top: 0;
	bottom: 0;
	background-color: currentColor;
}
.gsuiSlicer-duration-arrow:last-child::before {
	right: 0;
}
