gsui-effect {
	background-color: var( --gsuiEffect-head-bg, var( --gsui-item-bg-disabled ) );

	&[ enable ] {
		--gsuiEffect-head-bg: var( --gsui-item-bg );
		--gsuiEffect-head-name-opacity: 1;
	}
}

/* .......................................................................... */
gsui-effect-head {
	display: flex;
	height: 36px;
	box-sizing: border-box;
	border-top: var( --gsui-item-brdtop );
	border-bottom: var( --gsui-item-brdbottom );
	font-size: 12px;

	gsui-toggle {
		width: 20px;
	}
	gsui-help-link {
		align-self: center;
		margin-left: 6px;
	}
	[ data-action="expand" ] {
		width: 20px;
		font-size: 14px;
		opacity: var( --gsuiEffect-head-name-opacity, .5 );

		gsui-effect[ expanded ] & .gsuiIcon {
			rotate: 90deg;
		}
	}
	[ data-action="remove" ] {
		margin-left: auto;
		width: 32px;
		opacity: .3;
		transition: .1s opacity;

		&:hover {
			opacity: 1;
		}
	}
}
gsui-effect-grip {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	font-size: 12px;
	cursor: var( --gsuiCursor-grab );
	opacity: .6;
	background-color: #0002;
	touch-action: none;
}
gsui-effect-name {
	align-self: center;
	padding-left: 6px;
	opacity: var( --gsuiEffect-head-name-opacity, .5 );
}

/* .......................................................................... */
gsui-effect-content {
	display: block;
	height: 0;
	opacity: 0;
	overflow: hidden;
	background-color: var( --gsui-item-more-bg );
	transition: .1s;
	transition-property: height, opacity;

	gsui-effect[ expanded ] & {
		height: 160px;
		opacity: 1;
		border-bottom: var( --gsui-item-brdbottom );
	}
	gsui-effect[ expanded ][ data-type="reverb" ] & {
		height: 180px;
	}
	> * {
		box-shadow: inset 0 0 20px #0000001c;
	}
}

/* .......................................................................... */
gsui-effect-param-row {
	display: flex;
	align-items: center;
	gap: 8px;

	gsui-slider {
		flex: 1;
		height: 10px;
		--gsuiSlider-event-catcher-inset: -4px 0 -4px calc( -52px - 8px );
	}
}
