gsui-effect {
	background-color: var( --gsuiEffect-head-bg, var( --gsui-item-bg-disabled ) );
}
gsui-effect[ enable ] {
	--gsuiEffect-head-bg: var( --gsui-item-bg );
	--gsuiEffect-head-name-opacity: 1;
}

/* .......................................................................... */
.gsuiEffect-head {
	display: flex;
	height: 36px;
	box-sizing: border-box;
	border-top: var( --gsui-item-brdtop );
	border-bottom: var( --gsui-item-brdbottom );
	font-size: 12px;
}
.gsuiEffect-grip {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	font-size: 12px;
	cursor: grab;
	opacity: .6;
	background-color: #0002;
	touch-action: none;
}
.gsuiEffect-expand,
.gsuiEffect-remove {
	width: 20px;
	border: 0;
	padding: 0;
	outline: 0;
	color: inherit;
	font-size: inherit;
	background-color: transparent;
}
.gsuiEffect-expand {
	font-size: 14px;
	opacity: var( --gsuiEffect-head-name-opacity, .5 );
}
gsui-effect[ expanded ] .gsuiEffect-expand::before,
gsui-effect[ expanded ] .gsuiEffect-expand::after {
	rotate: 90deg;
}
.gsuiEffect-remove {
	margin-left: auto;
	width: 32px;
	opacity: .3;
	transition: .1s opacity;
}
.gsuiEffect-remove:hover,
.gsuiEffect-remove:focus {
	opacity: 1;
}
.gsuiEffect-head gsui-toggle {
	width: 20px;
}
.gsuiEffect-name {
	align-self: center;
	padding-left: 6px;
	opacity: var( --gsuiEffect-head-name-opacity, .5 );
}
.gsuiEffect-head gsui-help-link {
	align-self: center;
	margin-left: 6px;
}

/* .......................................................................... */
.gsuiEffect-content {
	height: 0;
	opacity: 0;
	overflow: hidden;
	background-color: var( --gsui-item-more-bg );
	transition: .1s;
	transition-property: height, opacity;
}
gsui-effect[ expanded ] .gsuiEffect-content {
	height: 160px;
	opacity: 1;
	border-bottom: var( --gsui-item-brdbottom );
}
gsui-effect[ expanded ][ data-type="reverb" ] .gsuiEffect-content {
	height: 180px;
}

/* .......................................................................... */
.gsuiEffect-content > * {
	box-shadow: inset 0 0 20px #0000001c;
}

/* .......................................................................... */
.gsuiEffect-param-row {
	display: flex;
	align-items: center;
	gap: 8px;

	output {
		box-sizing: border-box;
		min-width: 52px;
		height: 18px;
		border: 2px solid #0003;
		border-radius: 3px;
		padding: 0 6px;
		text-align: end;
		font-size: 12px;
		font-family: var( --gsui-font-number );
		white-space: nowrap;
		background-color: #0003;

		&::after {
			opacity: .6;
		}
	}
	gsui-slider {
		flex: 1;
		height: 10px;
	}
	.gsuiSlider-eventCatcher {
		inset: -4px 0 -4px calc( -52px - 8px );
	}
}
