gsui-wavetable {
	--gsuiWavetable-wave: #b3a5ea;
	--gsuiWavetable-wave-selected: #8f8;
	position: relative;
	overflow: hidden;
	display: flex;
	height: 100%;
	min-width: 440px;
	min-height: calc( 20px + 226px + 46px + 158px );
	flex-direction: column;
	background-color: var( --gsui-screen-graph );
}

/* .......................................................................... */
.gsuiWavetable-head {
	height: 20px;
	padding: 0 6px;
	background-color: var( --gsui-item-bg );
}
.gsuiWavetable-back {
	border: 0;
	padding: 0;
	font-size: 12px;
	background: none;
	opacity: .6;

	&:hover {
		opacity: 1;
	}
}
.gsuiWavetable-title {
	margin-bottom: 1px;
	font-size: 12px;
	opacity: .5;
}

/* .......................................................................... */
gsui-wavetable gsui-wavetable-graph {
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 110px 0 #0008;
}
.gsuiWavetable-waves {
	min-height: calc( 226px + 46px );

	gsui-dotline {
		color: var( --gsuiWavetable-wave );
	}
}

/* .......................................................................... */
.gsuiWavetable-waves-list {
	position: relative;
	min-height: 46px;

	> * {
		position: absolute;
		overflow: scroll;
		inset: 0;
		display: flex;
		background-color: #0003;
	}
}

/* .......................................................................... */
.gsuiWavetable-wave {
	min-width: 70px;
	height: calc( 100% - 2px * 2 );
	margin: 2px 0 0 2px;
	border-right: 3px solid #0003;
	border-radius: 6px;
	background-color: #282830;
	cursor: pointer;
	--gsui-num-opacity: .3;
	--gsui-svg-cursor: pointer;

	&[ data-selected ] {
		background-color: #493d7b;
		--gsui-num-opacity: .9;
		--gsui-svg-cursor: grab;
	}
	gsui-wavelet-svg {
		flex: 1;
	}
	gs-flex {
		padding: 0 2px;
		font-size: 12px;
		line-height: 1.3;
		background-color: #0001;
	}
	span {
		font-weight: bold;
		margin-bottom: auto;
		opacity: var( --gsui-num-opacity );
	}
	button {
		border: 0;
		padding: 0;
		color: inherit;
		background: none;
		opacity: .2;

		&:hover {
			opacity: .5;
		}
	}
}

/* .......................................................................... */
.gsuiWavetable-posCurves {
	position: relative;
	padding: 6px;
}

/* .......................................................................... */
.gsuiWavetable-posCurves-head {
	min-height: 32px;
}
.gsuiWavetable-keyPreview {
	position: absolute;
	left: 0;
	top: 100%;
	border-radius: 50%;
	background-color: currentColor;
}

/* .......................................................................... */
.gsuiWavetable-posCurve {
	position: relative;
	border-radius: 4px;
	cursor: pointer;
	background-color: #0005;
	opacity: .6;

	&[ data-selected ] {
		cursor: default;
		opacity: 1;

		&::before {
			content: "";
			position: absolute;
			top: calc( 100% + 1px );
			width: 50%;
			left: 25%;
			height: 3px;
			border-radius: 99px;
			background-color: var( --gsuiWavetable-wave );
		}
	}
	.gsuiWavetable-keyPreviews {
		position: absolute;
		inset: auto 5px 100%;
		height: 2px;
	}
	.gsuiWavetable-keyPreview {
		top: 0;
		width: 2px;
		height: 100%;
		margin-left: -1px;
	}
	gsui-dotlinesvg {
		position: absolute;
		overflow: hidden;
		inset: 4px;
		border-radius: inherit;
	}
	svg {
		position: absolute;
		width: 100%;
		height: 100%;
		fill: none;
		stroke: currentColor;
	}
}

/* .......................................................................... */
.gsuiWavetable-posCurve-dur {
	span {
		font-size: 12px;
		font-weight: bold;
		opacity: .5;
	}
	gsui-slider {
		height: 8px;
	}
	.gsuiSlider-eventCatcher {
		top: -15px;
		right: -60px;
	}
	b {
		display: flex;
		align-items: baseline;
		height: 20px;
		gap: .5ch;
		border-radius: 4px;
		padding: 2px 6px;
		font-family: var( --gsui-font-number );
		background-color: #0005;

		&::after {
			content: " Beat";
			font-size: .8em;
			font-weight: normal;
			font-family: var( --gsui-font );
			opacity: .5;
		}
	}
}

/* .......................................................................... */
.gsuiWavetable-posCurves-graph {
	--gsui-pad: 4px;
	position: relative;
	min-height: 100px;
	border-radius: 4px;
	padding: var( --gsui-pad );
	background-color: #0005;

	.gsuiWavetable-keyPreviews {
		position: absolute;
		inset: var( --gsui-pad );
	}
	.gsuiWavetable-keyPreview {
		width: 10px;
		height: 10px;
		margin: -5px 0 0 -5px;
	}
}
.gsuiWavetable-posCurves-graph-waves {
	position: absolute;
	inset: var( --gsui-pad );
	color: var( --gsuiWavetable-wave );
}
.gsuiWavetable-posCurve-wave {
	position: absolute;
	inset: auto 0;
	border-top: 1px solid currentColor;
	opacity: .25;

	&[ data-selected ] {
		color: var( --gsuiWavetable-wave-selected );
		opacity: 1;
	}
}
.gsuiWavetable-posCurves gsui-beatlines {
	inset: var( --gsui-pad );
	color: currentColor;
}
