:root {
	--gsuiLFO-h: 118px;
}

.gsuiLFO {
	display: grid;
	min-height: var( --gsuiLFO-h );
	box-sizing: border-box;
	grid-gap: 6px;
	padding-bottom: 8px;
	grid-template:
		"head head head  head   head  head head" 24px
		".    type delay attack speed amp  .   " 28px
		".    type wave  wave   wave  wave .   " 1fr
		/2px  32px 1fr   1fr    1fr  1fr   2px;
	color: var( --gsuiLFO-txt );
	font-family: var( --gsui-font );
	background-color: var( --gsuiLFO-bg );
	--gsuiSlider-lineColor: var( --gsuiLFO-ctrls-color );
	--gsuiSlider-lineBgColor: var( --gsuiLFO-slider-bg );
}

/* .......................................................................... */
.gsuiLFO-prop {
	display: flex;
	flex-direction: column;
}
.gsuiLFO-propLabel {
	display: flex;
	align-self: center;
	align-items: baseline;
	height: 20px;
	font-size: 12px;
	opacity: .5;
	user-select: none;
}
.gsuiLFO-propValue::before {
	content: "·";
	margin: 0 2px;
}
.gsuiLFO-propValue {
	font-family: var( --gsui-font-number );
}
.gsuiLFO-propContent {
	flex: 1;
	position: relative;
}

/* .......................................................................... */
.gsuiLFO-delay {
	grid-area: delay;
}
.gsuiLFO-attack {
	grid-area: attack;
}
.gsuiLFO-amp {
	grid-area: amp;
}
.gsuiLFO-speed {
	grid-area: speed;
}
.gsuiLFO .gsuiSlider-eventCatcher {
	top: -26px;
	left: -3px;
	right: -3px;
	bottom: -6px;
}

/* .......................................................................... */
.gsuiLFO-head {
	grid-area: head;
	display: flex;
	align-items: center;
	background-color: var( --gsuiLFO-head-bg );
	user-select: none;
}
.gsuiLFO-title {
	font-size: 14px;
	opacity: .3;
}
.gsuiLFO-toggle {
	align-self: normal;
	border: 0;
	margin: 0;
	padding: 0 8px;
	color: var( --gsuiLFO-toggle-off );
	cursor: pointer;
	font-size: 8px;
	background: none;
	transition: .2s color;
}
.gsuiLFO-enable .gsuiLFO-toggle {
	color: var( --gsuiLFO-ctrls-color );
}

/* .......................................................................... */
.gsuiLFO-wave {
	grid-area: wave;
	position: relative;
	border-radius: 4px;
	background-color: var( --gsuiLFO-wave-bg );
}
.gsuiLFO-wave .gsuiPeriodicWave {
	position: absolute;
	top: 6px;
	height: calc( 100% - 12px );
	stroke: var( --gsuiLFO-wave-off );
	stroke-width: 2px;
	transition: stroke .2s;
}
.gsuiLFO-enable .gsuiPeriodicWave {
	stroke: var( --gsuiLFO-ctrls-color );
}

/* .......................................................................... */
.gsuiLFO-type {
	grid-area: type;
}
.gsuiLFO-type .gsuiLFO-propContent {
	display: flex;
	overflow: hidden;
	border-radius: 4px;
	flex-direction: column;
}
.gsuiLFO-typeBtn {
	flex: 1;
	cursor: not-allowed;
	position: relative;
}
.gsuiLFO-enable .gsuiLFO-typeBtn {
	cursor: pointer;
}
.gsuiLFO-typeRadio {
	position: absolute;
	visibility: hidden;
}
.gsuiLFO-typeSVG {
	position: absolute;
	fill: none;
	width: 100%;
	height: 100%;
	stroke: var( --gsuiLFO-wave-off );
	stroke-width: 2px;
	background-color: var( --gsuiLFO-slider-bg );
	transition: .2s;
	transition-property: stroke, background-color;
}
.gsuiLFO-enable .gsuiLFO-typeSVG {
	stroke: var( --gsuiLFO-ctrls-color );
}
.gsuiLFO-typeSVG path {
	transform: scale( .6 );
	transform-origin: center;
}
.gsuiLFO-typeRadio:checked + .gsuiLFO-typeSVG {
	stroke: var( --gsuiLFO-slider-bg );
	background-color: var( --gsuiLFO-wave-off );
}
.gsuiLFO-enable .gsuiLFO-typeRadio:checked + .gsuiLFO-typeSVG {
	background-color: var( --gsuiLFO-ctrls-color );
}
