gsui-lfo {
	display: grid;
	height: 100%;
	min-width: 300px;
	min-height: 76px;
	box-sizing: border-box;
	padding: 6px;
	grid-gap: 6px;
	grid-template:
		"type delay attack speed amp  " 28px
		"type graph graph  graph graph" 1fr
		/32px 1fr   1fr    1fr   1fr;
	font-family: var( --gsui-font );
	background-color: var( --gsui-item-bg );
	--gsuiLFO-cursor: not-allowed;
	--gsuiLFO-input-theme: var( --gsui-col-gain );
	--gsuiLFO-input-col: var( --gsui-slider-col-disabled );
	--gsuiBeatlines-lines: var( --gsuiLFO-input-col );
	--gsuiSlider-lineColor: var( --gsuiLFO-input-theme );
}
gsui-lfo[ lfo="detune" ] {
	--gsuiLFO-input-theme: var( --gsui-col-detune );
}
gsui-lfo[ toggle ] {
	--gsuiLFO-input-col: var( --gsuiLFO-input-theme );
	--gsuiLFO-cursor: pointer;
}

/* .......................................................................... */
.gsuiLFO-prop {
	display: flex;
	flex-direction: column;
}
.gsuiLFO-propLabel {
	display: flex;
	align-self: center;
	align-items: baseline;
	height: 20px;
	font-size: 12px;
	opacity: .5;
}
.gsuiLFO-propLabel span:first-child {
	font-size: 10px;
}
.gsuiLFO-propValue::before {
	content: "·";
	margin: 0 2px;
}
.gsuiLFO-propValue {
	font-family: var( --gsui-font-number );
}
.gsuiLFO-propContent {
	flex: 1;
	position: relative;
}

/* .......................................................................... */
.gsuiLFO-btn {
	position: relative;
	cursor: pointer;
}
.gsuiLFO-btnInput {
	position: absolute;
	visibility: hidden;
}
.gsuiLFO-btnIcon {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .......................................................................... */
.gsuiLFO-prop[ data-prop="delay" ] { grid-area: delay }
.gsuiLFO-prop[ data-prop="attack" ] { grid-area: attack }
.gsuiLFO-prop[ data-prop="speed" ] { grid-area: speed }
.gsuiLFO-prop[ data-prop="amp" ] { grid-area: amp }
gsui-lfo .gsuiSlider-eventCatcher {
	top: -26px;
	bottom: -6px;
}

/* .......................................................................... */
.gsuiLFO-graph {
	grid-area: graph;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	background-color: var( --gsui-screen-graph );
}
.gsuiLFO-ampSigns {
	position: absolute;
	inset: 0;
	width: 10px;
	display: flex;
	flex-direction: column;
}
.gsuiLFO-ampSign {
	flex: 1;
	background-color: var( --gsui-slider-bg );
	cursor: var( --gsuiLFO-cursor );
}
.gsuiLFO-ampSignIcon {
	color: var( --gsuiLFO-input-col );
	font-size: 11px;
}
.gsuiLFO-ampSignRadio:checked + .gsuiLFO-ampSignIcon {
	color: var( --gsui-slider-bg );
	background-color: var( --gsuiLFO-input-col );
}
.gsuiLFO-wave {
	position: absolute;
	inset: 0 -2px 0 8px;
	pointer-events: none;
}
.gsuiLFO-wave gsui-periodicwave {
	position: absolute;
	top: 6px;
	height: calc( 100% - 12px );
	color: var( --gsuiLFO-input-col );
	stroke-width: 2px;
	transition: color .2s;
}

/* .......................................................................... */
.gsuiLFO-type {
	grid-area: type;
}
.gsuiLFO-type .gsuiLFO-propContent {
	display: flex;
	overflow: hidden;
	border-radius: 4px;
	flex-direction: column;
}
.gsuiLFO-typeBtn {
	flex: 1;
	cursor: var( --gsuiLFO-cursor );
}
.gsuiLFO-typeSVG {
	fill: none;
	stroke: var( --gsuiLFO-input-col );
	stroke-width: 2px;
	background-color: var( --gsui-slider-bg );
	transition: .2s;
	transition-property: stroke, background-color;
}
.gsuiLFO-typeRadio:checked + .gsuiLFO-typeSVG {
	stroke: var( --gsui-slider-bg );
	background-color: var( --gsuiLFO-input-col );
}
.gsuiLFO-typeSVG path {
	transform: scale( .6 );
	transform-origin: center;
}
