gsui-lfo {
	container: gsui-lfo-query / size;
	display: block;
	position: relative;
	height: 94px;
	min-height: 94px;
	box-sizing: border-box;
	font-family: var( --gsui-font );
	border-top: var( --gsui-item-brdtop );
	border-bottom: var( --gsui-item-brdbottom );
	background-color: var( --gsui-item-bg );
	--gsuiLFO-previews: none;
	--gsuiLFO-cursor: not-allowed;
	--gsuiLFO-input-theme: var( --gsui-col-gain );
	--gsuiLFO-input-col: var( --gsui-slider-col-disabled );
	--gsuiSlider-lineColor: var( --gsuiLFO-input-theme );

	&[ lfo="detune" ] {
		--gsuiLFO-input-theme: var( --gsui-col-detune );
	}
	&[ toggle ] {
		--gsuiLFO-previews: block;
		--gsuiLFO-input-col: var( --gsuiLFO-input-theme );
		--gsuiLFO-cursor: pointer;
	}
	input {
		position: absolute;
		visibility: hidden;
	}
}

/* .......................................................................... */
.gsuiLFO-in {
	position: absolute;
	inset: 0;
	display: flex;
	padding: 6px;
	gap: 6px;
}

/* .......................................................................... */
.gsuiLFO-props {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 2px;

	> * {
		display: flex;
		align-items: center;
		flex: 1;
		gap: 6px;
		font-size: 12px;
	}
	gs-label {
		min-width: 32px;
	}
	gs-output {
		min-width: 44px;
	}
	gsui-slider {
		flex: 1;
		height: 8px;
		min-width: 40px;
	}
	.gsuiSlider-eventCatcher {
		top: -6px;
		bottom: -6px;
		left: -52px;
	}
}

/* .......................................................................... */
.gsuiLFO-graph {
	position: relative;
	overflow: hidden;
	flex: 2;
	border-radius: 4px;
	background-color: var( --gsui-screen-graph );
}
.gsuiLFO-ampSigns {
	position: absolute;
	inset: 0;
	width: 10px;
	display: flex;
	flex-direction: column;

	> * {
		flex: 1;
		background-color: var( --gsui-slider-bg );
		cursor: var( --gsuiLFO-cursor );

		.gsuiIcon {
			width: 100%;
			height: 100%;
			color: var( --gsuiLFO-input-col );
			font-size: 11px;

			*:checked + & {
				color: var( --gsui-slider-bg );
				background-color: var( --gsuiLFO-input-col );
			}
		}
	}
}
.gsuiLFO-wave {
	position: absolute;
	inset: 0 -2px 0 8px;

	gsui-periodicwave {
		position: absolute;
		top: 6px;
		height: calc( 100% - 12px );
		color: var( --gsuiLFO-input-col );
		stroke-width: 2px;
		transition: color .2s;
	}
}
.gsuiLFO-keyPreviews {
	display: var( --gsuiLFO-previews );
	position: absolute;
	inset: 2px 0 0;

	* {
		position: absolute;
		width: 10px;
		height: 10px;
		margin: -5px 0 0 -5px;
		border-radius: 50%;
		background-color: var( --gsuiLFO-input-col );
	}
}

/* .......................................................................... */
.gsuiLFO-type {
	display: flex;
	overflow: hidden;
	border-radius: 4px;
	flex-direction: column;
	height: 100%;
	min-width: 20px;

	label {
		position: relative;
		flex: 1;
		cursor: var( --gsuiLFO-cursor );
	}
	svg {
		position: absolute;
		width: 100%;
		height: 100%;
		fill: none;
		stroke: var( --gsuiLFO-input-col );
		stroke-width: 2px;
		background-color: var( --gsui-slider-bg );
		transition: .2s;
		transition-property: stroke, background-color;

		*:checked + & {
			stroke: var( --gsui-slider-bg );
			background-color: var( --gsuiLFO-input-col );
		}
		path {
			scale: .6;
			transform-origin: center;
		}
	}
}

/* .......................................................................... */
@container gsui-lfo-query ( orientation: portrait ) {
	.gsuiLFO-in {
		flex-direction: column;
	}
	.gsuiLFO-type {
		flex-direction: row;
		height: 16px;
	}
}
