.gsuiLFO {
	--gsuiLFO-bg: #666;
	--gsuiLFO-txt: #fff;
	--gsuiLFO-head-bg: #555;
	--gsuiLFO-wave-bg: #0004;
	--gsuiLFO-wave-off: #777;
	--gsuiLFO-ctrls-bg: #555;
	--gsuiLFO-ctrls-color: #ff9;
	--gsuiLFO-toggle-off: #fff3;
}
