/* common value */
$gsui_transitionDuration: .2s;

/* gsuiToggle */
$gsuiToggle_circleWidth: 8px;
$gsuiToggle_border: 1px solid rgba( #fff, .25 );
$gsuiToggle_color: #222;
$gsuiToggle_color_on: #87bd42;
$gsuiToggle_boxshadow: 0 2px 1px rgba( #000, .3 );
$gsuiToggle_boxshadow_on: 0 0 10px rgba( $gsuiToggle_color_on, .6 );

/* gsuiSpanEditable */
$gsuiSpanEditable_color: #fff;
$gsuiSpanEditable_color_empty: rgba( $gsuiSpanEditable_color, .2 );

/* gsuiPopup */
$gsuiPopup_backBg: rgba( #000, .6 );
$gsuiPopup_bg: #ddd;
$gsuiPopup_color: #222;
$gsuiPopup_btnBg: #999;
$gsuiPopup_okBg: #4482e8;
$gsuiPopup_padding: .4em;
$gsuiPopup_minWidth: 250px;
$gsuiPopup_radius: 4px;
$gsuiPopup_headerBg: rgba( #000, .5 );
$gsuiPopup_headerBorder: 1px solid rgba( #fff, .6 );
$gsuiPopup_iconInfo: "\f05a";
$gsuiPopup_iconError: "\f06a";
$gsuiPopup_iconPrompt: "\f246"; // f11c
$gsuiPopup_iconWarning: "\f071";
$gsuiPopup_iconConfirm: "\f059";
