.gsuiDrumrows {
	--gsuiDrumrow-bg: #555;
	--gsuiDrumrow-slider-bg: #444;
	--gsuiDrumrow-pan: var( --gsui-col-pan );
	--gsuiDrumrow-gain: var( --gsui-col-gain );
	--gsuiDrumrow-detune: var( --gsui-col-detune );
	--gsuiDrumrow-border: #0002;
	--gsuiDrumrow-color: #fff;
	--gsuiDrumrow-grip-bg: #0001;
	--gsuiDrumrow-toggle-bg: #ffa;
	--gsuiDrumrow-toggleOff-bg: #fff3;
	--gsuiDrumrow-prop-bgHover: #fff2;
}
