.gsuiDrumrows {
	display: flex;
	flex-direction: column;
	font-size: var( --gsuiTimewindow-lineH );
}
.gsuiDrumrows::-webkit-scrollbar {
	display: none;
}

/* .......................................................................... */
.gsuiDrumrows-drop {
	display: none;
	height: 1em;
	order: 1;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
.gsuiDrumrows-dragover > .gsuiDrumrows-drop {
	display: flex;
}
.gsuiDrumrows-dropIn {
	font-size: 24px;
	opacity: .5;
}

/* .......................................................................... */
.gsuiDrumrow {
	--grip-w: 16px;
	--toggle-w: 20px;
	--name-h: 16px;
	--propsExpand-w: 16px;
	--delete-w: 14px;
	--slider-w: 7px;
	--props-h: 1.5em;
	position: relative;
	box-sizing: border-box;
	height: calc( 1em + 1px );
	min-height: calc( 1em + 1px );
	margin-top: -1px;
	border: 0 solid var( --gsuiDrumrow-border );
	border-width: 1px 0;
	background-color: var( --gsuiDrumrow-bg );
	transition: .2s height, .2s min-height, .1s filter;
}
.gsuiDrumrow-mute {
	--gsuiDrumrow-toggle-bg: var( --gsuiDrumrow-toggleOff-bg );
	filter: brightness( .8 ) contrast( .8 );
}
.gsuiDrumrow-open {
	height: calc( 1em + 1px + var( --props-h ) );
	min-height: calc( 1em + 1px + var( --props-h ) );
}

/* .......................................................................... */
.gsuiDrumrow-main {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: var( --grip-w );
	right: 0;
	height: 1em;
	min-height: 1em;
	border-bottom: 1px dashed var( --gsuiDrumrow-border );
}
.gsuiDrumrow-props {
	position: absolute;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 1em;
	left: var( --grip-w );
	right: 0;
	bottom: 0;
}
.gsuiDrumrow-prop {
	outline: 0;
	font-size: 11px;
	font-weight: bold;
	font-family: inherit;
	cursor: pointer;
}
.gsuiDrumrow-propPan { --color: var( --gsuiDrumrow-pan ); }
.gsuiDrumrow-propGain { --color: var( --gsuiDrumrow-gain ); }
.gsuiDrumrow-propDetune { --color: var( --gsuiDrumrow-detune ); }
.gsuiDrumrow-prop + .gsuiDrumrow-prop {
	margin-left: 4px;
}
.gsuiDrumrow-propRadio {
	position: absolute;
	visibility: hidden;
}
.gsuiDrumrow-propSpan {
	color: var( --color );
	padding: 2px 4px;
	border-radius: 3px;
	opacity: 0;
	transition: .1s background-color, .2s opacity;
}
.gsuiDrumrow-propSpanValue {
	font-size: 14px;
	font-family: var( --gsui-font-number );
}
.gsuiDrumrow-open .gsuiDrumrow-propSpan {
	opacity: 1;
}
.gsuiDrumrow-propSpan:focus,
.gsuiDrumrow-propSpan:hover {
	background-color: var( --gsuiDrumrow-prop-bgHover );
}
.gsuiDrumrow-propRadio:checked + .gsuiDrumrow-propSpan {
	color: var( --gsuiDrumrow-bg );
	background-color: var( --color );
}

/* .......................................................................... */
.gsuiDrumrow-grip {
	position: absolute;
	width: var( --grip-w );
	top: 0;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	cursor: grab;
	background-color: var( --gsuiDrumrow-grip-bg );
}
.gsuiDrumrow-grip .gsuiIcon {
	pointer-events: none;
	opacity: .4;
}
.gsuiDrumrow-btnToggle {
	position: absolute;
	left: 0;
	width: var( --toggle-w );
	height: var( --name-h );
	top: 0;
	border: 0;
	outline: 0;
	padding: 0;
	font-size: 8px;
	color: var( --gsuiDrumrow-toggle-bg );
	cursor: pointer;
	background: none;
	transition: .1s opacity;
}
.gsuiDrumrow-name {
	position: absolute;
	top: 0;
	left: var( --toggle-w );
	right: calc( var( --delete-w ) + var( --propsExpand-w ) + 6px );
	height: var( --name-h );
	line-height: var( --name-h );
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	font-weight: bold;
	pointer-events: none;
}
.gsuiDrumrow-nameInfo {
	font-style: italic;
	font-weight: normal;
	opacity: .7;
}

/* .......................................................................... */
.gsuiDrumrow-waveWrap {
	position: absolute;
	overflow: hidden;
	top: var( --name-h );
	left: 0;
	right: calc( var( --slider-w ) * 3 + 8px );
	bottom: 0;
	pointer-events: none;
}
.gsuiDrumrow-wave {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	fill: currentColor;
	opacity: .5;
}
.gsuiDrumrow-startCursor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-right: 2px solid;
	background-image: linear-gradient( 90deg, transparent 0%, currentColor 300% );
	animation-name: gsuiDrumrow-startCursor-anim;
	animation-duration: inherit;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
.gsuiDrumrow-mute .gsuiDrumrow-startCursor {
	visibility: hidden;
}
@keyframes gsuiDrumrow-startCursor-anim {
	from { left: -100%; }
	to { left: 100%; }
}

/* .......................................................................... */
.gsuiDrumrow-detune,
.gsuiDrumrow-pan,
.gsuiDrumrow-gain {
	--gsuiSlider-lineBgColor: var( --gsuiDrumrow-slider-bg );
	position: absolute;
	top: var( --name-h );
	width: var( --slider-w );
	bottom: 2px;
}
.gsuiDrumrow .gsuiSlider-eventCatcher {
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
}
.gsuiDrumrow-detune {
	--gsuiSlider-lineColor: var( --gsuiDrumrow-detune );
	right: calc( 2 * var( --slider-w ) + 6px );
}
.gsuiDrumrow-pan {
	--gsuiSlider-lineColor: var( --gsuiDrumrow-pan );
	right: calc( var( --slider-w ) + 4px );
}
.gsuiDrumrow-gain {
	--gsuiSlider-lineColor: var( --gsuiDrumrow-gain );
	right: 2px;
}

/* .......................................................................... */
.gsuiDrumrow.gsuiDrumrows-dragover .gsuiDrumrow-btnToggle,
.gsuiDrumrow.gsuiDrumrows-dragover .gsuiDrumrow-name,
.gsuiDrumrow.gsuiDrumrows-dragover .gsuiDrumrow-waveWrap {
	opacity: 0;
}
.gsuiDrumrow .gsuiDrumrows-drop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.gsuiDrumrow-btnProps,
.gsuiDrumrow-btnDelete {
	position: absolute;
	right: 0;
	border: 0;
	outline: 0;
	padding: 0;
	width: var( --delete-w );
	height: var( --name-h );
	color: inherit;
	cursor: pointer;
	font-size: 12px;
	background: none;
	opacity: .3;
	transition: .1s opacity;
}
.gsuiDrumrow-btnProps {
	right: calc( var( --delete-w ) + 2px );
	width: var( --propsExpand-w );
	opacity: .5;
}
.gsuiDrumrow-open .gsuiDrumrow-btnProps {
	text-shadow: 0 0 6px;
	opacity: .8;
}
.gsuiDrumrow .gsuiDrumrow-btnProps:hover,
.gsuiDrumrow .gsuiDrumrow-btnProps:focus,
.gsuiDrumrow .gsuiDrumrow-btnDelete:hover,
.gsuiDrumrow .gsuiDrumrow-btnDelete:focus {
	opacity: 1;
}
