.gsuiDrumrows {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	scrollbar-width: none;
	background-color: var( --gsuiDrumrows-bg );
}
.gsuiDrumrows::-webkit-scrollbar {
	display: none;
}

/* .......................................................................... */
.gsuiDrumrows-drop {
	display: none;
	height: 1em;
	order: 1;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
.gsuiDrumrows-dragover > .gsuiDrumrows-drop {
	display: flex;
}
.gsuiDrumrows-dropIn {
	font-size: 24px;
	opacity: .5;
}

/* .......................................................................... */
.gsuiDrumrow {
	--grip-w: 16px;
	--name-h: 45%;
	--toggle-w: 24px;
	--delete-w: 14px;
	position: relative;
	box-sizing: border-box;
	height: calc( 1em + 1px );
	min-height: calc( 1em + 1px );
	margin-top: -1px;
	padding-right: 8px;
	border: 0 solid var( --gsuiDrumrow-border );
	border-width: 1px 0;
	background-color: var( --gsuiDrumrow-bg );
}
.gsuiDrumrow-mute {
	--gsuiDrumrow-name-opacity: .5;
	--gsuiDrumrow-toggle-bg: var( --gsuiDrumrow-toggleOff-bg );
	--gsuiDrumrow-bg: var( --gsuiDrumrow-mute-bg );
}

/* .......................................................................... */
.gsuiDrumrow-grip {
	position: absolute;
	width: var( --grip-w );
	top: 0;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	cursor: grab;
	background-color: var( --gsuiDrumrow-grip-bg );
}
.gsuiDrumrow-grip .gsuiIcon {
	pointer-events: none;
	opacity: .4;
}
.gsuiDrumrow-toggle {
	position: absolute;
	left: var( --grip-w );
	width: var( --toggle-w );
	height: var( --name-h );
	top: 0;
	border: 0;
	outline: 0;
	padding: 0;
	font-size: 8px;
	color: var( --gsuiDrumrow-toggle-bg );
	cursor: pointer;
	background: none;
	transition: .1s opacity;
}
.gsuiDrumrow-name {
	position: absolute;
	left: calc( var( --grip-w ) + var( --toggle-w ) );
	right: var( --delete-w );
	height: var( --name-h );
	top: 0;
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	pointer-events: none;
	opacity: var( --gsuiDrumrow-name-opacity, 1 );
	transition: .1s opacity;
}

/* .......................................................................... */
.gsuiDrumrow-waveWrap {
	position: absolute;
	overflow: hidden;
	top: var( --name-h );
	left: var( --grip-w );
	right: 0;
	bottom: 0;
	pointer-events: none;
}
.gsuiDrumrow-wave {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	fill: currentColor;
	opacity: var( --gsuiDrumrow-name-opacity, .5 );
	transition: .1s opacity;
}
.gsuiDrumrow-startCursor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-right: 2px solid;
	background-image: linear-gradient( 90deg, transparent 0%, currentColor 300% );
	animation-name: gsuiDrumrow-startCursor-anim;
	animation-duration: inherit;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
.gsuiDrumrow-mute .gsuiDrumrow-startCursor {
	visibility: hidden;
}
@keyframes gsuiDrumrow-startCursor-anim {
	from { left: -100%; }
	to { left: 100%; }
}

/* .......................................................................... */
.gsuiDrumrow.gsuiDrumrows-dragover .gsuiDrumrow-toggle,
.gsuiDrumrow.gsuiDrumrows-dragover .gsuiDrumrow-name,
.gsuiDrumrow.gsuiDrumrows-dragover .gsuiDrumrow-waveWrap {
	opacity: 0;
}
.gsuiDrumrow .gsuiDrumrows-drop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.gsuiDrumrow-delete {
	position: absolute;
	right: 0;
	border: 0;
	outline: 0;
	padding: 0;
	width: var( --delete-w );
	height: var( --name-h );
	color: inherit;
	cursor: pointer;
	font-size: 12px;
	background: none;
	opacity: 0;
	transition: .1s opacity;
}
.gsuiDrumrow:hover .gsuiDrumrow-delete {
	opacity: .3;
}
.gsuiDrumrow .gsuiDrumrow-delete:hover,
.gsuiDrumrow .gsuiDrumrow-delete:focus {
	opacity: 1;
}
