gsui-fx-filter {
	display: grid;
	box-sizing: border-box;
	height: 100%;
	min-width: 210px;
	min-height: 160px;
	padding: 8px;
	grid-gap: 8px;
	grid-template:
		"type graph     gain Q     " 1fr
		"type graph     gain detune" 1fr
		"type frequency gain detune" 8px
		/32px 1fr       8px  50px;

	gs-label {
		align-self: center;
		height: 20px;
	}
	.gsuiCurves-curve {
		color: var( --gsui-col-frequency );
		opacity: 1;

		gsui-fx-filter[ off ] & {
			color: currentColor;
			opacity: .25;
		}
	}
}

/* .......................................................................... */
.gsuiFxFilter-area {
	display: flex;
	flex-direction: column;

	> div {
		flex: 1;
	}
	&[ data-area="type" ] {
		grid-area: type;

		> div {
			display: flex;
			overflow: hidden;
			border-radius: 4px;
			flex-direction: column;
		}
	}
	&[ data-area="graph" ] {
		grid-area: graph;

		gs-label {
			align-self: flex-start;
		}
	}
	&[ data-area="gain" ] {
		grid-area: gain;
		--gsuiSlider-lineColor: var( --gsui-col-gain );
	}
	&[ data-area="q" ] {
		grid-area: Q;
		--gsuiSlider-lineColor: var( --gsui-col-Q );
	}
	&[ data-area="detune" ] {
		grid-area: detune;
		margin-top: 16px;
		--gsuiSlider-lineColor: var( --gsui-col-detune );
	}
	&[ data-area="frequency" ] {
		grid-area: frequency;
		--gsuiSlider-lineColor: var( --gsui-col-frequency );
	}
	&[ data-area="gain" ],
	&[ data-area="frequency" ] {
		.gsuiSlider-eventCatcher {
			inset: -8px;
		}
	}
}

/* .......................................................................... */
.gsuiFxFilter-type {
	position: relative;
	flex: 1;
	border: 0;
	outline: 0;
	padding: 0;
	cursor: pointer;
	stroke: var( --gsui-col-gain );
	stroke-width: 1.5px;
	background-color: var( --gsui-slider-bg );

	&:hover,
	&:focus {
		stroke-width: 2px;
	}
	&[ data-selected ] {
		stroke: #222;
		background-color: var( --gsui-col-gain );
	}
	svg {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		fill: transparent;
		stroke: inherit;
		stroke-width: inherit;
		pointer-events: none;
	}
}
