gsui-fx-filter {
	display: grid;
	box-sizing: border-box;
	height: 100%;
	min-width: 210px;
	min-height: 160px;
	padding: 8px;
	grid-gap: 8px;
	grid-template:
		"type graph     gain Q     " 1fr
		"type graph     gain detune" 1fr
		"type frequency gain detune" 8px
		/32px 1fr       8px  50px;

	gs-label {
		align-self: center;
		height: 20px;
	}
}

/* .......................................................................... */
.gsuiFxFilter-area {
	display: flex;
	flex-direction: column;
}
.gsuiFxFilter-area-content {
	flex: 1;
}

/* .......................................................................... */
.gsuiFxFilter-area[ data-area="type" ] {
	grid-area: type;
}
.gsuiFxFilter-area[ data-area="graph" ] {
	grid-area: graph;
}
.gsuiFxFilter-area[ data-area="gain" ] {
	grid-area: gain;
	--gsuiSlider-lineColor: var( --gsui-col-gain );
}
.gsuiFxFilter-area[ data-area="q" ] {
	grid-area: Q;
	--gsuiSlider-lineColor: var( --gsui-col-Q );
}
.gsuiFxFilter-area[ data-area="detune" ] {
	grid-area: detune;
	margin-top: 16px;
	--gsuiSlider-lineColor: var( --gsui-col-detune );
}
.gsuiFxFilter-area[ data-area="frequency" ] {
	grid-area: frequency;
	--gsuiSlider-lineColor: var( --gsui-col-frequency );
}

/* .......................................................................... */
.gsuiFxFilter-area[ data-area="gain" ] .gsuiSlider-eventCatcher,
.gsuiFxFilter-area[ data-area="frequency" ] .gsuiSlider-eventCatcher {
	inset: -8px;
}

/* .......................................................................... */
.gsuiFxFilter-area[ data-area="graph" ] gs-label {
	align-self: flex-start;
}
gsui-fx-filter .gsuiCurves-curve {
	color: currentColor;
	opacity: .25;
}
gsui-fx-filter:not( [ off ] ) .gsuiCurves-curve {
	color: var( --gsui-col-frequency );
	opacity: 1;
}

/* .......................................................................... */
.gsuiFxFilter-area[ data-area="type" ] .gsuiFxFilter-area-content {
	display: flex;
	overflow: hidden;
	border-radius: 4px;
	flex-direction: column;
}
.gsuiFxFilter-areaType-btn {
	position: relative;
	flex: 1;
	border: 0;
	outline: 0;
	padding: 0;
	cursor: pointer;
	stroke: var( --gsui-col-gain );
	stroke-width: 1.5px;
	background-color: var( --gsui-slider-bg );
}
.gsuiFxFilter-areaType-btn:hover,
.gsuiFxFilter-areaType-btn:focus {
	stroke-width: 2px;
}
.gsuiFxFilter-areaType-btnSelected {
	stroke: #222;
	background-color: var( --gsui-col-gain );
}
.gsuiFxFilter-areaType-btn svg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	fill: transparent;
	stroke: inherit;
	stroke-width: inherit;
	pointer-events: none;
}
