gsui-fx-filter {
	display: grid;
	box-sizing: border-box;
	container: gsuiFxFilter / inline-size;
	height: 100%;
	padding: 8px;
	grid-gap: 8px;
	grid-template:
		"type graph     gain Q     " 1fr
		"type graph     gain detune" 1fr
		".    frequency .    .     " 8px
		/32px 1fr       8px  50px;
}

/* .......................................................................... */
.gsuiFxFilter-area {
	display: flex;
	flex-direction: column;
}
.gsuiFxFilter-area-label {
	align-self: center;
	height: 20px;
	font-size: 12px;
	opacity: .5;
}
.gsuiFxFilter-area-content {
	flex: 1;
	position: relative;
}

/* .......................................................................... */
.gsuiFxFilter-areaType {
	grid-area: type;
}
.gsuiFxFilter-areaGraph {
	grid-area: graph;
}
.gsuiFxFilter-areaGain {
	grid-area: gain;
	--gsuiSlider-lineColor: var( --gsuiFxFilter-gain );
}
.gsuiFxFilter-areaQ {
	grid-area: Q;
	--gsuiSlider-lineColor: var( --gsuiFxFilter-Q );
}
.gsuiFxFilter-areaDetune {
	grid-area: detune;
	--gsuiSlider-lineColor: var( --gsuiFxFilter-detune );
}
.gsuiFxFilter-areaFrequency {
	grid-area: frequency;
	--gsuiSlider-lineColor: var( --gsuiFxFilter-frequency );
}
.gsuiFxFilter-areaQ gsui-slider,
.gsuiFxFilter-areaDetune gsui-slider {
	min-height: 40px;
}

/* .......................................................................... */
.gsuiFxFilter-areaGain .gsuiSlider-eventCatcher,
.gsuiFxFilter-areaFrequency .gsuiSlider-eventCatcher {
	inset: -8px;
}

/* .......................................................................... */
.gsuiFxFilter-areaGraph .gsuiFxFilter-area-label {
	align-self: flex-start;
}
.gsuiFxFilter-areaGraph .gsuiFxFilter-area-content {
	border-radius: 4px;
	background-color: rgba( 0, 0, 0, .5 );
}
gsui-fx-filter .gsuiCurves-curve {
	color: currentColor;
	opacity: .25;
}
.gsuiFxFilter-enable .gsuiCurves-curve {
	color: var( --gsuiFxFilter-frequency );
	opacity: 1;
}

/* .......................................................................... */
.gsuiFxFilter-areaType .gsuiFxFilter-area-content {
	display: flex;
	overflow: hidden;
	border-radius: 4px;
	flex-direction: column;
}
.gsuiFxFilter-areaType-btn {
	position: relative;
	flex: 1;
	border: 0;
	outline: 0;
	padding: 0;
	cursor: pointer;
	stroke: var( --gsuiFxFilter-gain );
	stroke-width: 1.5px;
	background-color: var( --gsui-slider-bg );
}
.gsuiFxFilter-areaType-btn:hover,
.gsuiFxFilter-areaType-btn:focus {
	stroke-width: 2px;
}
.gsuiFxFilter-areaType-btnSelected {
	stroke: #222;
	background-color: var( --gsuiFxFilter-gain );
}
.gsuiFxFilter-areaType-btn svg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	fill: transparent;
	stroke: inherit;
	stroke-width: inherit;
	pointer-events: none;
}

/* .......................................................................... */
@container gsuiFxFilter (max-width: 340px) {
	.gsuiCurves-markText {
		display: none;
	}
}
