gsui-noise {
	box-sizing: border-box;
	display: flex;
	align-items: baseline;
	min-width: 380px;
	gap: 8px;
	padding: 6px 10px;
	font-size: 12px;
	background-color: var( --gsui-item-bg );
}

gsui-noise > span {
	opacity: .5;
}
.gsuiNoise-value {
	width: 27px;
	font-weight: bold;
	font-family: var( --gsui-font-number );
}
.gsuiNoise-value::after {
	content: "%";
	font-weight: normal;
}
gsui-noise gsui-slider {
	height: 8px;
}
gsui-noise .gsuiSlider-eventCatcher {
	inset: -10px -8px;
}
gsui-noise gsui-slider[ data-prop="gain" ] {
	width: 80px;
	--gsuiSlider-lineColor: var( --gsui-col-gain );
}
gsui-noise gsui-slider[ data-prop="pan" ] {
	width: 50px;
	--gsuiSlider-lineColor: var( --gsui-col-pan );
}