gsui-noise {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	min-width: 380px;
	gap: 8px;
	padding: 6px 10px;
	font-size: 12px;
	background-color: var( --gsui-item-bg );
}

/* .......................................................................... */
.gsuiNoise-type-txt,
gsui-noise > span {
	opacity: .5;
}

/* .......................................................................... */
.gsuiNoise-type {
	position: relative;
	display: flex;
	align-items: center;
	width: 92px;
	gap: 4px;
}
.gsuiNoise-type-color {
	width: 10px;
	height: 10px;
	border: 1px solid #000c;
	border-radius: 3px;
}
gsui-noise:not( [ toggle ] ) .gsuiNoise-type-color {
	opacity: .3;
}
gsui-noise[ color="white" ] .gsuiNoise-type-color { background-color: #fff }
gsui-noise[ color="pink" ] .gsuiNoise-type-color { background-color: #b04565 }
gsui-noise[ color="brown" ] .gsuiNoise-type-color { background-color: #bd6c40 }
.gsuiNoise-type-txt::after {
	content: " noise";
}
.gsuiNoise-type-select {
	position: absolute;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}
gsui-noise:not( [ toggle ] ) .gsuiNoise-type-select {
	cursor: not-allowed;
}

/* .......................................................................... */
.gsuiNoise-value {
	width: 27px;
	font-weight: bold;
	font-family: var( --gsui-font-number );
}
.gsuiNoise-value::after {
	content: "%";
	font-weight: normal;
}

/* .......................................................................... */
gsui-noise gsui-slider {
	height: 8px;
}
gsui-noise .gsuiSlider-eventCatcher {
	inset: -10px -8px;
}
gsui-noise gsui-slider[ data-prop="gain" ] {
	width: 80px;
	--gsuiSlider-lineColor: var( --gsui-col-gain );
}
gsui-noise gsui-slider[ data-prop="pan" ] {
	width: 50px;
	--gsuiSlider-lineColor: var( --gsui-col-pan );
}