gsui-cmp-player {
	display: flex;
	position: relative;
	overflow: hidden;
	height: 64px;
	border-radius: 6px;
	background-color: #2e355b;
	background-image: linear-gradient( 45deg, #0003, transparent );
}

/* .......................................................................... */
.gsuiCmpPlayer-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	min-width: 42px;
	border: 0;
	outline: 0;
	font-size: 16px;
	text-decoration: none;
	color: #fff4;
	cursor: pointer;
	background-color: #0001;
	transition: color, background-color;
	transition-duration: .2s;
}
.gsuiCmpPlayer-btn:focus-visible,
.gsuiCmpPlayer-btn:hover {
	color: #fff;
	background-color: #0002;
}
.gsuiCmpPlayer-play {
	width: 64px;
	min-width: 64px;
	font-size: 28px;
}
.gsuiCmpPlayer-edit[ href="" ] {
	display: none;
}
.gsuiCmpPlayer-edit i:first-child {
	margin-left: 3px;
}
.gsuiCmpPlayer-edit i:last-child {
	margin-top: 9px;
	margin-left: -3px;
	font-size: 12px;
	text-shadow: -1px -1px 0 #2a3153;
}
.gsuiCmpPlayer-restore {
	color: #fff9;
	background-color: #88f4;
}
.gsuiCmpPlayer-restore:focus-visible,
.gsuiCmpPlayer-restore:hover {
	background-color: #88f8;
}
.gsuiCmpPlayer-delete {
	color: #fff9;
	background-color: #f005;
}
.gsuiCmpPlayer-delete:focus-visible,
.gsuiCmpPlayer-delete:hover {
	background-color: #f227;
}
gsui-cmp-player:not( [ edit ] ) .gsuiCmpPlayer-edit,
gsui-cmp-player:not( [ deletable ] ) .gsuiCmpPlayer-delete,
gsui-cmp-player:not( [ restorable ] ) .gsuiCmpPlayer-restore {
	display: none;
}

/* .......................................................................... */
.gsuiCmpPlayer-body {
	flex: 1;
	display: flex;
	flex-direction: column;
}

/* .......................................................................... */
.gsuiCmpPlayer-text {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10px;
}

/* .......................................................................... */
.gsuiCmpPlayer-name {
	position: relative;
	height: 1.4em;
	line-height: 1.4em;
	font-size: 20px;
	transition: height .2s;
}
gsui-cmp-player[ playing ] .gsuiCmpPlayer-name {
	height: 1.3em;
}
.gsuiCmpPlayer-nameLink {
	position: absolute;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	color: inherit;
	text-overflow: ellipsis;
	text-decoration: none;
}
gsui-cmp-player[ private ] .gsuiCmpPlayer-nameLink::before {
	content: "private";
	box-sizing: border-box;
	margin-right: 6px;
	line-height: 12px;
	padding: 4px 8px;
	border: 2px solid #fff3;
	border-radius: 999px;
	vertical-align: middle;
	font-size: 10px;
	font-weight: bold;
	background-color: #0004;
}

/* .......................................................................... */
.gsuiCmpPlayer-info-wrap {
	position: relative;
	width: 100%;
	height: 20px;
	overflow: hidden;
}
.gsuiCmpPlayer-info {
	position: absolute;
	inset: 0;
	display: flex;
	font-size: 16px;
	font-family: var( --gsui-font-number );
	white-space: nowrap;
	opacity: .7;
}
.gsuiCmpPlayer-time,
.gsuiCmpPlayer-tempo {
	display: flex;
	align-items: baseline;
}
gsui-cmp-player:not( [ playing ] ) .gsuiCmpPlayer-currentTime {
	display: none;
}
.gsuiCmpPlayer-currentTime::after {
	content: "\A0-\A0";
}
.gsuiCmpPlayer-tempo {
	margin-left: 16px;
}
.gsuiCmpPlayer-time .gsuiIcon,
.gsuiCmpPlayer-tempo .gsuiIcon {
	margin-right: 6px;
	opacity: .5;
}
.gsuiCmpPlayer-bpm {
	display: inline-flex;
	align-items: baseline;
}
.gsuiCmpPlayer-bpm::after {
	content: "bpm";
	margin-left: 4px;
	font-size: 11px;
	font-family: var( --gsui-font );
}

/* .......................................................................... */
.gsuiCmpPlayer-slider {
	position: relative;
	overflow: hidden;
	height: 0;
	cursor: pointer;
	transition: .2s;
	transition-property: height;
	background-color: #0003;
}
gsui-cmp-player[ playing ] .gsuiCmpPlayer-slider {
	height: 10px;
}
.gsuiCmpPlayer-sliderValue {
	width: 0;
	height: 100%;
	pointer-events: none;
	background-color: #65b;
}
.gsuiCmpPlayer-sliderInput {
	position: absolute;
	cursor: inherit;
	top: 0;
	margin: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
}
