gsui-beatlines {
	--gsui-deg: 90deg;
	--gsui-bPM: 4em;
	--gsui-sPB: .25em;
	position: absolute;
	inset: 0;
	pointer-events: none;
	color: var( --gsuiBeatlines-lines, #000 );
}
gsui-beatlines[ vertical ] {
	--gsui-deg: 180deg;
}

/* .......................................................................... */
.gsuiBeatlines-bg {
	position: absolute;
	inset: 0;
}
.gsuiBeatlines-measures {
	background-image: repeating-linear-gradient(
		var( --gsui-deg ),
		currentColor,
		currentColor 1px,
		transparent 1px,
		transparent calc( var( --gsui-bPM ) - 1px ),
		currentColor calc( var( --gsui-bPM ) - 1px ),
		currentColor var( --gsui-bPM ) );
}
.gsuiBeatlines-steps {
	opacity: .2;
	background-image: repeating-linear-gradient(
		var( --gsui-deg ),
		currentColor,
		currentColor .5px,
		transparent .5px,
		transparent calc( var( --gsui-sPB ) - .5px ),
		currentColor calc( var( --gsui-sPB ) - .5px ),
		currentColor var( --gsui-sPB ) );
}
.gsuiBeatlines-beats {
	opacity: .75;
	background-image: repeating-linear-gradient(
		var( --gsui-deg ),
		currentColor,
		currentColor .5px,
		transparent .5px,
		transparent calc( 1em - .5px ),
		currentColor calc( 1em - .5px ),
		currentColor 1em );
}
gsui-beatlines[ coloredbeats ] .gsuiBeatlines-beatsBG {
	background-image: repeating-linear-gradient(
		var( --gsui-deg ),
		#0001,
		#0001 1em,
		transparent 1em,
		transparent 2em );
}
