.gsuiBeatlines {
	fill: #000;
	color: #ff5;
}
.gsuiBeatlines rect {
	fill: inherit;
}
.gsuiBeatlines .gsui-step { opacity: .2; }
.gsuiBeatlines .gsui-beat { opacity: .5; }
.gsuiBeatlines .gsui-measure { opacity: .6; }
.gsuiBeatlines .gsui-currentTime {
	fill: currentColor;
	stroke: currentColor;
	stroke-opacity: .1;
	stroke-width: 5px;
}
.gsuiBeatlines .gsui-hlStart,
.gsuiBeatlines .gsui-hlEnd {
	opacity: .25;
}
