gsui-fx-waveshaper {
	container: gsui-fx-waveshaper-query / size;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 8px;
	min-width: 246px;
	min-height: 90px;
	height: 100%;
	padding: 8px;
}
gsui-fx-waveshaper[ off ] {
	color: #fff8;
}

/* .......................................................................... */
.gsuiFxWaveShaper-params {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 10px;
}
.gsuiFxWaveShaper-symmetry,
.gsuiFxWaveShaper-oversample {
	display: flex;
	align-items: center;
	gap: 4px;
}

/* .......................................................................... */
.gsuiFxWaveShaper-oversample select {
	outline: 0;
	cursor: pointer;
	-webkit-appearance: none;
}
.gsuiFxWaveShaper-oversample option {
	font-size: 16px;
	font-family: var( --gsui-font );
	background-color: #333;
}
.gsuiFxWaveShaper-oversample select:hover {
	background-color: #0002;
}
gsui-fx-waveshaper:not( [ symmetry ] ) .gsuiFxWaveShaper-symmetry > span,
gsui-fx-waveshaper[ oversample="none" ] .gsuiFxWaveShaper-oversample > span,
gsui-fx-waveshaper[ oversample="none" ] .gsuiFxWaveShaper-oversample select {
	opacity: .5;
}

/* .......................................................................... */
.gsuiFxWaveShaper-reset {
	margin-left: auto;
	outline: 0;
	font-family: unset;
	cursor: pointer;
}

/* .......................................................................... */
.gsuiFxWaveShaper-in {
	display: flex;
	height: 100%;
	gap: inherit;
}
.gsuiFxWaveShaper-side-graph {
	flex: 2;
}
.gsuiFxWaveShaper-side-waves {
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
}

/* .......................................................................... */
.gsuiFxWaveShaper-graph {
	box-sizing: border-box;
	position: relative;
	height: 100%;
	border: 2px solid #0007;
	border-radius: 6px;
	background-color: var( --gsui-screen-graph );
}
.gsuiFxWaveShaper-graph::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 4px;
	pointer-events: none;
	box-shadow: inset 0 0 30px #0004;
}
.gsuiFxWaveShaper-graph-diag {
	position: absolute;
	top: 4px;
	left: 4px;
	width: calc( 100% - 8px );
	height: calc( 100% - 8px );
	opacity: .2;
}
.gsuiFxWaveShaper-graph-diag line {
	stroke: currentColor;
	stroke-width: 2px;
	stroke-dasharray: 10 5;
}
.gsuiFxWaveShaper-graph-x,
.gsuiFxWaveShaper-graph-y {
	position: absolute;
	background-color: #fff1;
}
.gsuiFxWaveShaper-graph-x {
	inset: 50% 2px;
	height: 1px;
}
.gsuiFxWaveShaper-graph-y {
	inset: 2px 50%;
	width: 1px;
}
.gsuiFxWaveShaper-graph-unit {
	position: absolute;
	height: 16px;
	font-size: 12px;
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
	background-color: var( --gsui-screen-graph );
}
.gsuiFxWaveShaper-graph-unit::before {
	opacity: .2;
}
.gsuiFxWaveShaper-graph-x-plus  { right:  2px; bottom: calc( 50% - 8px ); }
.gsuiFxWaveShaper-graph-x-minus { left:   2px; bottom: calc( 50% - 8px ); }
.gsuiFxWaveShaper-graph-y-plus  { top:    0;   left:   calc( 50% - 20px ); width: 40px; }
.gsuiFxWaveShaper-graph-y-minus { bottom: 0;   left:   calc( 50% - 20px ); width: 40px; }
.gsuiFxWaveShaper-graph-x-plus::before  { content: "in +" }
.gsuiFxWaveShaper-graph-x-minus::before { content: "in -" }
.gsuiFxWaveShaper-graph-y-plus::before  { content: "out +" }
.gsuiFxWaveShaper-graph-y-minus::before { content: "out -" }
gsui-fx-waveshaper[ symmetry ] .gsuiFxWaveShaper-graph-x,
gsui-fx-waveshaper[ symmetry ] .gsuiFxWaveShaper-graph-y,
gsui-fx-waveshaper[ symmetry ] .gsuiFxWaveShaper-graph-x-minus,
gsui-fx-waveshaper[ symmetry ] .gsuiFxWaveShaper-graph-y-minus {
	display: none;
}
gsui-fx-waveshaper[ symmetry ] .gsuiFxWaveShaper-graph-x-plus { bottom: 0 }
gsui-fx-waveshaper[ symmetry ] .gsuiFxWaveShaper-graph-y-plus { left: 2px; width: auto; }
gsui-fx-waveshaper[ symmetry ] .gsuiFxWaveShaper-graph-x-plus::before { content: "in" }
gsui-fx-waveshaper[ symmetry ] .gsuiFxWaveShaper-graph-y-plus::before { content: "out" }

/* .......................................................................... */
.gsuiFxWaveShaper-waves {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	fill: none;
	stroke: currentColor;
	stroke-width: 2px;
	stroke-linejoin: round;
	background-color: #0004;
	scale: 1 -1;
}
.gsuiFxWaveShaper-waveA {
	opacity: .1;
}

/* .......................................................................... */
@container gsui-fx-waveshaper-query ( aspect-ratio < 1 ) {
	.gsuiFxWaveShaper-in {
		flex-direction: column;
	}
}
