:root {
	--gsuiRectSelection-bgColor: rgba(189, 38, 38, .4);
	--gsuiRectSelection-borderColor: #f44;
}

.gsuiRectSelection {
	position: absolute;
	box-sizing: border-box;
	z-index: 2;
	border: 2px solid var(--gsuiRectSelection-borderColor);
	border-radius: 4px;
	background-color: var(--gsuiRectSelection-bgColor);
	transition: .2s;
	transition-property: opacity, visibility;
}
.gsuiRectSelection-hidden {
	opacity: 0;
	visibility: hidden;
}
