gsui-timeline {
	--gsuiTimeline-bg: #222;
	--gsuiTimeline-color: #fff;
	--gsuiTimeline-loop-bg: #656586;
	--gsuiTimeline-lines-bg: #ffffff07;
	--gsuiTimeline-cursor-fill: #fff;
	--gsuiTimeline-loopBorder-bg: #fff;
}
