.gsuiTimeline {
	position: relative;
	display: block;
	height: 100%;
	color: var( --gsuiTimeline-color );
	background-color: var( --gsuiTimeline-bg );
	--gsuiTimeline-beats-offset: 0;
	--gsuiTimeline-beats-incr: 1;
}

/* .......................................................................... */
.gsuiTimeline-steps {
	position: absolute;
	top: calc( 50% - 1px );
	width: 100%;
	height: 2px;
	pointer-events: none;
	background-repeat: no-repeat;
}

/* .......................................................................... */
.gsuiTimeline-beats {
	display: flex;
	height: 100%;
	counter-reset: beat calc( var( --gsuiTimeline-beats-offset ) - var( --gsuiTimeline-beats-incr ) + 1 );
	pointer-events: none;
}
.gsuiTimeline-beat {
	counter-increment: beat var( --gsuiTimeline-beats-incr );
	display: inline-block;
	margin-left: calc( var( --gsuiTimeline-beats-incr ) * 1em );
	opacity: var( --gsuiTimeline-beats-opacity, 0 );
}
.gsuiTimeline-beat:first-child {
	margin-left: calc( var( --gsuiTimeline-beats-offset ) * 1em );
}
.gsuiTimeline-beat::before {
	content: counter( beat );
	position: absolute;
	top: 0;
	bottom: 0;
	width: 52px;
	margin-left: -26px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}
.gsuiTimeline-measure {
	font-weight: bold;
	opacity: 1;
}

/* .......................................................................... */
.gsuiTimeline-loopLine,
.gsuiTimeline-timeLine {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50%;
	transition: .2s background-color;
}
.gsuiTimeline-loopLine:hover,
.gsuiTimeline-timeLine:hover,
.gsuiTimeline-draggingLoopBody .gsuiTimeline-loopLine,
.gsuiTimeline-draggingLoopHandleA .gsuiTimeline-loopLine,
.gsuiTimeline-draggingLoopHandleB .gsuiTimeline-loopLine,
.gsuiTimeline-draggingTime .gsuiTimeline-timeLine {
	background-color: var( --gsuiTimeline-lines-bg );
}
.gsuiTimeline-timeLine {
	top: 50%;
	bottom: 0;
}

/* .......................................................................... */
.gsuiTimeline-cursor,
.gsuiTimeline-cursorPreview {
	position: absolute;
	margin-left: -8px;
	bottom: 1px;
	fill: var( --gsuiTimeline-cursor-fill );
	stroke: var( --gsuiTimeline-cursor-fill );
	stroke-width: 2px;
	stroke-linejoin: round;
	pointer-events: none;
}
.gsuiTimeline-cursorPreview {
	opacity: .5;
}

/* .......................................................................... */
.gsuiTimeline-loop {
	position: absolute;
	height: 6px;
	transition: .1s;
	transition-property: opacity, visibility;
	opacity: 0;
	visibility: hidden;
}
.gsuiTimeline-looping .gsuiTimeline-loop {
	opacity: 1;
	visibility: visible;
}
.gsuiTimeline-loopBody {
	height: 100%;
	transition: filter .2s;
	background-color: var( --gsuiTimeline-loop-bg );
}
.gsuiTimeline-loopBody:hover,
.gsuiTimeline-draggingLoopBody .gsuiTimeline-loopBody {
	filter: brightness( 1.2 );
}
.gsuiTimeline-loopHandleA { left: -5px; }
.gsuiTimeline-loopHandleB { right: -5px; }
.gsuiTimeline-loopHandle {
	position: absolute;
	top: 0;
	bottom: -6px;
	width: 25%;
	min-width: 7px;
	max-width: 12px;
}
.gsuiTimeline-loopBorderA { left: 0; }
.gsuiTimeline-loopBorderB { right: 0; }
.gsuiTimeline-loopBorder {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 2px;
	transition: .2s;
	transition-property: bottom, background-color;
	pointer-events: none;
}
.gsuiTimeline-loopHandle:hover + .gsuiTimeline-loopBorder,
.gsuiTimeline-draggingLoopHandleA .gsuiTimeline-loopBorderA,
.gsuiTimeline-draggingLoopHandleB .gsuiTimeline-loopBorderB {
	bottom: -3px;
	background-color: var( --gsuiTimeline-loopBorder-bg );
}
