gsui-windows {
	--gsuiWindows-overflow: hidden;
	display: block;
	height: 100%;
	position: relative;
	overflow: var( --gsuiWindows-overflow );
	scroll-behavior: smooth;
}

gsui-windows.gsuiWindows-maximized {
	overflow: hidden;
}
