gsui-window {
	--gsuiWindow-radius: 2px;
	--gsuiWindow-head-height: 24px;
	--gsuiWindow-border-width: 2px;
	--gsuiWindow-handler-width: 4px;
	--gsuiWindow-title-opacity: .8;
	position: absolute;
	z-index: 0;
	outline: 0;
	border-radius: var( --gsuiWindow-radius );
	transition: .2s;
	transition-property: opacity, visibility;
}
gsui-window:not( .gsuiWindow-show ) {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
gsui-window:focus-within {
	--gsuiWindow-title-opacity: 1;
	--gsuiWindow-border-color: var( --gsuiWindow-focused-border-color );
}
.gsuiWindow-maximized {
	--gsuiWindow-radius: 0;
	inset: 0;
	overflow: hidden;
}
.gsuiWindow-handlers::before,
gsui-window:not( .gsuiWindow-dragging ),
.gsuiWindows-lowGraphics .gsuiWindow-dragging {
	box-shadow: 0 0 0
		var( --gsuiWindow-border-width )
		var( --gsuiWindow-border-color );
}

/* .......................................................................... */
.gsuiWindow-handlers {
	position: absolute;
	opacity: 0;
	inset: 0;
	margin: calc( var( --gsuiWindow-handler-width ) * -1 );
}
.gsuiWindow-handlers::before {
	content: "";
	z-index: 1;
	position: absolute;
	pointer-events: none;
	border-radius: var( --gsuiWindow-radius );
	inset: var( --gsuiWindow-handler-width );
}
.gsuiWindow-dragging .gsuiWindow-handlers {
	opacity: 1;
}
.gsuiWindow-maximized .gsuiWindow-handlers,
.gsuiWindow-minimized .gsuiWindow-handler {
	display: none;
}
.gsuiWindow-handler {
	position: absolute;
	width: calc( var( --gsuiWindow-handler-width ) * 2 );
	height: calc( var( --gsuiWindow-handler-width ) * 2 );
}
.gsuiWindow-handler[ data-dir="nw" ] { cursor: nw-resize; top: 0; left: 0; }
.gsuiWindow-handler[ data-dir="ne" ] { cursor: ne-resize; top: 0; right: 0; }
.gsuiWindow-handler[ data-dir="sw" ] { cursor: sw-resize; bottom: 0; left: 0; }
.gsuiWindow-handler[ data-dir="se" ] { cursor: se-resize; bottom: 0; right: 0; }
.gsuiWindow-handler[ data-dir="n" ] { cursor: n-resize; top: 0; width: 100%; }
.gsuiWindow-handler[ data-dir="w" ] { cursor: w-resize; left: 0; height: 100%; }
.gsuiWindow-handler[ data-dir="e" ] { cursor: e-resize; right: 0; height: 100%; }
.gsuiWindow-handler[ data-dir="s" ] { cursor: s-resize; bottom: 0; width: 100%; }

/* .......................................................................... */
.gsuiWindow-wrap {
	position: absolute;
	overflow: hidden;
	inset: 0;
	border-radius: inherit;
}
.gsuiWindow-head {
	display: flex;
	position: absolute;
	inset: 0;
	height: var( --gsuiWindow-head-height );
	color: var( --gsuiWindow-color );
	background-color: var( --gsuiWindow-head-bg );
	user-select: none;
	-webkit-user-select: none;
}
.gsuiWindow-dragging .gsuiWindow-head {
	cursor: move;
}
.gsuiWindow-minimized .gsuiWindow-head {
	border-radius: inherit;
}
.gsuiWindow-content {
	position: absolute;
	overflow: auto;
	inset: var( --gsuiWindow-head-height ) 0 0;
	background-color: var( --gsuiWindow-bg );
}
.gsuiWindow-minimized .gsuiWindow-content {
	display: none;
}

/* .......................................................................... */
.gsuiWindow-icon,
.gsuiWindow-title {
	opacity: var( --gsuiWindow-title-opacity );
	transition: .2s opacity;
}
.gsuiWindow-icon {
	border: 0;
	padding: 0;
	outline: 0;
	width: 24px;
	min-width: 24px;
	color: inherit;
	cursor: inherit;
	font-size: 12px;
	background: none;
}
.gsuiWindow-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 11px;
	font-weight: bold;
	line-height: var( --gsuiWindow-head-height );
}
.gsuiWindow-headContent {
	flex: 1;
	display: flex;
	align-items: center;
	padding-left: .5em;
}
.gsuiWindow-headBtns {
	height: 100%;
	display: flex;
	margin-left: auto;
	align-items: center;
}

/* .......................................................................... */
.gsuiWindow-headBtn {
	border: 0;
	padding: 0;
	outline: 0;
	width: var( --gsuiWindow-head-height );
	height: 100%;
	cursor: pointer;
	color: inherit;
	font-size: 10px;
	opacity: .6;
	transition: .2s;
	transition-property: opacity, background-color;
	background: none;
}
.gsuiWindow-headBtn:focus-visible,
.gsuiWindow-headBtn:hover {
	opacity: 1;
	background-color: rgba( 0, 0, 0, .1 );
}
.gsuiWindow-headBtn[ data-icon="close" ] {
	font-size: 12px;
}
.gsuiWindow-headBtn[ data-icon="close" ]:focus-visible,
.gsuiWindow-headBtn[ data-icon="close" ]:hover {
	background-color: var( --gsuiWindow-btn-close-color );
}
.gsuiWindow-minimized .gsuiWindow-headBtn[ data-icon="minimize" ],
.gsuiWindow-maximized .gsuiWindow-headBtn[ data-icon="maximize" ],
gsui-window:not( .gsuiWindow-minimized ):not( .gsuiWindow-maximized )
.gsuiWindow-headBtn[ data-icon="restore" ] {
	display: none;
}
