gsui-window {
	--gsuiWindow-radius: 2px;
	--gsuiWindow-head-height: 24px;
	--gsuiWindow-border-width: 2px;
	--gsuiWindow-handler-width: 4px;
	--gsuiWindow-title-opacity: .8;
	--gsuiWindow-border: var( --gsui-win-brd );
	position: absolute;
	z-index: 0;
	outline: 0;
	border-radius: var( --gsuiWindow-radius );
	transition: .2s;
	transition-property: opacity, visibility;

	&:not( [ show ] ) {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
	&:focus-within {
		--gsuiWindow-title-opacity: 1;
		--gsuiWindow-border: var( --gsui-win-brd-foc );
	}
	&[ maximized ] {
		--gsuiWindow-radius: 0;
		overflow: hidden;
		inset: 0 !important;     /* stylelint-disable-line declaration-no-important */
		width: auto !important;  /* stylelint-disable-line declaration-no-important */
		height: auto !important; /* stylelint-disable-line declaration-no-important */
	}
	&[ minimized ] {
		height: 24px !important; /* stylelint-disable-line declaration-no-important */
	}
}
.gsuiWindow-handlers::before,
gsui-window:not( [ dragging ] ) {
	box-shadow: 0 0 0
		var( --gsuiWindow-border-width )
		var( --gsuiWindow-border );
}

/* .......................................................................... */
.gsuiWindow-handlers {
	position: absolute;
	opacity: 0;
	inset: 0;
	margin: calc( var( --gsuiWindow-handler-width ) * -1 );
	touch-action: none;

	&::before {
		content: "";
		z-index: 1;
		position: absolute;
		pointer-events: none;
		border-radius: var( --gsuiWindow-radius );
		inset: var( --gsuiWindow-handler-width );
	}
	gsui-window[ dragging ] & {
		opacity: 1;
	}
}
gsui-window[ maximized ] .gsuiWindow-handlers,
gsui-window[ minimized ] .gsuiWindow-handler {
	display: none;
}
.gsuiWindow-handler {
	position: absolute;
	width: calc( var( --gsuiWindow-handler-width ) * 2 );
	height: calc( var( --gsuiWindow-handler-width ) * 2 );

	&[ data-dir="nw" ] { cursor: nw-resize; top: 0; left: 0; }
	&[ data-dir="ne" ] { cursor: ne-resize; top: 0; right: 0; }
	&[ data-dir="sw" ] { cursor: sw-resize; bottom: 0; left: 0; }
	&[ data-dir="se" ] { cursor: se-resize; bottom: 0; right: 0; }
	&[ data-dir="n" ] { cursor: n-resize; top: 0; width: 100%; }
	&[ data-dir="w" ] { cursor: w-resize; left: 0; height: 100%; }
	&[ data-dir="e" ] { cursor: e-resize; right: 0; height: 100%; }
	&[ data-dir="s" ] { cursor: s-resize; bottom: 0; width: 100%; }
}

/* .......................................................................... */
.gsuiWindow-wrap {
	position: absolute;
	overflow: hidden;
	inset: 0;
	border-radius: inherit;
}
.gsuiWindow-head {
	display: flex;
	position: absolute;
	inset: 0;
	height: var( --gsuiWindow-head-height );
	background-color: var( --gsui-head2-bg );
	touch-action: none;

	gsui-window[ dragging ] & {
		cursor: move;
	}
	.gsuiWindow-minimized & {
		border-radius: inherit;
	}
}
.gsuiWindow-content {
	position: absolute;
	overflow: auto;
	inset: var( --gsuiWindow-head-height ) 0 0;
	background-color: var( --gsui-app-bg );

	.gsuiWindow-minimized & {
		display: none;
	}
}

/* .......................................................................... */
.gsuiWindow-icon,
.gsuiWindow-name {
	opacity: var( --gsuiWindow-title-opacity );
	transition: .2s opacity;
}
.gsuiWindow-icon {
	border: 0;
	padding: 0;
	outline: 0;
	width: 24px;
	min-width: 24px;
	color: inherit;
	cursor: inherit;
	font-size: 12px;
	background: none;
}
.gsuiWindow-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 11px;
	font-weight: bold;
	line-height: var( --gsuiWindow-head-height );
}
.gsuiWindow-headContent {
	flex: 1;
	display: flex;
	align-items: center;
	padding-left: .5em;
	gap: 6px;
}
.gsuiWindow-headBtns {
	height: 100%;
	display: flex;
	margin-left: auto;
	align-items: center;
}

/* .......................................................................... */
.gsuiWindow-headBtn {
	border: 0;
	padding: 0;
	outline: 0;
	width: var( --gsuiWindow-head-height );
	height: 100%;
	color: inherit;
	font-size: 10px;
	opacity: .6;
	transition: .2s;
	transition-property: opacity, background-color;
	background: none;

	&:focus-visible,
	&:hover {
		opacity: 1;
		background-color: rgba( 0, 0, 0, .1 );
	}
	.gsuiIcon[ data-icon="compress" ],
	.gsuiIcon[ data-icon="expand" ],
	&[ data-action="close" ] {
		font-size: 12px;
	}
	&[ data-action="close" ]:focus-visible,
	&[ data-action="close" ]:hover {
		background-color: var( --gsui-win-close );
	}
	gsui-windows[ nominimize ] &[ data-action="minimize" ],
	gsui-windows[ nominimize ] &[ data-action="restore" ] .gsuiIcon[ data-icon="restore" ],
	gsui-windows[ nominimize ] &[ data-action="maximize" ] .gsuiIcon[ data-icon="maximize" ],
	gsui-windows:not( [ nominimize ] ) &[ data-action="restore" ] .gsuiIcon[ data-icon="restore" ],
	gsui-windows:not( [ nominimize ] ) &[ data-action="maximize" ] .gsuiIcon[ data-icon="expand" ],
	gsui-window[ minimized ] &[ data-action="minimize" ],
	gsui-window[ maximized ] &[ data-action="maximize" ],
	gsui-window:not( [ minimized ] ):not( [ maximized ] ) &[ data-action="restore" ] {
		display: none;
	}
}
